<div class="root">
  <div class="confirm-card card text-center">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Email confirmation needed</h4>
      <p class="card-text">
        A confirmation email has been sent to <br> <b>{{email}}</b>. <br>
        Please check your inbox. 
      </p>
      <p>
        Haven't received the confirmation email? <br>
        <a href="#resend"> Resend confirmation email</a>
      </p>
      <a name="" id="" class="home-button btn btn-primary float-right" href="#" role="button">
        Go home
      </a>
    </div>
  </div>
</div>