.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
}

.card-text {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.confirm-card {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 800px) {
    .confirm-card {
        max-width: 50%;
    }
}

.home-button {
    margin-top: 30px;
}