<div *ngIf="investment !== undefined" class="container">
    <div class="row mb-5">
        <div class="col-md-12 mt-3">
            <h4>{{ investment.project.name }}</h4>
        </div>
        <div *ngIf="isCancelable" class="float-right w-100">
            <app-action-button text="Cancel" loadingText="Cancelling investment..."
                               [onClick]="cancelInvestment.bind(this)">
            </app-action-button>
        </div>
        <div class="col-md-12">
            <hr/>
        </div>
        <div class="col-md-12 mt-1">
            <div class="explainer-mini text-uppercase">
                Investment transactions
            </div>
            <ul class="list-group mt-3">
                <li *ngFor="let tx of investment.transactions" class="list-group-item">
					<span class="float-left explainer-mini">
						{{ tx.amount | currencyDefault }} <i>on</i> {{ tx.date | date:'medium' }}
					</span>
                    <span class="float-right cursor-pointer">
						<i class="fas fa-file-pdf"></i>
					</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="explainer-mini text-uppercase mb-3">
        Investment details
    </div>
</div>

<div *ngIf="investment !== undefined">
    <app-offer-details [isPortfolioView] = "true" [investmentData] = "investment"></app-offer-details>
</div>
