<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div *ngFor="let image of headerImages; let i=index;" class="carousel-item" 
		[class.active]="i == 0">
		<img class="d-block w-100" src="{{image}}" alt="First slide">
	</div>
</div>
<a class="carousel-control-prev" role="button" data-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" role="button" data-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
</div>
<div class="container root-content-container wow fadeIn content-invest">
	<div class="row">
		<div class="col-md-12">
			<h1>Project name</h1>
		</div>
		<p class="col-md-12 text-justify">
			My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
		</p>

		<div class="col-md-12 mt-5 mb-4">
			<span class="h5 text-uppercase align-middle">Proposals</span>
			<a routerLink="new_proposal" class="btn btn-primary float-right text-white">New Proposal</a>
		</div>
		
		<div class="col-md-6 mb-1" *ngFor="let proposal of proposals">
			<app-single-proposal-item [proposal]=proposal></app-single-proposal-item>
		</div>
	</div>
	
</div>