<nav class="public-header navbar navbar-collapse navbar-dark bg-light pt-2">
    <div class="ml-2 ml-md-4">
        <a class="navbar-brand" [routerLink]="'/' | coopPath">
            <img alt="Logo" src="{{ appConfigService.config.logo }}">
        </a>
    </div>
    <div *ngIf="!onlyLogo" id="auth-buttons" class="flex__center">
        <button class="btn mr-md-3 mr-2"
                [routerLink]="'/auth/sign_up' | coopPath">{{ 'header.sign_up' | translate }}</button>

        <button class="btn btn-grey"
                [routerLink]="'/auth/sign_in' | coopPath">{{ 'header.sign_in' | translate }}</button>
    </div>
</nav>
