@import "../colors";
@import "bootstrap/scss/mixins/alert";

@mixin alert-colors($background, $color) {
  background-color: $background;
  color: $color;
  border: none;
  svg {
    color: $color;
  }
  .btn {
    background-color: $color;
    border: none;
  }
}

.alert {
  padding: 20px 10px 20px 18px;
  border-radius: 1px;
  font-size: $font-size-desktop-small;
  justify-content: space-between;
  min-height: 48px;

  b {
    font-size: $font-size-desktop-small;
  }
  svg {
    margin-right: 15px;
    font-size: 24px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 64px;
    font-size: $font-size-desktop-body;
    justify-content: flex-start;
    
    b {
      font-size: $font-size-desktop-body;
    }
  }

  &-small {
    @include media-breakpoint-up(lg) {
      min-height: 48px;
    }
  }

  &-success {
    @include alert-colors($success-color-bg, $success-color);
  }
  &-warning {
    @include alert-colors($warning-color-bg, $warning-color);
    svg {
      font-size: 16px;
    }
  }
  &-danger {
    @include alert-colors($error-color-bg, $error-color);
  }
  &-info {
    @include alert-colors(lighten($primary-color, 45%), $primary-color);
  }
}
