<div class="container root-content-container">
  <h5 class="text-uppercase gray-text"><b>Create a new project</b></h5>
  <form [formGroup]="createProjectForm" class="mb-5" >
    <div class="explainer-mini text-uppercase mb-2 mt-3">Project name</div>
    <input formControlName="name" type="text" class="w-100 px-2 py-2 form-control" name="" id="">

    <div class="explainer-mini text-uppercase mb-2 mt-3">Project description</div>
    <textarea formControlName="description" class="w-100 form-control" name="" id="" cols="30" rows="10"></textarea>

    <div class="explainer-mini text-uppercase mb-2 mt-3">Project name</div>
    <input type="text" class="w-100 px-2 py-2 form-control" name="" id="">

    <div class="explainer-mini text-uppercase mb-2 mt-3">Project location</div>
    <here-map lat="37.7397" lng="-121.4252" width="100%" height="300px"></here-map>

    <div class="explainer-mini text-uppercase mb-2 mt-3">Location colloquial name</div>
    <input formControlName="colloqual" type="text" class="w-100 px-2 py-2 form-control" name="" id="">

    <div class="explainer-mini text-uppercase mb-2 mt-3">Start date</div>
    <input formControlName="startDate" type="date" class="w-100 px-2 py-2 form-control" name="" id="">

    <div class="explainer-mini text-uppercase mb-2 mt-3">End date</div>
    <input formControlName="endDate" type="date" class="w-100 px-2 py-2 form-control" name="" id="">

    <div class="explainer-mini text-uppercase mb-2 mt-3">Expected funding</div>
    <input formControlName="expectedFunding" type="number" class="w-100 px-2 py-2 form-control" name="" id="">

    <div class="explainer-mini text-uppercase mb-2 mt-3">Minimum investment per user</div>
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">€</span>
      </div>
      <input formControlName="minPerUser" type="number" class=" px-2 py-2 form-control" name="" id="">
    </div>

    <div class="explainer-mini text-uppercase mb-2 mt-3">Maximum investment per user</div>
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">€</span>
      </div>
      <input formControlName="maxPerUser" type="number" class=" px-2 py-2 form-control" name="" id="">
    </div>

    <button type="submit" (click)="submitForm()"
        class="btn btn-primary float-right mt-3 mb-5 pt-3 pb-3 pl-5 pr-5 text-uppercase"
        (click)="submitButtonClicked()">
        <i class="mr-3 fas fa-plus"></i>
          Create
    </button>
  </form>
</div>

