<div class="container root-content-container">
  <h5 class="text-uppercase gray-text"><b>Create a new project</b></h5>
  <form >
    <div class="explainer-mini text-uppercase mb-2 mt-3">Project name</div>
    <input type="text" class="w-100 px-2 py-2" name="" id="">
    <div class="explainer-mini text-uppercase mb-2 mt-3">Project description</div>
    <textarea class="w-100" name="" id="" cols="30" rows="10"></textarea>
    <div class="explainer-mini text-uppercase mb-2 mt-3">Project name</div>
    <input type="text" class="w-100 px-2 py-2" name="" id="">
    <div class="explainer-mini text-uppercase mb-2 mt-3">Project location</div>
    <here-map lat="37.7397" lng="-121.4252" width="100%" height="300px"></here-map>
    <div class="explainer-mini text-uppercase mb-2 mt-3">Location colloquial name</div>
    <input #datePicker type="text" class="w-100 px-2 py-2" name="" id="">
  </form>
</div>

