<div class="container root-content-container">
  
  <div class="row">
    <div class="col-md-12 mb-5">
      <h5 class="text-uppercase font-weight-bold gray-text">Main admin</h5>
    </div>

    <div class="col-md-12 mb-3">Mint Tokens</div>

    <div class="input-group mb-3 col-md-12">
      <input id="mint-amount" type="number" class="form-control" placeholder="Amount in Euro" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 col-md-12">
      <input type="number" class="form-control" placeholder="Recipient Address" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 col-md-12">
      <input type="number" class="form-control" placeholder="Transaction ID" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 col-md-12">
      <input type="number" class="form-control" placeholder="Notes" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="col-md-4">
      <div class="btn btn-primary w-100">Mint</div>
    </div>

    <div class="col-md-12 mt-5 mb-3">Approve Users</div>

  </div>

</div>