.header-container {
	height: 150px;
	position: absolute;
	top: 0;
	width: 100vw;
	left: 0;
	z-index: 20000;
	background: linear-gradient(
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.2),
		rgba(0,0,0,0.05),
		rgba(0,0,0,0)
	)
}