<div (click)="onClickedItem()" class="card cursor-pointer color-hover investment-item-card-holder" 
  [style.background]="getImageAsURL()">
  <div class="card-body">
    <div class="card-title text-uppercase">
      <div>
        <span class="float-left font-weight-bold">{{investment.project.name}}</span>
      </div>
    </div>
    <div class="mt-4">
      <hr>
    </div>
    <div class="card-text">
      <div class="row justify-content-between">
        <div class="col-md-6 mt-3">
          <div class="explainer-mini text-white">
            <i class="fas fa-chart-pie mr-2"></i>
            Amount invested
          </div>
          <div class="h6 font-weight-bold mt-2">
            {{investment.investment}} {{investment.project.currency}}
          </div>
        </div>
        <div *ngIf="investment.project.roi != undefined" class="col-md-6 mt-3">
          <div class="explainer-mini text-white">
            <i class="fas fa-percentage mr-2"></i>
            Expected yearly return
          </div>
          <div class="h6 font-weight-bold mt-2">
            {{investment.project.roi.from}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>