<div class="row root-content-container">

	<div class="col-md-12 mt-2 mb-3 explainer-mini text-uppercase">
		Users pending approval
	</div>

	<div *ngFor="let pendingUser of pendingUsers" class="col-lg-6 mb-3">
		<div class="card px-3 cursor-pointer" (click)="onUserClicked()">
			<div class="card-body d-flex flex-column gray-text">
				<div class="d-flex flex-row justify-content-between text-left">
					<div>
						<div class="explainer-mini text-uppercase mb-2">Name</div>
						<b>{{pendingUser.name}}</b>
					</div>
					<div>
						<div class="explainer-mini text-uppercase mb-2">Contact</div>
						{{pendingUser.contact}}
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

