<h1 class="app-page-header">FORGOT PASSWORD</h1>

<p class="w-75 mx-auto">
    Enter your email address and we'll send you instructions to reset your password.
</p>

<div class="dropdown-divider"></div>

<form [formGroup]="forgotPasswordForm" id="emailForm">
    <label for="email" class="app-page-label">Email</label>
    <input class="form-control p-4"
           formControlName="email" id="email"
           placeholder="john.smith@email.com"
           type="text">

    <button app-action-button
            text="Submit"
            [onClick]="onSubmitEmailForm.bind(this)"
            [disabled]="!forgotPasswordForm.dirty || !forgotPasswordForm.valid"
            class="btn btn-primary w-100 mt-3">
    </button>
</form>
