<app-header [onlyLogo]="true"></app-header>
<div id="top-container">
    <div class="content-container mt-5">
        <div class="col-md-6 card p-5 m-auto mt-5">
            <div id="card-content">
                <h1>FORGOT PASSWORD</h1>
                <div class="dropdown-divider mt-4"></div>

                <form (ngSubmit)="submitButton.click()" [formGroup]="forgotPasswordForm">
                    <label class="w-100">Enter your email address
                        <input class="form-control mt-3 p-4"
                               formControlName="email"
                               placeholder="Email"
                               type="text">
                    </label>
                    <app-action-button text="Submit"
                                       #submitButton
                                       loadingText="Loading..."
                                       [disabled]="forgotPasswordForm.invalid"
                                       [onClick]="onSubmitEmailForm.bind(this)"
                                       buttonClass="btn btn-primary w-100 mt-3 py-3">
                    </app-action-button>
                </form>

            </div>
        </div>
    </div>
</div>
