<div class="row credit-card">
  <div class="input-group mb-3 col-md-6">
    <input type="text" class="form-control" placeholder="First name" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3 col-md-6">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3 col-md-3">
    <input type="text" class="form-control" placeholder="City" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3 col-md-9">
    <input type="text" class="form-control" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3 col-md-8">
    <input type="number" class="form-control" placeholder="Credit Card Number" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3 col-md-4">
    <input type="number" class="form-control" placeholder="CVV" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3 col-md-12">
    <input type="date" class="form-control" placeholder="Expiry" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary btn-action-a w-25 float-right text-uppercase">Add</button>
  </div>
</div>