<div class="list-group">
	<button *ngFor="let historyItem of txHistoryModel" class="list-group-item list-group-item-action">
		<div class="row">
			<div class="col-md-3 h-100">
				<i class="align-middle fas fa-arrow-circle-down"></i>
			</div>
			<div class="col-md-3 ml-3">
				<p class="explainer-mini mb-0 text-uppercase">Date</p>
				{{historyItem.date.toDateString()}}
			</div>
			<div class="col-md-3">
				<p class="explainer-mini mb-0 text-uppercase">Amount</p>
				{{historyItem.amount}}
			</div>
		</div>
	</button>
</div>
