<div class="container root-content-container">
  <div class="row">
    <div *ngIf="hasNoBankAccounts" class="col-md-12 text-center mb-5 mt-3 h6 gray-text">
      You currenty have no bank accounts registered.
    </div>
    <div class="col-md-12">
      <div class="explainer-mini text-uppercase">
        Enter bank account details
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <input class="form-control w-100" type="text" name="" id="iban-holder" placeholder="IBAN">
      <input class="form-control w-100 mt-2" type="text" name="" id="bankcode-holder" placeholder="SWIFT/BIC (Optional)">
    </div>
    <div class="col-md-12 mt-3">
      <button (click)="addNewBankAccountClicked()" class="btn btn-primary py-3 w-100">
        <i class="fas fa-plus-circle mr-2"></i>
        Add new bank account
      </button>
    </div>
  </div>
</div>