<div class="container root-content-container">

  <div class="row">
    <h4 class="col-md-12 mt-3">Add new payment option</h4>

    <div class="col-md-12 mt-3">
      <ul class="tab-holder nav nav-pills">
        <li class="nav-item">
          <a id="credit-card-nav-tab" (click)="tabToggle(0)" 
            data-show="credit-card-input" class="nav-link active">
            <i class="fas fa-credit-card mr-2"></i>
            <span>Credit Card</span>
          </a>
        </li>
        <li class="nav-item">
          <a id="bank-account-nav-tab" (click)="tabToggle(1)"
             data-show="bank-account-input" class="nav-link">
            <i class="fas fa-university mr-2"></i>
            <span>Bank Account</span>
          </a>
        </li>
        <li class="nav-item">
          <a id="bank-account-nav-tab" (click)="tabToggle(2)" class="nav-link">
            <i class="fas fa-globe mr-2"></i>
            <span>PayPal</span>
          </a>
        </li>
        <li class="nav-item">
          <a id="bank-account-nav-tab" (click)="tabToggle(3)" class="nav-link">
            <i class="fas fa-globe mr-2"></i>
            <span>Cryptocurrency</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Option content container -->
    <div class="col-md-12 option-content-holder mt-5">
      
      <app-credit-card-input 
        class="payment-option-form" 
        id="credit-card-input"></app-credit-card-input>
      <app-bank-account-input 
        class="payment-option-form" 
        id="bank-account-input"></app-bank-account-input>

    </div>
  </div>
</div>