<div *ngIf="(projectWallet !== undefined) && (project !== undefined)" class="root root-content-container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h4>{{ project.name }}</h4>
        </div>
        <div class="col-md-12">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex flex-column justify-content-between w-100">
                            <div class="explainer-mini mb-3">Project wallet</div>
                            <div class="row w-100">
                                <div class="col-md-6">
                                    <button class="btn btn-primary w-100 py-3" routerLink="project_deposit">
                                        <i class="fas fa-arrow-circle-down mr-2"></i>
                                        Deposit
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary w-100 py-3" [disabled]="!isProjectFullyFunded"
                                            routerLink="project_withdraw">
                                        <i class="fas fa-arrow-circle-up mr-2"></i>
                                        Withdraw
                                    </button>
                                </div>
                            </div>
                        </div>

                        <hr>
                    </div>
                    <div class="card-text">
                        <h5>Balance</h5>
                        <h5>{{ projectWallet.balance | currencyDefault }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 px-3">
    <h5>Revenue share</h5>
</div>
<div class="explainer-mini px-3 mt-2 mb-2">Enter amount of money to be paid out to investors</div>

<div class="col-md-12">
    <form [formGroup]="revenueForm">
        <div class="row w-100">
            <div class="col-md-6 align-self-center">
                <div class="w-40 h-auto d-flex flex-column">
                    <app-money-input-field
                            placeholder="Enter maximum investment per user"
                            [control]="revenueForm.get('amount')">
                    </app-money-input-field>
                    <div *ngIf="revenueForm.dirty && revenueForm.invalid">
                        <div *ngIf="revenueForm.get('amount').errors?.inputAmountInvalid"
                             class="alert alert-danger">Payout must be lower or equal to balance.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-left w-40 h-auto p-1">
                    <button [disabled]="revenueForm.invalid" id="buttonStartPayout" (click)="startPayout()"
                            routerLink="revenue_share"
                            class="btn btn-danger btn-action w-100 p-3 h-auto float-right w-auto">
                        <i class="fas fa-chart-pie mr-2"></i>
                        Start payout
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
