<div *ngIf="users !== undefined">


    <div class="activate-page-subtitle">
        {{ 'admin.activations.users.title' | translate }}
    </div>
    <div *ngIf="users.length > 0" class="mt-3">
        <ul class="activation-list-group list-group list-group-flush">
            <li *ngFor="let user of users" class="list-group-item">
                <div class="activation-list-group-holder">
                    <div class="activation-item-title">
                        {{ user.user.first_name }} {{ user.user.last_name }} 
                    </div>
                    <div class="activation-item-subtitle">
                        <i>{{ user.user.email }}</i>
                    </div>
                </div>
                
                <span class="float-right hover-fg text-decoration-none">
                    <a href="" (click)="activateUserClicked(user.wallet.uuid).subscribe()">
                        <i class="fas fa-check-circle mr-2"></i>
                        <span class="activate-action">{{ 'admin.activations.users.activate' | translate }}</span> 
                    </a>
                </span>
            </li>
        </ul>
    </div>
    <div *ngIf="users.length === 0" class="mt-3">
        <div class="text-center mt-5">
            {{ 'admin.activations.users.empty' | translate }}
        </div>
    </div>
</div>
