<app-header [onlyLogo]="true"></app-header>
<div id="top-container">
  <div class="content-container">

    <div class="card p-5 m-auto mt-5">
      <div id="card-content">


        <h3 class="w-100 text-center text-uppercase mb-3">Sign up</h3>
        <div class="row">
          <div class="col-md-6">
            <button (click)="performGoogleSignup()" class="btn btn-primary w-100 btn-action-a mt-1 btn-color-google">Sign Up with
              Google</button>
          </div>
          <div class="col-md-6">
            <button (click)="performFacebookSignup()" class="btn btn-primary float-right w-100 btn-action-a mt-1 btn-color-facebook">
              Sign Up with Facebook
            </button>
          </div>
        </div>

        <div class="w-100 text-center mt-5 mb-4 h4">OR CREATE WITH EMAIL</div>
        <input class="form-control mt-3 p-4" type="text" name="" placeholder="Email" id="">
        <input type="password" class="form-control mt-3 p-4" name="" placeholder="Password" id="">
        <input type="password" class="form-control mt-3 p-4" name="" placeholder="Confirm password" id="">
        <button class="btn btn-primary w-100 mt-3 py-3">
          <i class="fas fa-paper-plane mr-2"></i>
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
