/* .left-image {
  width: 100%;
  height: calc(100vh - 75px);
  object-fit: cover;
} */

#top-container {
  background-image: url("../../../assets/hero-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 1000px;;
  width: 100vw;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-container{
  padding-top: 75px;
}

.card {
  margin-left: 10px!important;
  margin-right: 10px!important;
}

@media(min-width: 1100px) {
  .card {
    width: 50%;
    margin: auto!important;
  }
}

#submit-button {
  height: 60px!important;
}