<div id="top-container">
  <div class="content-container">

    <div class="card p-5 m-auto mt-5">
      <div id="card-content">


        <h3 class="w-100 text-center text-uppercase mb-3">Sign up</h3>
        <div class="row">
          <div class="col-md-6">
            <button routerLink="/dash" class="btn btn-primary w-100 btn-action-a mt-1 btn-color-google">Sign Up with
              Google</button>
          </div>
          <div class="col-md-6">
            <button routerLink="/dash" class="btn btn-primary float-right w-100 btn-action-a mt-1 btn-color-facebook">
              Sign Up with Facebook
            </button>
          </div>
        </div>

        <div class="w-100 text-center mt-3 mb-3 h4">OR</div>

        
          <div class="form-group mt-2">
            <label class="explainer-mini text-uppercase" for="exampleInputEmail1">First name</label>
            <input [(ngModel)]="firstName" type="text" class="form-control" id="first-name-input" aria-describedby="emailHelp"
              placeholder="Enter first name" required>
          </div>

          <div class="form-group mt-2">
            <label class="explainer-mini text-uppercase" for="exampleInputEmail1">Last name</label>
            <input [(ngModel)]="lastName" type="text" class="form-control" id="last-name-input" aria-describedby="emailHelp" 
              placeholder="Enter last name" required>
          </div>

          <div class="form-group mt-2">
            <label class="explainer-mini text-uppercase" for="exampleInputEmail1">Email address</label>
            <input [(ngModel)]="email" type="email" class="form-control" id="email-input" aria-describedby="emailHelp" 
              placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email without explicit
              permission.</small>
          </div>

          <div class="form-group mt-2">
            <label class="explainer-mini text-uppercase" for="exampleInputEmail1">Phone number</label>
            <input [(ngModel)]="phoneNumber" type="number" class="form-control" id="phone-input" aria-describedby="emailHelp" 
              placeholder="Enter phone number" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your phone number without explicit
              permission.</small>
          </div>
          <div class="form-group">
            <label class="explainer-mini text-uppercase" for="exampleInputPassword1">Password</label>
            <input [(ngModel)]="password" type="password" class="form-control" id="password-input" 
              placeholder="Password" required>
          </div>

          <div class="form-group">
            <label class="explainer-mini text-uppercase" for="exampleInputPassword1">
              Confirm password
            </label>
            <input [(ngModel)]="confirmPassword" type="password" class="form-control" id="password-confirm-input" 
              placeholder="Password" required>
          </div>

          <label class="explainer-mini text-uppercase" for="exampleInputPassword1">
            SELECT COUNTRY
          </label>
          <select [(ngModel)]="selectedCountry" id="country-selector" class="custom-select mb-3">
            <option selected>Select</option>
            <option *ngFor="let country of countries; let i = index" [value]="i">
              {{country.nicename}}
            </option>
          </select>
          <div class="form-check">
            <input id="terms-conditions-check" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p>I agree with the <a href="http://google.com">Terms and Conditions</a></p>
            </label>
          </div>
          <button id="submit-button" (click)="onSubmitClicked()" type="submit" class="btn btn-primary mt-3  text-uppercase float-right col-md-6 w-100 btn-action-a">
            Sign up
          </button>
        
      </div>
    </div>
  </div>
</div>