@import "app";

.app-basic-title {
  margin: 30px 0 24px 0;
}

.col-lg-6,
.col-lg-4,
.col-lg-2 {
  padding: 0;
}

p {
  font-size: $font-size-desktop-small;
}

.dropdown-divider {
  margin-bottom: 20px;
}

.disabled-margin {
  margin: 20px 0 0 0;
}

.invest {
  &__content {
    margin-top: 46px;
  }

  &__range-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__input-label p {
    text-transform: uppercase;
    color: $title-color;
    letter-spacing: 2px;
  }

  &__text-right {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 24px 15px;
    z-index: 1001;
    background-color: $secondary-color;
    border-top: 1px solid $background-color;

    p {
      margin-bottom: 0;
    }
  }
}

.right {
  &__available {
    text-transform: uppercase;
    letter-spacing: 2px;

  }

  &__amount {
    font-size: 18px;
  }

  &__link {
    color: $body-color;
    font-size: $font-size-desktop-small;
    text-decoration: underline;
  }

  &__available,
  &__amount {
    color: $title-color;
  }
}

.error-messages {
  margin: 30px auto;
}

.alert-danger {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span,
  .btn-danger {
    display: none;
  }

  .btn-mobile {
    display: block;
  }
}

.estimated {
  &-calculator {
    margin-bottom: 40px;
  }

  &__content {
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E5E5E5;

    .col-lg-4 {
      padding: 0 15px;
    }
  }

  &__return-label p {
    padding: 48px 0 0 4px;
  }

  &__total-label h2 {
    font-size: $font-size-mobile-title2;
    padding: 29px 24px 0 24px;
    color: $title-color;
    letter-spacing: 1px;
    font-weight: normal;
  }

  &__invested-label p {
    font-size: $font-size-desktop-body;
    color: $icons-color;
    padding: 0 24px 0 24px;
  }

  &__return-header {
    background: $background-color;
    font-size: $font-size-desktop-small;
    margin-top: 3px;
  }

  &__header-label p {
    padding: 8px 24px;
  }

  &__amount-label p {
    padding: 3px 24px;
    font-size: $font-size-desktop-body;
  }

  &__header-label p,
  &__amount-label p {
    text-transform: uppercase;
    color: $title-color;
  }
}

@include media-breakpoint-up(lg) {
  p {
    margin-bottom: 0;
  }

  .col-lg-4 {
    padding: 0 24px;
  }

  .app-basic-title {
    margin: 14px 0 24px 0;
  }

  .dropdown-divider {
    margin-bottom: 48px;
  }

  .btn-primary {
    margin: 17px 0 8px 0;
  }

  .disabled-margin {
    margin: 24px 0 0 0;
  }

  .invest__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .invest {
    &__content {
      margin-top: 0;
    }

    &__range-labels {
      margin-top: 0;
    }

    &__text-right {
      position: unset;
      text-align: right;
      display: block;
      margin-top: 0;
      padding: 0;
      background-color: unset;
      border-top: unset;
    }
  }
  .right {
    &__amount {
      padding: 32px 0;
      font-size: 21px;
      line-height: 25px;
    }
  }
  .alert-danger {
    display: flex;
    align-items: center;

    span,
    .btn-danger {
      display: block;
    }

    .btn-mobile {
      display: none;
    }
  }

  .estimated {
    &-calculator {
      margin-bottom: 0;
    }

    &__content {
      .col-lg-4 {
        padding: 0;
      }

      .col-lg-4:first-of-type {
        padding-left: 15px;
      }

      .col-lg-4:last-of-type {
        padding-right: 15px;
      }

      align-items: center;
      justify-content: space-between;
      border: 1px solid #E5E5E5;
      margin-bottom: 32px;
    }

    &__return-label p {
      padding: 0 0 17px 4px;
    }

    &__total-label h2 {
      font-size: $font-size-mobile-title;
      padding: 40px 24px 0 24px;
    }

    &__invested-label p {
      font-size: $font-size-desktop-body;
      color: $icons-color;
      padding: 0 24px;
    }

    &__return-header {
      background: $background-color;
      font-size: $font-size-desktop-small;
      margin-top: 36px;
    }

    &__header-label p {
      padding: 13px 24px;
    }

    &__amount-label p {
      padding: 30px 24px;
      font-size: $font-size-desktop-body;
      border-right: 1px solid #e5e5e5;
      margin-right: -1px;
    }

    &__header-label p,
    &__amount-label p {
      text-transform: uppercase;
      color: $title-color;
    }
  }

  .col-lg:nth-of-type(3n) {
    p {
      border: none;
    }
  }
}
