<ul *ngIf="withdrawals !== undefined" class="list-group">
    <h5 class="explainer-mini">Manage withdrawals</h5>
    <li *ngFor="let withdrawal of withdrawals"
        class="list-group-item cursor-pointer  gray-text explainer-mini"
        routerLink="/dash/manage_withdrawals/users/{{ withdrawal.id }}">
          <span class="float-left">
            {{ withdrawal.user.first_name }} {{ withdrawal.user.last_name }} ({{ withdrawal.user.email }})
          </span>
          <span class="float-right">
              {{ withdrawal.amount | currencyDefault }}
          </span>
    </li>
</ul>

<div *ngIf="withdrawals !== undefined" class="col-md-12 mt-3">
    <div *ngIf="withdrawals.length === 0" class="text-center explainer-mini text-uppercase">
        No pending withdrawals
    </div>
</div>
