<div class="container">
    <a [routerLink]="" appBackNavigation class="nostyle">
        <div class="app-page-title-back">
            <i class="fas fa-long-arrow-alt-left mr-3"></i>
            {{ 'general.back.title' | translate }}
        </div>
    </a>

    <form [formGroup]="createForm" class="mb-5">
        <div class="row project-container">
            <div class="project-left col-lg-6">
                <!-- Mobile title! -->
                <h4 class="left__title d-lg-none">
                    {{ 'projects.new.title' | translate }}
                </h4>
                <div class="map-holder app__full-width">
                    <app-location-map [editable]="true" [(lat)]="mapLat" [(lng)]="mapLong"></app-location-map>
                </div>
            </div>

            <div class="project-right col-lg-6">
                <div class="right__wrapper">
                    <h4 class="right__title d-none d-lg-block">
                        {{ 'projects.new.title' | translate }}
                    </h4>
                    <div class="right__input-name">
                        <div class="input__label">
                            {{ 'projects.new.name_input.title' | translate }}
                        </div>
                        <input class="input-reg w-100" formControlName="name"
                               placeholder="{{ 'projects.new.name_input.placeholder' | translate }}"
                               type="text"/>
                    </div>
                    <div class="right__input-dates">
                        <div class="input__desc flex__center--space">
                            <div class="input__label">
                                {{ 'projects.new.period_input.title' | translate }}
                            </div>
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <input class="input-reg w-100" formControlName="startDate" autocomplete="off"
                                       id="start-date"
                                       placeholder="{{ 'projects.new.period_input.placeholder.start' | translate }}"
                                       bsDatepicker
                                       [bsConfig]="bsConfig" (click)="setDatepickerOptions()"/>
                            </div>

                            <div class="col-12 col-lg-6">
                                <input class="input-reg w-100" formControlName="endDate" autocomplete="off"
                                       id="end-date"
                                       placeholder="{{ 'projects.new.period_input.placeholder.end' | translate }}"
                                       bsDatepicker
                                       [bsConfig]="bsConfig" (click)="setDatepickerOptions()"/>
                            </div>
                        </div>

                    </div>
                    <div class="right__input-investments">
                        <div class="input__desc flex__center--space">
                            <div class="input__label">
                                {{ 'projects.new.investment_range_input.title' | translate }}
                            </div>
                            <i class="fas fa-lock"></i>
                        </div>
                        <app-money-input-field
                                placeholder="{{ 'projects.new.investment_range_input.placeholder.start' | translate }}"
                                inputClass="input-reg w-50"
                                [control]="createForm.get('minPerUser')">
                        </app-money-input-field>
                        <app-money-input-field
                                placeholder="{{ 'projects.new.investment_range_input.placeholder.end' | translate }}"
                                inputClass="input-reg w-50 border-left-none"
                                [control]="createForm.get('maxPerUser')">
                        </app-money-input-field>
                    </div>
                    <div class="right__input-funding">
                        <div class="input__desc flex__center--space">
                            <div class="input__label">
                                {{ 'projects.new.expected_funding_input.title' | translate }}
                            </div>
                            <i class="fas fa-lock"></i>
                        </div>
                        <app-money-input-field
                                placeholder="{{ 'projects.new.expected_funding_input.placeholder' | translate }}"
                                inputClass="input-reg w-100"
                                [control]="createForm.get('expectedFunding')">
                        </app-money-input-field>
                    </div>
                    <div class="right__warning">
                        <i class="fas fa-lock"></i>
                        <div>
                            <span>
                                {{ 'projects.new.lock_notice' | translate }}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="createForm.dirty && createForm.invalid">
                        <ng-container *ngIf="createForm.get('startDate').dirty && createForm.get('endDate').dirty">
                            <div class="alert alert-warning my-3" *ngIf="createForm.hasError('invalidStartEndDate')">
                                <i class="fas fa-exclamation-triangle mr-2"></i>
                                <div>
                                    {{ 'projects.new.errors.invalid_start_end_date' | translate }}
                                </div>
                            </div>
                        </ng-container>

                        <ng-container
                                *ngIf="createForm.get('expectedFunding').dirty && createForm.get('minPerUser').dirty &&
                                createForm.get('maxPerUser').dirty">
                            <div class="alert alert-warning my-3"
                                 *ngIf="createForm.hasError('invalidMaxExpectedFunding')">
                                <i class="fas fa-exclamation-triangle mr-2"></i>
                                <div>
                                    {{ 'projects.new.errors.invalid_max_expected_funding' | translate }}
                                </div>
                            </div>
                            <div class="alert alert-warning my-3" *ngIf="createForm.hasError('invalidMinMax')">
                                <i class="fas fa-exclamation-triangle mr-2"></i>
                                <div>
                                    {{ 'projects.new.errors.invalid_min_max' | translate }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <button app-action-button
                            text="{{ 'projects.new.create_button' | translate }}"
                            loadingText="{{ 'projects.new.create_button.loading' | translate }}"
                            [onClick]="submitForm.bind(this)" [disabled]="!createForm.valid"
                            class="btn btn-primary btn-success d-none d-lg-block w-100"
                            faIcon="fa-plus">
                    </button>
                </div>
            </div>

            <div class="col-12">
                <button app-action-button
                        text="{{ 'projects.new.create_button' | translate }}"
                        loadingText="{{ 'projects.new.create_button.loading' | translate }}"
                        [onClick]="submitForm.bind(this)" [disabled]="!createForm.valid"
                        class="btn btn-success d-block d-lg-none w-100"
                        faIcon="fa-plus">
                </button>
            </div>
        </div>
    </form>
</div>
