<div class="container">
    <div class="app-page-title-back" (click)="backToOrganizationDetailsScreen()">
        <i class="fas fa-long-arrow-alt-left mr-3"></i>
        Back
    </div>
    <form [formGroup]="createForm" class="mb-5">
        <div class="row project-container">
            <div class="project-right col-lg-6">
                <h4 class="right__title">Create a new project</h4>
                <div class="right__input-name">
                    <div class="input__label">Project name</div>
                    <input class="input-reg w-100" formControlName="name" type="text" 
                           placeholder="Enter project name" />
                </div>
                <div class="right__input-dates">
                    <div class="input__desc flex__center-space">
                        <div class="input__label">Dates (DD/MM/YY)</div>
                        <i class="fas fa-lock"></i>
                    </div>
                    <input class="input-reg w-50" formControlName="startDate" id="start-date"
                           placeholder="Enter start date" bsDatepicker [bsConfig]="bsConfig"
                           (click)="setDatepickerOptions()"/>
                    <input class="input-reg w-50" formControlName="endDate" id="end-date"
                           placeholder="Enter end date" bsDatepicker [bsConfig]="bsConfig"
                           (click)="setDatepickerOptions()"/>
                </div>
                <div class="right__input-investments">
                    <div class="input__desc flex__center-space">
                        <div class="input__label">Investment per member €</div>
                        <i class="fas fa-lock"></i>
                    </div>
                    <app-money-input-field
                        placeholder="Enter minimal amount"
                        inputClass="input-reg w-50"
                        [control]="createForm.get('minPerUser')">
                    </app-money-input-field>
                    <app-money-input-field
                        placeholder="Enter maximal amount"
                        inputClass="input-reg w-50 border-left-none"
                        [control]="createForm.get('maxPerUser')">
                    </app-money-input-field>
                </div>
                <div class="right__input-funding">
                    <div class="input__desc flex__center-space">
                        <div class="input__label">Expected funding €</div>
                        <i class="fas fa-lock"></i>
                    </div>
                    <app-money-input-field
                        placeholder="Enter expected funding amount"
                        inputClass="input-reg w-100"
                        [control]="createForm.get('expectedFunding')">
                    </app-money-input-field>
                </div>
                <div class="right__warning">
                    <i class="fas fa-lock"></i>
                    <div>
                        <span>Date, Investment per member</span> and <span>Expected funding</span> can't be changed once
                        project is created.
                    </div>
                </div>
                <div *ngIf="createForm.dirty && createForm.invalid">
                    <ng-container *ngIf="createForm.get('startDate').dirty && createForm.get('endDate').dirty">
                        <div class="alert alert-warning my-3"
                             *ngIf="createForm.hasError('invalidStartEndDate')">
                            <i class="fas fa-exclamation-triangle mr-2"></i>
                            <div>
                                Start date has to be lower than the end date.
                            </div>
                        </div>
                    </ng-container>
        
                    <ng-container *ngIf="createForm.get('expectedFunding').dirty && createForm.get('minPerUser').dirty &&
                                  createForm.get('maxPerUser').dirty">
                        <div class="alert alert-warning my-3"
                             *ngIf="createForm.hasError('invalidMaxExpectedFunding')">
                            <i class="fas fa-exclamation-triangle mr-2"></i>
                            <div>
                                Maximum investment per user cannot be greater than project expected funding.
                            </div>
                        </div>
                        <div class="alert alert-warning my-3" 
                             *ngIf="createForm.hasError('invalidMinMax')">
                            <i class="fas fa-exclamation-triangle mr-2"></i>
                            <div>
                                Minimum investment per user cannot be greater than maximum investment per user.
                            </div>
                        </div>
                    </ng-container>
                </div>
                <app-action-button 
                    text="Create new project" 
                    loadingText="Creating project..."
                    [onClick]="submitForm.bind(this)"
                    [disabled]="!createForm.valid"
                    buttonClass="btn btn-primary btn-success d-none d-lg-block"
                    faIcon="fa-plus">
                </app-action-button>
            </div>

            <div class="project-left col-lg-6">
                <app-location-map [editable]="true" [(lat)]="mapLat" [(lng)]="mapLong" fullHeight="true"></app-location-map>
            </div>

            <app-action-button 
                        text="Create new project" 
                        loadingText="Creating project..."
                        [onClick]="submitForm.bind(this)"
                        [disabled]="!createForm.valid"
                        buttonClass="btn btn-success d-block d-lg-none"
                        faIcon="fa-plus"
                        class="w-100">
            </app-action-button>  
        </div>
    </form>
</div>
