<div class="alert-box">
    <div class="modal-header">
        <h4 class="modal-title">
            {{ 'admin.deposits.single_deposit.modal.title' | translate }}
        </h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="confirmForm">
            <div class="row">
                <label class="col-md-12">
                    {{ 'admin.deposits.single_deposit.modal.amount_input.title' | translate }}
                </label>

                <div class="col-md-12">
                    <app-money-input-field
                            placeholder="{{ 'admin.deposits.single_deposit.modal.amount_input.placeholder' | translate }}"
                            [control]="confirmForm.get('amountToConfirm')">
                    </app-money-input-field>
                </div>

                <div class="col-md-6">
                    <button (click)="onCancel()"
                            class="btn btn-primary w-100 float-left mt-4 py-3 px-3"
                            type="button">
                        {{ 'admin.deposits.single_deposit.modal.cancel' | translate }}
                    </button>
                </div>

                <div class="col-md-6">
                    <button (click)="onConfirm()"
                            [disabled]="!confirmForm.valid"
                            class="btn btn-primary w-100 float-right mt-4 py-3 px-3"
                            type="submit">
                        <fa-icon icon="check-circle" class="mr-2"></fa-icon>
                        {{ 'admin.deposits.single_deposit.modal.submit' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
