<div class="container">
    <h1 class="app-page-title">PLATFORM CONFIGURATION</h1>

    <ng-container *ngIf="(appConfig$ | async) as appConfig; else spinner">
        <ng-container *ngIf="(updateForm$ | async) as updateForm; else spinner">
            <form [formGroup]="updateForm" id="updateCoopForm">
                <label for="name" class="app-page-label">Instance name</label>
                <input class="form-control p-4" id="name" formControlName="name"
                       placeholder="Instance Name" type="text">

                <label for="identifier" class="app-page-label mt-3">Identifier</label>
                <input class="form-control p-4" id="identifier" [value]="appConfig.identifier"
                       [disabled]="true" type="text">

                <label for="title" class="app-page-label mt-3">Web title</label>
                <input class="form-control p-4" id="title" formControlName="title"
                       placeholder="Instance" type="text">

                <label for="logo" class="app-page-label mt-3">Logo</label>
                <app-upload-area areaID='logo-image' id="logo"
                                    [restrictions]="{
                                    allowedFileTypes: ['image/*'],
                                    maxFileSize: 10 * 1024 * 1024,
                                    maxNumberOfFiles: 1
                                 }"
                                 [firstFileControl]="updateForm.get('logo')">
                </app-upload-area>

                <label for="icon" class="app-page-label mt-3">Icon</label>
                <input class="form-control p-4" id="icon" formControlName="icon"
                       placeholder="https://path/to/icon.png" type="text">

                <button app-action-button
                        text="Update configuration"
                        faIcon="fa-paper-plane"
                        [onClick]="updateAppConfig(updateForm).bind(this)"
                        [disabled]="!updateForm.dirty || !updateForm.valid"
                        class="btn btn-primary w-100 mt-3">
                </button>
            </form>
        </ng-container>
    </ng-container>

    <ng-template #spinner>
        <app-spinner type="overlay"></app-spinner>
    </ng-template>
</div>
