<div class="root root-content-container">
  <div class="row">
    <div class="col-md-12">
        <div class="explainer-mini text-uppercase">Manage deposits</div>
    </div>
    <div class="col-md-12 mt-3">
      <input class="w-100 form-control py-2" 
      placeholder="Enter code in the deposit description field" type="text" name="" id="">
      <input class="w-100 form-control py-2 mt-3" 
      placeholder="Enter amount of payment" type="text" name="" id="">
      <button class="btn btn-primary py-3 mt-3 w-100">
        <i class="fas fa-barcode mr-2"></i>
        Upload and generate code
      </button>
    </div>
    <div class="w-100 d-flex justify-content-center mt-5">
      <canvas id="minting-code-canvas"></canvas>
    </div>
  </div>
</div>