<ng-container *ngIf="(project$ | async) as project else spinner">
    <div class="container">
        <a [routerLink]="" appBackNavigation class="nostyle">
            <div class="app-page-title-back">
                <fa-icon icon="long-arrow-alt-left" class="mr-3"></fa-icon>
                {{ 'general.back.title' | translate }}
            </div>
        </a>

        <div class="revenue-info">
            <div class="info__title">
                {{ 'projects.edit.manage_payments.revenue_share.review.title' | translate }}
            </div>
            <div class="info__content flex__center--space">
                <div class="info__project">
                    <p>
                        {{ 'projects.edit.manage_payments.revenue_share.review.project_name' | translate }}
                    </p>
                    <p>{{ project.name }}</p>
                </div>
                <div class="info__amount">
                    <p>
                        {{ 'projects.edit.manage_payments.revenue_share.review.amount' | translate }}
                    </p>
                    <p>{{ amount | currencyDefault }}</p>
                </div>
            </div>
        </div>
        <div class="revenue-cta">
            <button class="btn btn-danger w-100" (click)="showConfirmModal()">
                {{ 'projects.edit.manage_payments.revenue_share.review.submit' | translate }}
            </button>
        </div>
    </div>

</ng-container>
<ng-template #spinner>
    <app-spinner class="w-100" type="overlay"></app-spinner>
</ng-template>
