<ng-container *ngIf="(project$ | async) as project else spinner">
    <div class="container">
        <div [routerLink]="['/dash', 'manage_groups', project.organization.uuid, 
             'manage_project', project.uuid] | coopPath" class="app-page-title-back" >
            <i class="fas fa-long-arrow-alt-left mr-3"></i>
            {{ project.name }}
        </div>
        <div class="revenue-info">
            <div class="info__title">Revenue share information</div>
            <div class="info__content flex__center-space">
                <div class="info__project">
                    <p>Project name</p>
                    <p>{{ project.name }}</p>
                </div>
                <div class="info__amount">
                    <p>Amount to distribute</p>
                    <p>{{ amount | currencyDefault }}</p>
                </div>
            </div>
        </div>
        <div class="revenue-cta">
            <button class="btn btn-danger w-100" (click)="showConfirmModal()">
                Verify and start revenue share
            </button>
        </div>
    </div>

</ng-container>
<ng-template #spinner>
    <app-spinner type="overlay"></app-spinner>
</ng-template>
