<ng-container
        *ngIf="{
        deposit: deposit$ | async,
        masterIBAN: masterIBAN$ | async
    } as states">
    <div class="container">
        <ng-container *ngIf="!!states.deposit && !!states.masterIBAN; else spinner">
            <a [routerLink]="" appBackNavigation class="nostyle">
                <div class="app-page-title-back">
                    <fa-icon icon="long-arrow-alt-left" class="mr-3"></fa-icon>
                    {{ 'general.back.title' | translate }}
                </div>
            </a>

            <div class="alerts">
                <div class="alert alert-info">
                    <fa-icon icon="clock" class="mr-2"></fa-icon>
                    {{ 'projects.edit.manage_payments.deposit.notice' | translate }}
                </div>
            </div>

            <div class="deposit-details">
                <h4>
                    {{ 'projects.edit.manage_payments.deposit.details' | translate }}
                </h4>
                <div class="row">
                    <div class="deposit__iban col-lg-6">
                        <div class="iban__title flex__center">
                            <fa-icon icon="piggy-bank" class="mr-2"></fa-icon>
                            {{ 'projects.edit.manage_payments.deposit.iban' | translate }}
                        </div>
                        <div class="iban__content">{{ states.masterIBAN }}</div>
                    </div>
                    <div class="deposit__desc col-lg-6">
                        <div class="desc__title flex__center">
                            <fa-icon icon="address-book" class="mr-2"></fa-icon>
                            {{ 'projects.edit.manage_payments.deposit.reference' | translate }}
                        </div>
                        <div class="desc__content">{{ states.deposit.reference }}</div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #spinner>
            <app-spinner type="overlay"></app-spinner>
        </ng-template>
    </div>
</ng-container>
