@import 'app';

.alerts {
  margin-top: 20px;
}

.deposit {
  &-details {
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: 20px;
    margin-top: 24px;
    h4 {
      font-size: $font-size-mobile-body;
      color: $body-color;
      font-weight: normal;
      margin-bottom: 20px;
    }
  }
  &__iban {
    margin-bottom: 10px;
    .iban__title,
    .iban__title svg,
    .iban__content {
      color: $body-color;
    }
    .iban__title,
    .iban__content {
      padding-bottom: 10px;
    }
  }
  &__desc {
    .desc__title,
    .desc__title svg,
    .desc__content {
      color: $body-color;
    }
    .desc__title,
    .desc__content {
      padding-bottom: 10px;
    }
  }
}

@include media-breakpoint-up(lg) {

  .deposit {
    &-details {
      margin-top: 50px;
      h4 {
        font-size: $font-size-desktop-body;
        margin-bottom: 30px;
      }
    }
    &__iban {
      margin-bottom: 0;
    }
  }
}
