<div id="core-root-manager" class="root root-content-container">
  <div class="row">
    <h5 class="text-uppercase mb-3 col-md-12">Manage your project</h5>

    <p class="explainer-mini text-uppercase col-md-12">Project details</p>

    <div class="input-group mb-3 col-md-12">
      <input id="mint-amount" type="number" class="form-control" placeholder="Enter new name" 
        aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3 col-md-12">
      <input id="mint-amount" type="number" class="form-control" placeholder="Enter new name" 
        aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <p class="explainer-mini text-uppercase col-sm-12">Project image</p>
    
    <div class="col-md-12" id="drag-drop-area-img"></div>

    <p class="explainer-mini text-uppercase col-md-12 mt-3">Project files</p>

    <div class="col-md-12" id="drag-drop-area-files"></div>

    <div class="col-md-12 mt-3 mb-5">
      <button class="btn btn-primary w-50 py-3 float-right">UPDATE</button>
    </div>

  </div>
</div>