.proj-image {
    max-height: 300px;
    object-fit: cover;
}

@media (min-width: 800px) {
    .pairing-text {
        width: 50%;
    }
}

.map-container {
    height: 450px;
}
  
.map-frame,
#update-map {
    height: 100%;
}