@import "app";

.container {
  overflow: hidden;
}

.map-holder {
  height: 320px;
}

.alert-warning {
  svg {
    display: none;
  }
}

.project-container {
  .right {
    &__title {
      margin: 20px 0;
    }

    &__input-name,
    &__input-dates,
    &__input-investments,
    &__input-funding {
      margin-bottom: 20px;
    }

    &__input-dates .row div:nth-of-type(2) {
      input {
        margin-top: 10px;
      }
    }

    &__warning {
      color: $body-color;
      margin-bottom: 20px;
      display: flex;

      svg {
        font-size: $font-size-mobile-title-small;
        color: $icons-color;
        margin-right: 10px;
        margin-top: 4px;
      }

      span {
        font-weight: bold;
        color: $title-color;
      }

      span, div {
        font-size: $font-size-mobile-title-small;
      }
    }
  }

  .left {
    &__title {
      margin: 32px 0;
    }
  }

  .right,
  .left {
    &__title {
      font-size: $font-size-mobile-title;
      text-transform: uppercase;
      color: $title-color;
      letter-spacing: 1px;
      font-weight: normal;
    }
  }

  .input {
    &__desc {
      svg {
        font-size: $font-size-mobile-title-small;
        color: $icons-color;
        margin-bottom: 6px;
      }
    }

    &__label {
      font-size: $font-size-mobile-title-small;
      color: $body-color;
      letter-spacing: 0.11px;
      padding-bottom: 6px;
    }
  }

  .project {
    &-left {
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .map-holder {
    height: 100%;
    margin-right: -20px;
  }

  .project-container {
    .right {
      &__title {
        margin: 0 0 34px 0;
        font-size: $font-size-desktop-title;
        letter-spacing: 1.5px;
      }

      &__input-name,
      &__input-dates,
      &__input-investments {
        margin-bottom: 32px;
      }

      &__input-funding {
        margin-bottom: 24px;
      }

      &__input-dates .row div:nth-of-type(1) {
        padding-right: 0;
      }

      &__input-dates .row div:nth-of-type(2) {
        padding-left: 0;

        input {
          border-left: unset;
          margin-top: 0;

          &:focus {
            border-left: 1px solid $primary-color;
          }
        }
      }

      &__warning {
        margin-bottom: 24px;

        svg {
          font-size: $font-size-desktop-small;
          margin-top: 5px;
        }

        span, div {
          font-size: $font-size-desktop-body2;
        }
      }

      .btn {
        margin-bottom: 20px;
      }
    }

    .input {
      &__label {
        font-size: $font-size-desktop-body2;
      }
    }

    .project {
      &-left {
        margin-bottom: 0;
        order: 1;
        padding-right: 0;
      }

      &-right {
        order: 2;
        padding-left: 0;

        .right__wrapper {
          padding: 40px 64px 67px 64px;
          border: 1px solid $border-light-color;
          border-radius: 1px;
        }
      }
    }

    .alert-warning {
      display: flex;

      svg {
        margin-top: 4px;
        display: inline-block;
      }
    }
  }
}
