<div class="container">
    <a [routerLink]="" appBackNavigation class="nostyle">
        <div class="app-page-title-back">
            <fa-icon icon="long-arrow-alt-left" class="mr-3"></fa-icon>
            {{ 'general.back.title' | translate }}
        </div>
    </a>

    <ng-container *ngIf="(ownOrgs$ | async) as ownOrgs; else spinner">
        <ng-container *ngIf="(createForm$ | async) as createForm; else spinner">
            <form [formGroup]="createForm" class="mb-5">
                <div class="row project-container">
                    <div class="project-left col-lg-6">
                        <!-- Mobile title! -->
                        <h4 class="left__title d-lg-none">
                            {{ 'projects.new.title' | translate }}
                        </h4>
                        <div class="map-holder app__full-width">
                            <app-location-map [editable]="true" [(lat)]="mapLat" [(lng)]="mapLong"></app-location-map>
                        </div>
                    </div>

                    <div class="project-right col-lg-6">
                        <div class="right__wrapper">
                            <h4 class="right__title d-none d-lg-block">
                                {{ 'projects.new.title' | translate }}
                            </h4>
                            <div class="right__input-name">
                                <div class="input__label">
                                    {{ 'projects.new.name_input.title' | translate }}
                                </div>
                                <input class="input-reg w-100" formControlName="name"
                                       placeholder="{{ 'projects.new.name_input.placeholder' | translate }}"
                                       type="text"/>
                            </div>

                            <div class="right__input-name">
                                <div class="input__label">
                                    {{ 'projects.new.org_input.title' | translate }}
                                </div>
                                <select name="group" id="group"
                                        class="input-reg w-100"
                                        formControlName="org">
                                    <option *ngFor="let org of ownOrgs; index as i" [ngValue]="org">
                                        {{ org.name }}
                                    </option>
                                </select>

                                <small>
                                    <span>
                                        {{ 'projects.new.org_input.new_group' | translate | splitPart:0 }}
                                    </span>
                                    <a [routerLink]="['/dash/groups/new'] | coopPath">
                                        {{ 'projects.new.org_input.new_group' | translate | splitPart:1 }}
                                    </a>
                                    <span>
                                        {{ 'projects.new.org_input.new_group' | translate | splitPart:2 }}
                                    </span>
                                </small>
                            </div>

                            <div class="right__input-dates">
                                <div class="input__desc flex__center--space">
                                    <div class="input__label">
                                        {{ 'projects.new.period_input.title' | translate }}
                                    </div>
                                    <fa-icon icon="lock"></fa-icon>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input class="input-reg w-100" formControlName="startDate" autocomplete="off"
                                               id="start-date"
                                               placeholder="{{ 'projects.new.period_input.placeholder.start' | translate }}"
                                               bsDatepicker
                                               [bsConfig]="bsConfig" (click)="setDatepickerOptions()"/>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <input class="input-reg w-100" formControlName="endDate" autocomplete="off"
                                               id="end-date"
                                               placeholder="{{ 'projects.new.period_input.placeholder.end' | translate }}"
                                               bsDatepicker
                                               [bsConfig]="bsConfig" (click)="setDatepickerOptions()"/>
                                    </div>
                                </div>

                            </div>
                            <div class="right__input-investments">
                                <div class="input__desc flex__center--space">
                                    <div class="input__label">
                                        {{ 'projects.new.investment_range_input.title' | translate }}
                                    </div>
                                    <fa-icon icon="lock"></fa-icon>
                                </div>
                                <app-money-input-field
                                        placeholder="{{ 'projects.new.investment_range_input.placeholder.start' | translate }}"
                                        inputClass="input-reg w-50"
                                        [control]="createForm.get('minPerUser')">
                                </app-money-input-field>
                                <app-money-input-field
                                        placeholder="{{ 'projects.new.investment_range_input.placeholder.end' | translate }}"
                                        inputClass="input-reg w-50 border-left-none"
                                        [control]="createForm.get('maxPerUser')">
                                </app-money-input-field>
                            </div>
                            <div class="right__input-funding">
                                <div class="input__desc flex__center--space">
                                    <div class="input__label">
                                        {{ 'projects.new.expected_funding_input.title' | translate }}
                                    </div>
                                    <fa-icon icon="lock"></fa-icon>
                                </div>
                                <app-money-input-field
                                        placeholder="{{ 'projects.new.expected_funding_input.placeholder' | translate }}"
                                        inputClass="input-reg w-100"
                                        [control]="createForm.get('expectedFunding')">
                                </app-money-input-field>
                            </div>
                            <div class="right__warning">
                                <fa-icon icon="lock" class="mr-2"></fa-icon>
                                <div>
                            <span>
                                {{ 'projects.new.lock_notice' | translate }}
                            </span>
                                </div>
                            </div>
                            <div *ngIf="createForm.dirty && createForm.invalid">
                                <ng-container
                                        *ngIf="createForm.get('startDate').dirty && createForm.get('endDate').dirty">
                                    <div class="alert alert-warning my-3"
                                         *ngIf="createForm.hasError('invalidStartEndDate')">
                                        <fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
                                        <div>
                                            {{ 'projects.new.errors.invalid_start_end_date' | translate }}
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container
                                        *ngIf="createForm.get('expectedFunding').dirty && createForm.get('minPerUser').dirty &&
                                createForm.get('maxPerUser').dirty">
                                    <div class="alert alert-warning my-3"
                                         *ngIf="createForm.hasError('invalidMaxExpectedFunding')">
                                        <fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
                                        <div>
                                            {{ 'projects.new.errors.invalid_max_expected_funding' | translate }}
                                        </div>
                                    </div>
                                    <div class="alert alert-warning my-3" *ngIf="createForm.hasError('invalidMinMax')">
                                        <fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
                                        <div>
                                            {{ 'projects.new.errors.invalid_min_max' | translate }}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <button app-action-button
                                    text="{{ 'projects.new.create_button' | translate }}"
                                    loadingText="{{ 'projects.new.create_button.loading' | translate }}"
                                    [onClick]="submitForm(createForm).bind(this)" [disabled]="!createForm.valid"
                                    class="btn btn-primary btn-success d-none d-lg-block w-100"
                                    faIcon="plus">
                            </button>
                        </div>
                    </div>

                    <div class="col-12">
                        <button app-action-button
                                text="{{ 'projects.new.create_button' | translate }}"
                                loadingText="{{ 'projects.new.create_button.loading' | translate }}"
                                [onClick]="submitForm(createForm).bind(this)" [disabled]="!createForm.valid"
                                class="btn btn-success d-block d-lg-none w-100"
                                faIcon="plus">
                        </button>
                    </div>
                </div>
            </form>
        </ng-container>
    </ng-container>
</div>

<ng-template #spinner>
    <app-spinner type="overlay"></app-spinner>
</ng-template>
