<div *ngIf="isOverview">
	<app-header></app-header>
</div>

<div *ngIf="(offerModel != undefined) && (!isPortfolio)" class="header-image-container col-md-12 ml-0 pl-0 pr-0 wow fadeIn">
	<img class="header-image w-100" src="{{offerModel.main_image}}">
</div>

<div *ngIf="offerModel != undefined" style="background: #fdfdfd" [class.container]="!isPortfolio" [class.root-content-container]="!isPortfolio" class="wow fadeIn">
	<div class="row row-eq-height">

		<div *ngIf="!offerModel.active" class="col-md-12 mb-3">
			<div class="alert alert-danger">
				The project is not open for funding. If you wish to invest, please check project at a
				later date.
			</div>
		</div>

		<div *ngIf="!isPortfolio"  class="col-md-8">
			<h3 class="title gray-text">
				<b>{{offerModel.name}}</b>
			</h3>
		</div>
		<div *ngIf="!isPortfolio" class="col-md-4 mb-3 invest-button-holder">
			
			<button *ngIf="isOverview" routerLink="/sign_up" id="invest-button"
				class="btn btn-primary w-100 btn-action-a float-right text-white">
				<i class="mr-3 fas fa-chart-pie"></i>
				<span>Sign Up & Invest</span>
			</button>
			
			<div *ngIf="!isOverview">
				<button *ngIf="userConfirmed" [disabled]="!offerModel.active" routerLink="invest" id="invest-button"
					class="btn btn-primary w-100 btn-action-a float-right text-white">
					<i class="mr-3 fas fa-chart-pie"></i>
					<span>Invest</span>
				</button>
				<button *ngIf="!userConfirmed" [disabled]="!offerModel.active" routerLink="/dash/general_settings" id="invest-button"
					class="btn btn-primary w-100 btn-action-a float-right text-white">
					<i class="mr-3 fas fa-chart-pie"></i>
					<span>Verify Profile & Invest</span>
				</button>
			</div>
		</div>

		<div class="col-md-12">
			<div class="card h-100">
				<div class="card-body">
					<div class="card-title">
						<i class="fas fa-share-alt mr-3 explainer-mini"></i>
						<span class="explainer-mini">Share this project</span>
					</div>
					<div class="card-text d-flex flex-row justify-content-between">
						<div style="color: blue" class="explainer-mini cursor-pointer">
							Facebook
						</div>
						<div style="color: blue" class="explainer-mini cursor-pointer">
							Twitter
						</div>
						<div class="explainer-mini cursor-pointer">
							<i class="fas fa-link mr-2"></i>
							Link
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-8 p-3">
			<div class="card text-justify h-100">
				<div class="card-body">
					<div class="card-title explainer-mini">About</div>
					<div class=" card-text" [innerHTML]="offerModel.description">
						
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 p-3">
			<div class="card h-100">
				<div class="card-body">
					<div class="card-title explainer-mini">Info</div>
					<div class="card-text">
						<div class="mb-2 info-holder">
							<p class="mb-2  info-head-elem">
								<i class="mr-2 fas fa-map-marker-alt" height="14" width="14"></i>
								Location
							</p>
							{{offerModel.location_text}}
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-2 info-holder">
							<p class="mb-2  info-head-elem">
								<i class="mr-2 fas fa-chart-line"></i>
								Expected yearly return
							</p>
							{{offerModel.roi.from}}% - {{offerModel.roi.to}}%
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-3 info-holder">
							<p class="mb-2  info-head-elem">
								<i class="mr-2 fas fa-calendar-alt" height="14" width="14"></i>
								Begins
							</p>
							{{offerModel.start_date}}
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-3 info-holder">
							<p class="mb-2  info-head-elem">
								<i class="mr-2 fas fa-calendar-alt" height="14" width="14"></i>
								Ends
							</p>
							{{offerModel.end_date}}
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-3 info-holder">
							<p class="mb-2  info-head-elem">
								<i class="mr-2 fas fa-arrow-down" height="14" width="14"></i>
								Min Investment
							</p>
							{{offerModel.currency}}{{offerModel.min_per_user}}
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-3 info-holder">
							<p class="mb-2  info-head-elem">
								<i class="mr-2 fas fa-arrow-up" height="14" width="14"></i>
								Max Investment
							</p>
							{{offerModel.currency}}{{offerModel.max_per_user}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 mt-3">
			<div class="card h-100">
				<div class="card-body">
					<div class="card-title explainer-mini">Documents</div>
					<div class="card-text">
						<div class="row px-2">
							<div *ngFor="let doc of offerModel.documents" class="w-100">
								<div class="col-md-12 mt-2 gray-text d-flex flex-row justify-content-between">
									<div class=" w-75"
										style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
										{{doc.name}}
									</div>
									<a href="{{doc.link}}" class="float-right">
										<i class="fas fa-download"></i>
									</a>
								</div>
								<hr>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 mt-3">
			<div class="card h-100">
				<div class="card-body">
					<div class="card-title explainer-mini">Status</div>
					<div class="card-text">
						<div class="row">
							<div class="col-md-8">
								
								
								<span class="explainer-mini gray-text">
									<span class="" *ngIf="offerModel.active">
										<i class="fas fa-toggle-on mr-3"></i>
										Open for funding
									</span>
									<span class="explainer-mini" *ngIf="!offerModel.active">
										<i class="fas fa-toggle-off"></i>
										Closed for funding
									</span>
								</span>
							</div>
							
							<div class="col-md-12 mt-2">
								<div class="progress">
									<div class="progress-bar" role="progressbar"
										[style.width.%]="fundedPercentage"
										></div>
								</div>
							</div>
							<div class="col-md-12 mt-2">
								<b>{{offerModel.currency}}{{offerModel.current_funding}}</b> of
								<b>{{offerModel.currency}}{{offerModel.expected_funding}}</b> collected
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<div *ngIf="newsPreviews.length > 0" class="col-md-12 mt-3">
				<ul class="list-group">
					<a *ngFor="let news of newsPreviews" style="height: 120px; text-decoration: none" href="{{news.url}}"
						class="list-group-item p-0 mt-2 cursor-pointer gray-text">
						<div class="w-100 h-100 d-flex flex-row">
							<div style="width: 120px">
								<img class="news-holder-image" style="" src="{{news.image}}" alt="">
							</div>
							<div class="p-3 d-flex flex-column mb-0">
								<div style="overflow: hidden; text-overflow: ellipsis"
									class="explainer-mini mb-2 text-uppercase w-100">{{news.title}}</div>
								<div style="overflow: hidden; text-overflow: ellipsis">{{news.description}}</div>
							</div>
						</div>
					</a>
				</ul>
			
		</div>

		<div class="col-md-12 mt-3">
				<disqus [identifier]="offerModel.uuid"></disqus>
		</div>

	</div>

</div>