@import "app";

.col-lg-5, .col-lg-7 {
  padding: 0;
}

.container {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.right__container, 
.left__desc, 
.left__docs, 
.offer-right-socials {
  padding: 0 20px;
}

span {
  font-weight: bold;
}

.btn-primary {
  height: 48px;
  font-size: 16px;
  margin-bottom: 32px;
}

.dropdown-divider {
  border-top: 1px solid #D8D8D8;
  margin: 15px 0;
}

.app-basic-title {
  margin-bottom: 16px;
}

.right {
  &__container {
    background-color: #F7F7F7;
  }

  &__text {
    padding-top: 24px;
  }

  &__location {
    margin-bottom: 30px;
    P, .location__icon {
      font-size: $font-size-desktop-small;
    }
    .location__icon {
      margin-right: 10px;
      vertical-align: baseline;
    }
  }

  &__progress {
    display: table;
    margin-bottom: 32px;
    font-size: $font-size-desktop-body2;
    .progress {
      &__element {
        margin-top: 8px;
        height: 4px;
        border-radius: 2px;
        background-color: $border-color;
      }
      &__bar {
        height: 4px;
        border-radius: 2px;
        background-color: $success-color;
      }
    }
  }
  &__info div {
    font-size: $font-size-desktop-small;
    span {
      font-size: $font-size-desktop-small;
      margin-right: 5px;
    }
  }
  &__fund-period {
    margin-bottom: 32px;
  }
}

.offer-right-socials {
  margin-top: 24px;
  .socials__content {
    display: flex;
    p {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p, .socials__link {
      margin-right: 28px;
    }
    .socials__link {
      cursor: pointer;
    }
    .socials__icon {
      color: $body-color;
    }
  }
}

.left {
  &__img {
    max-height: 48vw;
  }

  &__desc {
    color: $body-color;
  }
  &__docs {
    margin: 25px 0 50px 0;
    .docs__links {
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
      padding-bottom: 20px;
      a {
        text-decoration: none;
        span {
          color: $body-color;
          font-weight: normal;
        }
        svg {
          color: $primary-color;
          font-size: 24px;
          margin-right: 10px;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .offer-right {
    float: right;
  }

  .offer-left {
    float: left;
  }

  .btn-primary {
    height: 64px;
    font-size: 17px;
  }

  .offer-right-socials {
    margin: 25px 64px;
  }

  .right {
    &__container {
      margin-top: 16px;
      border-radius: 8px;
      padding: 40px 64px;
    }
    &__progress {
      width: fit-content;
    }
    &__text {
      display: flex;
      flex-direction: column;
    }
    &__invest {
      order: 1;
    }
    &__info {
      order: 2;
    }
    &__location,
    &__fund-period {
      margin-bottom: 10px;
    }
    &__info div {
      font-size: $font-size-desktop-body2;
      span {
        font-size: $font-size-desktop-body2;
      }
    }
  }

  .left {
    &__img {
      max-height: 330px;
      border-radius: 8px;
    }
    &__desc {
      margin-top: 40px;
    }
  }
}
