@import "app";

.offer-right-container {
  background-color: #F7F7F7;
}

.offer-right-text {
  margin: 0 auto;
}

.offer-right-socials {
  margin: 1rem;
  width: auto;
}

.progress {
  max-width: 244px;
  height: 4px;
  background-color: $border-color;
}

.progress, .progress-bar {
  background-color: $primary-color;
}

.invest-button-holder {
  margin-top: 40px;
}

.offer-return {
  margin-top: 40px;
}

.offer-right-text span {
  font-weight: 700;
  color: #111111;
}

.offer-desc {
  margin-top: 40px;
  font-size: 16px;
  color: #444444;
  line-height: 1.6rem;
}

.offer-docs {
  font-size: 14px;
  color: #444444;
}

.offer-docs a {
  color: #DEA546;
}

.offer-docs a {
  font-size: 24px;
}

.offer-right-socials span {
  text-transform: uppercase;
  color: #111111;
  font-size: 12px;
}

.offer-right-socials div {
  color: #444444;
}

.offer-right-socials a {
  color: initial;
}

.page-title {
  font-size: 12px;
  font-weight: 500;
  color: #111111;
  letter-spacing: 2px;
  width: auto;
}

.offer-title {
  font-size: 36px;
  color: #111111;
  text-transform: uppercase;
}

.offer-location {
  font-size: 12px;
  cursor: pointer;
}

.offer-right-text {
  font-size: 14px;
}

@media (min-width: 800px) {
  .offer-left {
    max-width: 686px;
    padding-right: 0;
  }

  .offer-right {
    padding-left: 0;
  }

  .col-md-9 {
    padding: 0 6px;
  }

  .offer-left .header-image {
    max-height: 330px;
    margin-top: -16px;
  }

  .offer-desc {
    max-width: 550px;
  }
}

@media (max-width: 800px) {
  .col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .offer-title {
    font-size: 24px;
  }

  .progress-text p {
    margin-bottom: 8px !important;
  }

  .offer-return {
    margin-top: 32px;
  }

  .offer-right-socials {
    margin: 30px 0 0 0;
  }

  .offer-right-text .dropdown-divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .offer-right-text {
    font-size: 12px;
  }

  .progress-text {
    font-size: 14px;
  }

  .offer-desc {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.5rem;
  }

  .offer-right-socials span {
    margin-right: 28px;
  }

  .offer-right-socials div {
    margin-right: 37px;
  }

  .invest-button-holder {
    margin-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 1399px) {
  .page-title {
    margin-top: 0 !important;
  }
}
