<div class="header-image-container col-md-12 ml-0 pl-0 pr-0 wow fadeIn">
	<img class="header-image w-100" src="{{offerModel.main_image}}">
</div>

<div style="background: #fdfdfd" class="container root-content-container wow fadeIn">
	<div class="row row-eq-height">

		<div class="col-md-8">
			<h3 class="title text-uppercase gray-text">
				<b>{{offerModel.name}}</b>
			</h3>
		</div>
		<div class="col-md-4">
			<button routerLink="invest" id="invest-button"
				class="btn btn-primary w-100 btn-action-a float-right text-white">
				<i class="mr-3 fas fa-chart-pie"></i>
				<span>INVEST</span>
			</button>
		</div>
		<div class="col-md-8 p-3">
			<div class="card text-justify h-100">
				<div class="card-body">
					<div class="card-title explainer-mini">ABOUT</div>
					<div class=" card-text">
						{{offerModel.description}}
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 p-3">
			<div class="card">
				<div class="card-body">
					<div class="card-title explainer-mini">INFO</div>
					<div class="card-text">
						<div class="mb-2 info-holder">
							<p class="mb-2 font-weight-bold info-head-elem">
								<i class="mr-2 fas fa-map-marker-alt" height="14" width="14"></i>
								LOCATION
							</p>
							{{offerModel.location_text}}
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-2 info-holder">
							<p class="mb-2 font-weight-bold info-head-elem">
								<i class="mr-2 fas fa-align-left"></i>
								OFFERED BY
							</p>
							{{offerModel.organization.name}}
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-2 info-holder">
							<p class="mb-2 font-weight-bold info-head-elem">
								<i class="mr-2 fas fa-chart-line"></i>
								RETURN ON INVESTMENT
							</p>
							{{offerModel.return_on_investment}}
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-3 info-holder">
							<p class="mb-2 font-weight-bold info-head-elem">
								<i class="mr-2 fas fa-calendar-alt" height="14" width="14"></i>
								BEGINS
							</p>
							{{offerModel.start_date}}
						</div>
						<div class="dropdown-divider"></div>
						<div class="mb-3 info-holder">
							<p class="mb-2 font-weight-bold info-head-elem">
								<i class="mr-2 fas fa-calendar-alt" height="14" width="14"></i>
								ENDS
							</p>
							{{offerModel.end_date}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title explainer-mini">STATUS</div>
					<div class="card-text">
						<div class="row">
							<div class="col-md-8">
								<i *ngIf="offerModel.active" class="fas fa-toggle-on"></i>
								<i *ngIf="!offerModel.active" class="fas fa-toggle-off"></i>
								<span class="ml-3 explainer-mini gray-text text-uppercase">
									<span *ngIf="offerModel.active">Open for funding</span>
									<span *ngIf="!offerModel.active">Closed for funding</span>
								</span>
							</div>
							<div class="col-md-4 text-right">
								1270 investors
							</div>
							<div class="col-md-12 mt-1">
								<div class="progress">
									<div class="progress-bar" role="progressbar"
										[style.width]="(offerModel.current_funding / offerModel.expected_funding) * 100"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
							<div class="col-md-12 mt-2">
								<b>{{offerModel.currency}} {{offerModel.current_funding}}</b> of
								<b>{{offerModel.currency}} {{offerModel.expected_funding}}</b> collected
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12 mt-3">
			<hr>
		</div>

		<div class="col-md-12">
			<div class="explainer-mini text-uppercase">News</div>
		</div>

		<div class="col-md-6 mt-4">
			<div class="card h-100">
				<div class="card-body">
					<div class="card-title explainer-mini">DOCUMENTS</div>
					<div class="card-text">
						<div class="row">
							<div *ngFor="let doc of docs" class="col-md-12 mt-2 gray-text">
								<i class="fas fa-file-pdf"></i>
								<span class="ml-3">{{doc.title}}</span>
								<span class="float-right">
									<i class="fas fa-download"></i>
								</span>
								<div class="dropdown-divider mt-2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 mt-4">
			<div class="card">
				<here-map lat="37.7397" lng="-121.4252" width="100%" height="300px" [isForEditing]="false"></here-map>
			</div>
		</div>

	</div>

</div>