.navbar {
	height: 50px;
	background-color: #fff;
	color: #333;
	box-shadow: 5px 3px 6px rgba(0,0,0,0.1);
	margin-left: 220px;
}

@media(max-width: 800px) {
	.navbar {
		width: 100%;
	}

	.navbar {
		width: calc(100% - 220px);;
	}
}

#main-logo {
	height: 14px;
	margin-left: 10px;
}

.bell-badge {
	position: relative;
	transform: translate(30%, -60%);
}

#notification-bell:hover {
	cursor: pointer;
	transition: all 0.3s;
	color: #353;
}

.logo-text {
	font-size: 15px;
}

@media(min-width: 950px) {
	.navbar-hamburger {
		display: none;
	}
}

.navbar-hamburger:hover {
	cursor: pointer;
}

.search-nav-input {
	width: 50vw;
}

.search-nav-input input {
	border: none;
	transition: all 0.3s;
}

.search-nav-input input:focus {
	box-shadow: none;
}

#basic-addon1 {
	border: none;
	background: #fff;
}

