<nav class="navbar fixed-top navbar-expand-lg">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-brand">
      <img id="main-logo" src="../../assets/logo-white.png">
      <a routerLink="" class="text-white align-middle ml-2 logo-text">AMPnet</a>
    </div>

  	<div class="ml-auto"></div>
  	<div id="notification-bell" class="mr-2">
      <div class="dropdown dropleft">
        <a class="bell-badge badge badge-pill badge-danger dropdown-toggle" data-toggle="dropdown">3</a>
        <a class="dropdown-toggle fas fa-bell" data-toggle="dropdown"></a>

        <div class="dropdown-menu ">
          <a href="#" class="dropdown-item">
            <i class="fas fa-user"></i>
          New proposal from John
          </a>
          <a href="#" class="dropdown-item">
            <i class="fas fa-user"></i>
          New proposal from John
          </a>
        </div>
      </div> 
  	</div>
    <a routerLink="my_profile" class="mr-2 ml-3 text-white">John Doe</a>
  </div>

  <div class="navbar-hamburger" (click)="menuButtonClicked()">
      <i class="fas fa-bars"></i>
  </div>
</nav>

