<div class="container">
    <div *ngIf="(banks !== undefined) && (banks.length > 0) && (pendingWithdrawal === undefined)" class="row">
        <div class="col-md-12">
            <div class="explainer-mini text-uppercase">
                Withdrawal
            </div>

            <app-money-input-field
                    placeholder="Enter withdrawal amount" [(realValue)]="withdrawAmount">
            </app-money-input-field>
        </div>

        <div class="col-md-12 mt-3">
            <div class="explainer-mini text-uppercase">
                Enter bank account details
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <form [formGroup]="bankAccountForm">
                <input class="form-control w-100 p-4" id="iban-holder"
                       formControlName="iban" placeholder="IBAN"
                       type="text">
            </form>
        </div>

        <div class="col-md-12 mt-3">
            <app-action-button text="Withdraw money" [onClick]="requestWithdrawal.bind(this)">
            </app-action-button>
        </div>
    </div>

    <div *ngIf="pendingWithdrawal !== undefined" class="row">
        <div class="col-md-12 text-center mt-5 explainer-mini">
            <p>You have a pending withdrawal request.</p>
            <p>Please approve it to have money deposited into your account.</p>
            <p>It can take up to 24 hours to process the transaction.</p>
        </div>
        <div class="col-md-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <span class="card-text mt-2">
                        <div class="explainer-mini">Withdrawal amount</div>
                        {{ pendingWithdrawal.amount | currencyDefault }}
                    </span>
                    <span (click)="deleteWithdrawal().subscribe()" class="float-right cursor-pointer">
                        <i class="fas fa-trash"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <app-action-button text="Confirm withdrawal"
                               loadingText="Processing transaction..."
                               [onClick]="burnWithdraw.bind(this)">
            </app-action-button>
        </div>
    </div>

    <!-- NO BANK EXISTS -->
    <div *ngIf="banks !== undefined && banks.length === 0" class="row">
        <div class="col-md-12 text-center h6 mt-5">
            You cannot withdraw money without an active bank account
        </div>
        <div class="col-md-12 mt-5">
            <button class="btn btn-primary py-3 w-100" routerLink="/dash/payment_options/new">
                <i class="fas fa-piggy-bank mr-2"></i>
                Add bank account
            </button>
        </div>
    </div>
</div>
