<div *ngIf="user !== undefined" class="container root-content-container">
    <div class="explainer-mini">Your role on the platform is</div>
    <div *ngIf="user.role === 'ADMIN'">ADMIN</div>
    <div *ngIf="user.role === 'TOKEN_ISSUER'">TOKEN ISSUER</div>
    <div *ngIf="user.role === 'PLATFORM_MANAGER'">PLATFORM MANAGER</div>

    <div *ngIf="user.role === 'ADMIN' || user.role === 'PLATFORM_MANAGER'">
        <div class="explainer-mini mt-5">Platform manager</div>
        <div class="alert alert-info mt-3">The platform manager has the authority to approve users, groups and projects
        </div>
        <div class="row">
            <div class="col-md-8">
                <input class="form-control w-100 p-4" id="platform-manager-address"
                       placeholder="Enter address of new platform manager"
                       type="text">
            </div>
            <div class="col-md-4">
                <button (click)="changePlatformManagerClicked()" class="btn btn-primary h-100 w-100">Change platform
                    manager
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="user.role === 'ADMIN' || user.role === 'TOKEN_ISSUER'">
        <div class="explainer-mini mt-5">Token issuer</div>
        <div class="alert alert-info mt-3">The token issuer has the authority to mint and burn money on the platform
        </div>
        <div class="row">
            <div class="col-md-8">
                <input class="form-control w-100 p-4" id="token-issuer-address"
                       placeholder="Enter address of new token issuer"
                       type="text">
            </div>
            <div class="col-md-4">
                <button (click)="changeTokenIssuerClicked()" class="btn btn-primary h-100 w-100">Change token issuer
                </button>
            </div>
        </div>
    </div>

</div>
