<div class="container root-content-container">
  <div class="explainer-mini">Your role on the platform is</div>
  <div>{{user.role}}</div>

  <div class="explainer-mini mt-5">Platform manager</div>
  <div class="alert alert-info mt-3">The platform manager has the authority to approve users, groups and projects</div>
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control w-100 p-4">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary h-100 w-100">Change platform manager</button>
    </div>
  </div>

  <div class="explainer-mini mt-5">Token issuer</div>
  <div class="alert alert-info mt-3">The token issuer has the authority to mint and burn money on the platform</div>
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control w-100 p-4">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary h-100 w-100">Change token issuer</button>
    </div>
  </div>


</div>