.mat-form-field{
    min-width:100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}
.mat-chip {
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
}

