<div *ngIf="projects !== undefined">
    <div class="activate-page-subtitle">
        {{ 'admin.activations.projects.title' | translate }}
    </div>
    <div *ngIf="projects.length > 0" class="mt-3">
        <ul class="activation-list-group list-group list-group-flush">
            <li *ngFor="let project of projects" class="list-group-item">
                <div class="activation-list-group-holder">
                    <div class="activation-item-title">{{ project.project.name }}</div>
                    <a class="activation-item-subtitle" [routerLink]="['/dash/offers', project.project.uuid] | coopPath">
                        Preview
                    </a>
                </div>
                
                    <span class="float-right hover-fg">
                        <a [routerLink]="" (click)="activateProject(project.wallet.uuid).subscribe()">
                            <i class="fas fa-check-circle mr-2"></i>
                            <span class="activate-action">
                                {{ 'admin.activations.projects.activate' | translate }}
                            </span>
                        </a>
                    </span>
            </li>
        </ul>
    </div>
    <div *ngIf="projects.length === 0" class="mt-3">
        <div class="text-center mt-5">
            {{ 'admin.activations.projects.empty' | translate }}
        </div>
    </div>
</div>
