<div *ngIf="projects !== undefined">
    <h5 class="explainer-mini">
        {{ 'admin.activations.projects.title' | translate }}
    </h5>
    <div *ngIf="projects.length > 0" class="mt-3">
        <ul class="list-group">
            <li *ngFor="let project of projects" class="list-group-item explainer-mini link-remove-style">
                {{ project.project.name }}
                <a [routerLink]="">
                <span (click)="activateProject(project.wallet.uuid).subscribe()"
                      class="float-right hover-fg">
                    <i class="fas fa-check-circle mr-2"></i>
                    {{ 'admin.activations.projects.activate' | translate }}
                </span>
                </a>
            </li>
        </ul>
    </div>
    <div *ngIf="projects.length === 0" class="mt-3">
        <div class="text-center explainer-mini mt-5">
            {{ 'admin.activations.projects.empty' | translate }}
        </div>
    </div>
</div>
