<ng-container *ngIf="(bankAccount$ | async) as bankAccount; else spinner">
    <ng-container *ngIf="bankAccount === bankAccountState.NOT_FOUND; else bankAccountExists">
        <div class="alert alert-warning px-3">
            {{ 'deposit.bank_transfer.platform_bank_account_not_ready' | translate }}
        </div>
    </ng-container>
    <ng-template #bankAccountExists>
        <ng-container *ngIf="(deposit$ | async) as deposit; else spinner">
            <ng-container *ngIf="deposit === depositState.NOT_FOUND; else depositExists" @enterTrigger>
                <form [formGroup]="createDepositForm" id="emailForm"
                      class="tw-mt-8">
                    <label for="amount" class="app-page-label">
                        {{ 'deposit.bank_transfer.amount_input.title' | translate }}
                    </label>
                    <app-money-input-field
                            id="amount" [control]="createDepositForm.get('amount')">
                    </app-money-input-field>

                    <button app-action-button
                            text="{{ 'deposit.bank_transfer.create' | translate }}"
                            [onClick]="createDeposit(createDepositForm.get('amount').value).bind(this)"
                            [disabled]="!createDepositForm.dirty || !createDepositForm.valid"
                            class="btn btn-primary my-2 w-100">
                    </button>
                </form>
            </ng-container>
            <ng-template #depositExists>
                <div class="mt-3">
                    <div class="alert alert-info px-3">
                        {{ 'deposit.bank_transfer.notice' | translate | interpolate:['bankAccountName', appConfig.config.name] }}
                    </div>
                </div>

                <div class="tw-mt-8 tw-border tw-rounded tw-p-4">
                    <h3 class="tw-font-bold">
                        {{ 'deposit.bank_transfer.bank_details' | translate }}
                    </h3>

                    <div class="tw-flex tw-justify-between tw-mt-4">
                        <span>{{ 'deposit.bank_transfer.receiver' | translate }}</span>
                        <span class="tw-text-right">{{ bankAccount.alias || 'unknown' }}</span>
                    </div>

                    <div class="tw-flex tw-justify-between tw-mt-2">
                        <span>{{ 'deposit.bank_transfer.iban' | translate }}</span>
                        <span class="tw-text-right">{{ bankAccount.iban || 'unknown' }}</span>
                    </div>

                    <div class="tw-flex tw-justify-between tw-mt-2 tw-font-bold">
                        <span>{{ 'deposit.bank_transfer.reference' | translate }}</span>
                        <span>{{ deposit.reference || 'unknown' }}</span>
                    </div>

                    <h3 class="tw-font-bold tw-mt-4">
                        {{ 'deposit.bank_transfer.additional_info' | translate }}
                    </h3>

                    <div class="tw-flex tw-justify-between tw-mt-4">
                        <span>{{ 'deposit.bank_transfer.swift' | translate }}</span>
                        <span>{{ bankAccount.bank_code || 'unknown' }}</span>
                    </div>

                    <div class="tw-flex tw-justify-between tw-mt-2">
                        <span>{{ 'deposit.bank_transfer.bank_name' | translate }}</span>
                        <span class="tw-text-right">Zagrebačka banka</span>
                    </div>

                    <div class="tw-flex tw-justify-between tw-mt-2">
                        <span>{{ 'deposit.bank_transfer.bank_address' | translate }}</span>
                        <span class="tw-text-right">Paromlinska 3, 10000, Zagreb, Croatia</span>
                    </div>

                    <div class="tw-flex tw-justify-between tw-mt-2">
                        <span>{{ 'deposit.bank_transfer.amount' | translate }}</span>
                        <span class="tw-text-right">{{ deposit.amount | currencyDefault }}</span>
                    </div>
                </div>

                <!--                <div class="mt-5 card">-->
                <!--                    <div class="card-body">-->
                <!--                        <div class="card-title">-->

                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="card-text">-->
                <!--                        <div class="row justify-content-between pb-3 px-3">-->
                <!--                            <div class="col-lg-4">-->
                <!--                                <div class="text-uppercase mt-3">-->
                <!--                                    <fa-icon icon="piggy-bank" class="mr-2"></fa-icon>-->
                <!--                                    {{ 'deposit.bank_transfer.iban' | translate }}-->
                <!--                                </div>-->
                <!--                                <div>{{ bankAccount.iban || 'unknown' }}</div>-->
                <!--                            </div>-->

                <!--                            <div class="col-lg-4">-->
                <!--                                <div class="text-uppercase mt-3">-->
                <!--                                    <fa-icon icon="money-check-alt" class="mr-2"></fa-icon>-->
                <!--                                    {{ 'deposit.bank_transfer.swift' | translate }}-->
                <!--                                </div>-->
                <!--                                <div>{{ bankAccount.bank_code || 'unknown' }}</div>-->
                <!--                            </div>-->

                <!--                            <div class="col-lg-4">-->
                <!--                                <div class="text-uppercase mt-3">-->
                <!--                                    <fa-icon icon="address-book" class="mr-2"></fa-icon>-->
                <!--                                    {{ 'deposit.bank_transfer.reference' | translate }}-->
                <!--                                </div>-->
                <!--                                <div>{{ deposit.reference }}</div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <button app-action-button [onClick]="deleteDeposit(deposit.id).bind(this)"
                        class="btn btn-primary my-2 w-100"
                        [text]="'deposit.bank_transfer.cancel' | translate"></button>
            </ng-template>
        </ng-container>
    </ng-template>
</ng-container>

<ng-template #spinner>
    <app-spinner type="overlay" class="w-100"></app-spinner>
</ng-template>
