#summary-container {
  padding: 50px;
}

#summary-list {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
}

.number-circle {
  background: #dea546;
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 6em;
  margin-right: 5px;
  text-align: center;
  width: 6em;
}

.summary-item {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
}
