<app-header [onlyLogo]="true"></app-header>
<div id="summary-container">
  <h1>Platform Summary</h1>

  <div id="summary-list">
    <div class="summary-item" *ngIf="numberOfUsers">
      <p>Total number of platform users:</p>
      <div class="number-circle">{{ numberOfUsers }}</div>
    </div>

    <div class="summary-item" *ngIf="numberOfActiveProjects">
      <p>Currently active projects for funding:</p>
      <div class="number-circle">{{ numberOfActiveProjects }}</div>
    </div>

    <div class="summary-item">
      <p>Number of funded projects:</p>
      <div class="number-circle">{{ blockchainSummary.number_of_funded_projects }}</div>
    </div>
    <div class="summary-item">
      <p>Total money raised:</p>
      <div class="number-circle">{{ blockchainSummary.total_money_raised / 100000 }}K</div>
    </div>
    <div class="summary-item">
      <p>Average investment size:</p>
      <div class="number-circle">{{ blockchainSummary.average_user_investment / 100000 }}K</div>
    </div>
    <div class="summary-item">
      <p>Average project size:</p>
      <div class="number-circle">{{ blockchainSummary.average_project_size / 10000 }}K</div>
    </div>
    <div class="summary-item">
      <p>Average funded project size: </p>
      <div class="number-circle">{{ blockchainSummary.average_funded_project_size / 100000 }}K</div>
    </div>
  </div>
</div>
