<div *ngIf="users !== undefined">
    <h5 class="explainer-mini">Unactivated users</h5>
    <div *ngIf="users.length > 0" class="mt-3">
        <ul class="list-group">
            <li *ngFor="let user of users" class="list-group-item explainer-mini">
                {{user.user.first_name}} {{user.user.last_name}} (<i>{{user.user.email}}</i>)
                <span (click)="activateUserClicked(user.wallet.uuid)" class="float-right cursor-pointer hover-fg">
          <i class="fas fa-check-circle mr-2"></i>
          Activate
        </span>
            </li>
        </ul>
    </div>
    <div *ngIf="users.length ===  0" class="mt-3">
        <div class="text-center explainer-mini mt-5">
            No unactivated users
        </div>
    </div>
</div>
