@import "colors";
@import "bootstrap/scss/mixins/buttons";

.btn,
.btn span {
  font-weight: 300;
  font-size: $font-size-desktop-body;
  color: $secondary-color;
  line-height: 0;
}

.btn {
  @include button-variant($primary-color, darken($primary-color, 7.5%), darken($primary-color, 10%), lighten($primary-color,5%), lighten($primary-color, 10%), darken($primary-color,30%));
  border-radius: 2px;
  background: $primary-color;
  border: none;
  height: 48px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    font-size: $font-size-desktop-body;
  }

  &-primary {
    height: 64px;
  }

  &-responsive-size {
    @include media-breakpoint-up(lg) {
      height: 64px;
    }
  }

  &-danger {
    @include button-variant($error-color, darken($error-color, 7.5%), darken($error-color, 10%), lighten($error-color,5%), lighten($error-color, 10%), darken($error-color,30%));
    font-weight: bold;
    span {
      font-weight: bold;
    }
  }

  &-success {
    @include button-variant($success-color, darken($success-color, 7.5%), darken($success-color, 10%), lighten($success-color,5%), lighten($success-color, 10%), darken($success-color,30%));
  }

  &-socials-facebook {
    @include button-variant($socials-facebook, darken($socials-facebook, 7.5%), darken($socials-facebook, 10%), lighten($socials-facebook,5%), lighten($socials-facebook, 10%), darken($socials-facebook,30%));
  }

  &-socials-google {
    @include button-variant($socials-google, darken($socials-google, 7.5%), darken($socials-google, 10%), lighten($socials-google,5%), lighten($socials-google, 10%), darken($socials-google,30%));
  }
  
  &-grey {
    @include button-variant(darken($background-color, 7.5%), darken($background-color, 30%), darken($background-color, 12%), darken($background-color, 30%), darken($background-color, 10%), darken($background-color, 40%));
  }

  &-outline-primary {
    @include button-outline-variant($primary-color, darken($primary-color, 10%), lighten($primary-color,5%), $primary-color);
  }

  &-center {
    display: flex;
    align-items: center;
    &:focus {
      box-shadow: none;
    }
  }
  
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }

  &:disabled {
    background-color: darken($background-color, 7.5%);
    color: darken($border-color, 7.5%);
    border: none;
    span {
      color: darken($border-color, 7.5%);
    }
  }
}
