@import "colors";
@import "bootstrap/scss/mixins/buttons";

.btn {
  border-radius: 8px;
  height: 48px;
  background: $primary-color;
  border-color: $primary-color;
  font-weight: 400;
  font-size: 16px;

  &-primary {
    @include button-variant($primary-color, darken($primary-color, 7.5%), darken($primary-color, 10%), lighten($primary-color,5%), lighten($primary-color, 10%), darken($primary-color,30%));
    height: 64px;
    font-size: 17px;
  }

  &-outline-primary {
    @include button-outline-variant($primary-color, darken($primary-color, 10%), lighten($primary-color,5%), $primary-color);
  }
}
