$primary-color: #1b9bc2;
$warning-color: #FF8C00;
$warning-color-bg: #FFF1E0;
$success-color: #1bc285;
$success-color-bg: #D0FBEB;
$error-color: #ff1433;
$error-color-bg: #FFE0E4;
$title-color: #111;
$body-color: #555;
$icons-color: #aaa;
$border-color: #d8d8d8;
$border-light-color: #e5e5e5;
$background-color: #f7f7f7;
$secondary-color: #ffffff;
