$primary-color: #1bc2bd;
$warning-color: #f5e0b5;
$success-color: #1bc285;
$error-color: #ff1433;
$title-color: #111;
$body-color: #444;
$icons-color: #aaa;
$border-color: #d8d8d8;
$border-light-color: #e5e5e5;
$background-color: #f7f7f7;
