@import "bootstrap/scss/mixins/breakpoints";
@import "colors";
@import url('//fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

$font-size-desktop-title: 36px;
$font-size-desktop-body: 16px;
$font-size-desktop-body2: 14px;
$font-size-desktop-labels: 13px;
$font-size-desktop-small: 12px;
$font-size-desktop-xsmall: 11px;

$font-size-mobile-title: 24px;
$font-size-mobile-body: 14px;
$font-size-mobile-title-small: 12px;
$font-size-mobile-body-small: 10px;

* {
  font-size: $font-size-mobile-body;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-desktop-body;
  }
}
