<div class="container root-content-container wow fadeIn">
	<div class="row">
		<div class="col-md-3 mt-3">
			<p class="mb-2">
				<i data-feather="pie-chart" class="mr-2" width="14" height="14"></i>
				<span class="explainer-mini text-uppercase align-middle">Total investment</span>
			</p>
			<h3 class="mt-0">$12,345</h3>
		</div>
		<div class="col-md-3 mt-3">
			<p class="mb-2">
				<i data-feather="dollar-sign" class="mr-2" width="14" height="14"></i>
				<span class="explainer-mini text-uppercase align-middle">Total earnings</span></p>
			<h3 class="mt-0">$12,345</h3>
		</div>
		<div class="col-md-3 mt-3">
			<p class="mb-2">
				<i data-feather="life-buoy" class="mr-2" width="14" height="14"></i>
				<span class="explainer-mini text-uppercase align-middle">CO2 saved</span></p>
			<h3 class="mt-0">123t</h3>
		</div>
		<div class="col-md-3 mt-3">
			<p class="mb-2">
				<i data-feather="trending-up" class="mr-2" width="14" height="14"></i>
				<span class="explainer-mini text-uppercase align-middle">Total earnings</span></p>
			<h3 class="mt-0">$12,345</h3>
		</div>
	</div>
</div>
<div class="container pl-5 pr-5 mt-4">
	<div class="row">
		<div class="col-md-12 ">
			<app-wallet-chart></app-wallet-chart>
		</div>
		<div class="col-md-12 mt-5 mb-3">
			<h5 class="font-weight-bold">MY INVESTMENTS</h5>
		</div>
		<div class="col-md-4" *ngFor="let investment of investments">
			<app-single-invest-item [investment]=investment></app-single-invest-item>
		</div>
	</div>
</div>