<ng-container *ngIf="(walletActivated$ | async) as walletActivated else overlaySpinner">
    <div *ngIf="walletActivated" class="container">
        <h1 class="app-page-title">My portfolio</h1>
        <ng-container *ngIf="{
            stats: portfolioStats$ | async,
            portfolio: portfolio$ | async
        } as states">

        <div class="investment-total">
            <div class="investment-total__left">
                <p>Total investment</p>
                <h2>
                    <ng-container *ngIf="!!states.stats else smallSpinner">
                        {{ states.stats.investments | currencyDefault }}
                    </ng-container>
                </h2>
            </div>
            <div class="investment-total__right">
                <p>Total earnings</p>
                <h2>
                    <ng-container *ngIf="!!states.stats else smallSpinner">
                        {{ states.stats.earnings | currencyDefault }}
                    </ng-container>
                </h2>
            </div>
        </div>

        <div class="investment-history">
            <p class="history__title">Investments</p>
            <div *ngIf="states.portfolio?.length === 0">
                <div class="w-100 history__empty">
                    You don't have any active investments
                </div>
            </div>

            <ng-container *ngIf="states.portfolio else overlaySpinner">
                <div *ngFor="let item of states.portfolio"
                     class="history__item wow fadeIn" style="visibility:hidden">
                    <app-single-invest-item [investment]=item></app-single-invest-item>
                </div>
            </ng-container>

        </div>
        </ng-container>
    </div>

    <div *ngIf="!walletActivated" class="root-content-container">
        <div class="conatiner wow fadeIn mt-5">
            <h6 class="text-center w-100">
                Your portfolio will be available after you've invested into a project.
            </h6>
        </div>
    </div>
</ng-container>

<ng-template #overlaySpinner>
    <div class="justify-content-center" style="width: 100%">
        <app-spinner type="overlay"></app-spinner>
    </div>
</ng-template>

<ng-template #smallSpinner>
    <app-spinner type="inline" color="white"></app-spinner>
</ng-template>
