@import "app";

* {
  color: #111111;
}

h1 {
  font-size: $font-size-mobile-title;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-holder {
  background: #F7F7F7;
  padding-bottom: 10px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  cursor: pointer;
}

.card-right .app-card-title {
  display: none;
}

.app-card-title, .left__progress, .card-right {
  padding: 0 20px;
}

.left__progress {
  display: table;
}

.left__img {
  margin-bottom: 24px;
}

.img__base {
  max-height: 48vw;
}

.progress {
  height: 4px;
  border-radius: 2px;
  background-color: $border-color;
  margin-top: 8px;

  &__raised {
    margin-top: 20px;
    color: #444444;
    span {
      color: #111111;
      font-weight: bold;
    }
  }

  .progress__bar {
    height: 4px;
    border-radius: 2px;
    background-color: $success-color;
  }
}

.left__ends-info {
  font-size: $font-size-mobile-title-small;
  font-weight: lighter;
  margin-top: 10px;
  color: #444444;
}

.right__text {
  margin-top: 20px;
}

.right__roi {
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #444444;
}

.right__desc {
  max-height: 24vw;
  overflow: hidden;
  line-height: 21px;
  color: #444444;
  letter-spacing: 0.2px;
  margin-bottom: 18px;
}

.right__cta {
  margin-bottom: 32px;
}

@include media-breakpoint-up(lg) {
  .card-holder {
    display: flex;
    border-radius: 8px;
  }

  .left__progress, .card-right {
    padding: 0;
  }

  .card-left {
    margin: 0 64px;

    .app-card-title {
      display: none;
    }
  }

  .progress__raised {
    margin: 0;
  }

  .img__base {
    max-width: 622px;
    max-height: 300px;
    border-radius: 8px;
    margin-top: -16px;
  }

  .left__ends-info {
    margin-bottom: 32px;
  }

  .card-right {
    max-width: 21vw;
    margin-right: 64px;

    .app-card-title {
      display: block;
      padding: 0;
      font-size: $font-size-desktop-title;
      margin-top: 40px;
    }
  }

  .right__desc {
    max-height: 100px;
    line-height: 25px;
  }
}
