.card-holder {
	width: 100%;
	display: flex;
	box-shadow: 0px 1px 8px 3px rgba(0, 0, 0, 0.14);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding-bottom: 10px;  
	border-radius: 5px;
	background: #fefefe;
}

@media(max-width: 800px) {
	.card-holder {
		flex-direction: column;
	}

	.card-progress-holder {
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 1.5em;
	}

	.card-content-holder {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.card-holder {
		padding-bottom: 1.5em;
	}
}

.card-holder:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media(min-width: 800px) {
	.card-content-holder {
		width: 40%;
		padding-top: 3em;
		padding-left: 3em;
		padding-right: 3em;
	}
}

@media(min-width: 800px) {
	.card-left-holder {
		width: 60%;
		height: 100%;
		padding-left: 1.5em;
		padding-top: 50px;
	}

	.card-img-holder {
		margin-top: -70px;
	}
}


.card-img-holder {
	height: 300px;
	margin-bottom: 20px;
}

.card-img-base {
	object-fit: cover!important;
}


.card-progress-holder {
	height: 30%;
}

.required-funding {
	font-size: 30px!important;
	font-weight: 200;
}

img {
	-webkit-box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.28);
	-moz-box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.28);
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.28);
	border-radius: 5px;
}

.card-content-text-holder {
	height: 290px;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 20px;
}

.card-content-actions-holder {
	height: 14%;
	position: relative;
}

.invest-button {
	position: absolute;
	bottom: 0;
	left: 0;
}