@import "app";

* {
  color: #111111;
}

.card-holder {
  background: $background-color;
  padding-bottom: 10px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-right .app-basic-title {
  display: none;
}

.app-basic-title, .left__progress, .card-right {
  padding: 0 20px;
}

.app-basic-title {
  cursor: pointer;
}

.img__base {
  height: 100%;
  object-fit: cover !important;
}

.progress {
  height: 4px;
  border-radius: 2px;
  background-color: $border-color;
  margin-top: 8px;

  &__raised {
    margin-top: 20px;
    color: #444444;

    span.bold {
      color: #111111;
      font-weight: bold;
    }
  }

  &__bar {
    height: 4px;
    border-radius: 2px;
    background-color: $success-color;
  }
}

.left {
  &__img {
    margin-bottom: 24px;
    height: 48vw;
  }

  &__progress {
    display: table;
  }

  &__ends-info {
    font-size: $font-size-mobile-title-small;
    font-weight: lighter;
    margin-top: 10px;
    color: #444444;
  }
}

.right {
  &__text {
    margin-top: 20px;
  }

  &__published {
    text-transform: uppercase;
    margin-bottom: 25px;
    color: $title-color;
    font-size: $font-size-desktop-small;
    font-style: italic;
    letter-spacing: 2px;

    a {
      font-size: $font-size-desktop-small;
      letter-spacing: 2px;
      color: $title-color;
    }
  }

  &__roi {
    text-transform: uppercase;
    margin-bottom: 25px;
    color: $title-color;
    font-size: $font-size-desktop-small;
    letter-spacing: 2px;

    span.bold {
      font-size: $font-size-desktop-small;
      letter-spacing: 2px;
      color: $title-color;
      font-weight: bold;
    }
  }

  &__desc {
    max-height: 85px;
    overflow: hidden;
    line-height: 21px;
    color: #444444;
    letter-spacing: 0.2px;
    margin-bottom: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__cta {
    margin-bottom: 32px;
  }
}

@include media-breakpoint-up(lg) {
  .app-basic-title, .left__progress, .card-right {
    padding: 0;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .card-holder {
    display: flex;
    border-radius: 1px;
  }

  .card-left {
    margin: 0 64px;
    width: 60%;

    .app-basic-title {
      display: none;
    }
  }

  .progress__raised {
    margin: 0;
  }

  .left__img {
    height: 300px;
    cursor: pointer;
  }

  .img__base {
    border-radius: 1px;
    margin-top: -16px;
  }

  .left__ends-info {
    margin-bottom: 32px;
  }

  .card-right {
    width: 33.5%;
    margin-right: 64px;

    .app-basic-title {
      display: block;
      margin-top: 40px;
    }
  }

  .right__desc {
    max-height: 100px;
    line-height: 25px;
  }
}
