<div class="container">
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipsList aria-label="Chip selection">
            <mat-chip *ngFor="let tag of projectTags"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(tag)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                    placeholder="Project tags..."
                    #tagInput
                    [formControl]="tagsCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipsList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{tag}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
