<app-header [onlyLogo]="true"></app-header>
<div id="top-container">
    <div class="content-container mt-5">
        <div class="col-md-6 card p-5 m-auto mt-5">
            <div id="card-content">
                <h1>RESET PASSWORD</h1>
                <div class="dropdown-divider mt-4"></div>

                <form (ngSubmit)="onSubmitPasswordForm()" [formGroup]="resetPasswordForm">
                    <label class="w-100">New password
                        <input class="form-control mt-3 p-4" formControlName="password" placeholder="Password"
                               type="password">
                    </label>
                    <small class="form-text text-muted mt-2 mb-2">
                        Password must be 8 characters or longer.
                    </small>
                    <label class="w-100">Confirm new password
                        <input class="form-control mt-3 p-4" formControlName="confirmPassword"
                               placeholder="Confirm password"
                               type="password">
                    </label>
                    <button [disabled]="resetPasswordForm.invalid" class="btn btn-primary w-100 mt-3 py-3"
                            type="submit">
                        <i class="fas fa-paper-plane mr-2"></i>
                        Submit
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>
