<div class="alert-box">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="frmRevenueAmountConfirm">
            <div class="row">
                <h5 class="explainer-mini text-uppercase gray-text col-md-12">
                    <b>Amount</b>
                </h5>

                <div class="col-md-12">
                    <input class="form-control mt-3 p-4 w-100"
                           formControlName="amount"
                           id="revenue-confirm-amount"
                           placeholder="Revenue share amount"
                           type="text">
                </div>

                <div class="col-md-4">
                    <button (click)="onConfirm()"
                            [disabled]="!frmRevenueAmountConfirm.valid"
                            class="btn btn-primary w-100 float-right mt-3 py-3 px-5"
                            type="submit">
                        Confirm
                    </button>
                </div>
                <div class="col-md-4">
                    <button (click)="onCancel()"
                            class="btn btn-primary w-100 float-right mt-3 py-3 px-5"
                            type="button">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--<div class="alert-box">-->
<!--    <div class="modal-header">-->
<!--        <h4 class="modal-title">{{ title }}</h4>-->
<!--        <button type="button"-->
<!--                class="close"-->
<!--                aria-label="Close" (click)="onCancel()">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--    </div>-->
<!--    <div class="modal-body">-->
<!--        <div class="modal-body">-->
<!--            <label for="revenue-confirm-amount">-->
<!--                Amount-->
<!--            </label>-->
<!--            <input [(ngModel)]="amountInvestedConfirm"-->
<!--                   class="form-control px-4 py-4"-->
<!--                   id="revenue-confirm-amount"-->
<!--                   type="text">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--        <button (click)="onCancel()"-->
<!--                class="btn btn-secondary px-5 py-2"-->
<!--                data-dismiss="modal"-->
<!--                type="button">Cancel-->
<!--        </button>-->
<!--        <button (click)="onConfirm()"-->
<!--                class="btn btn-primary px-5 py-2"-->
<!--                type="button">-->
<!--            <i class="fas fa-check-circle mr-2"></i>-->
<!--            Confirm-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->
