.modal {
  border: none;
}

.fade-custom {
  opacity: 1;
}

h1 {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 60px;
  color: #111111;
}

.btn, .form-group input {
  margin: auto;
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

.dropdown-divider {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.socials-facebook, .socials-google {
  border: none;
  color: #FFFFFF;
  height: 64px;
}

.socials-facebook {
  background-color: #39579A;
}

.socials-google {
  background-color: #3B4BE0;
}

.socials-facebook:hover, .socials-google:hover {
  background-color: rgb(30, 75, 58);
  box-shadow: 0 10px 20px rgba(105, 190, 148, 0.4);
}

/* Desktop inputs */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
  }

  .container {
    width: 500px;
    margin-bottom: 30px;
  }

  .dropdown-divider {
    width: 280px;
  }
}

/* Mobile inputs */
@media (max-width: 575px) {
  .modal-dialog {
    margin: 30px;
  }

  .dropdown-divider {
    width: 230px;
  }
}
