<div class="modal fade" id="log-in-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <h1>LOGIN</h1>

                    <form [formGroup]="emailLoginForm" class="form-group">
                        <input aria-describedby="emailHelp"
                               (keyup.enter)="logInMailButton.click()"
                               class="input-lg"
                               formControlName="email"
                               placeholder="Enter email" type="email">

                        <input class="input-lg"
                               formControlName="password"
                               (keyup.enter)="logInMailButton.click()"
                               placeholder="Password" type="password">
                        <app-action-button text="Login" loadingText="Logging in..." #logInMailButton
                                           [onClick]="logInMailClicked.bind(this)"
                                           [disabled]="!emailLoginForm.valid">
                        </app-action-button>
                    </form>

                    <div class="dropdown-divider mt-4 mb-4 mx-auto"></div>

                    <button (click)="logInFacebookClicked()"
                            class="btn socials-facebook btn-action-a">
                        <i class="fab fa-facebook-square mr-2"></i>
                        <span class="">Login with Facebook</span>
                    </button>
                    <button (click)="logInGoogleClicked()"
                            class="btn btn-action-a socials-google mt-3">
                        <i class="fab fa-google mr-2"></i>
                        <span class="">Login with Google</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
