<div class="root root-content-container">
  <div 
    *ngIf="(banks != undefined) && (banks.length > 0) && (pendingWithdrawal == undefined)" 
    class="row">
    <div class="col-md-12">
      <div class="explainer-mini text-uppercase">
        Withdrawal
      </div>
      <input class="w-100 mt-3 py-4 form-control font-weight-bold p-4" type="number" 
        placeholder="Enter withdrawal amount" name="" id="withdraw-amount">

      <div class="explainer-mini text-uppercase mt-4">
        Choose bank account
      </div>

      <ul class=" list-group mt-3">
        <li class="list-group-item cursor-pointer hover-bg font-weight-bold gray-text" 
        *ngFor="let bank of banks; let i = index"
        (click)="changeActiveAccount(i)">
          {{bank.iban}}
          <span *ngIf="activeBankAccount == i" class="float-right">
            <i class="fas fa-check-circle"></i>
          </span>
        </li>
      </ul>

      

     
    </div>
  </div>

  <div *ngIf="pendingWithdrawal != undefined" class="row">
    
    <div class="col-md-12 text-center mt-5 explainer-mini">
        You have a pending withdrawal. <br> Please  approve it to have money deposited into your account
    </div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title explainer-mini text-uppercase">
            Withdrawal details
          </div>
          <div class="card-text mt-2">
            <div class="explainer-mini">Withdrawal amount</div>
              EUR{{pendingWithdrawal.amount}}
          </div>
          
        </div>
      </div>
    </div>
    
  </div>

  <button (click)="generateWithdrawClicked()" class="btn btn-primary py-3 mt-3 w-100">
    <i class="fas fa-check-circle mr-2"></i>
    Withdraw money
  </button>

  <!-- NO BANK EXISTS -->
  <div class="row" *ngIf="(banks != undefined) && (banks.length == 0)">
    <div class="col-md-12 text-center h6 mt-5">
        You cannot withdraw money without an active bank account
    </div>
    <div class="col-md-12 mt-5">
      <button routerLink="/dash/payment_options/new" class="btn btn-primary py-3 w-100">
        <i class="fas fa-piggy-bank mr-2"></i>
        Add bank account
      </button>
    </div>
  </div>
</div>