<div class="container">
    <a [routerLink]="" appBackNavigation class="nostyle">
        <div class="app-page-title-back">
            <fa-icon icon="long-arrow-alt-left" class="mr-3"></fa-icon>
            {{ 'general.back.title' | translate }}
        </div>
    </a>

    <ng-container *ngIf="(withdrawal$ | async) as withdrawal; else spinner">
        <ng-container *ngIf="withdrawal === response.EMPTY; else withdrawalExists">
            <ng-container *ngIf="(banks$ | async) as banks; else spinner">
                <div *ngIf="banks.length > 0">
                    <label for="amount" class="app-page-label">
                        {{ 'withdraw.amount_input.title' | translate }}
                    </label>

                    <app-money-input-field
                            inputClass="input-reg w-100" id="amount"
                            placeholder="{{ 'withdraw.amount_input.placeholder' | translate }}"
                            [control]="withdrawForm.get('amount')">
                    </app-money-input-field>
                    <div>
                        <small>
                            <ng-container *ngIf="(wallet$ | async) as wallet; else smallSpinner">
                                {{ 'withdraw.amount_input.wallet_balance' | translate
                                    | interpolate:['balance', wallet.wallet.balance | currencyDefault] }}
                            </ng-container>
                        </small>
                    </div>

                    <label for="bank" class="app-page-label mt-2">
                        {{ 'withdraw.bank_picker.title' | translate }}
                    </label>
                    <div class="list-group" id="bank">
                        <a [routerLink]="" (click)="setBank(banks[i])"
                           *ngFor="let bank of banks; let i = index"
                           class="list-group-item list-group-item-action">
                            {{ bank.iban }}
                            <span *ngIf="bank.alias"> - {{ bank.alias }}</span>
                            <span *ngIf="withdrawForm.get('bank').value === bank" class="float-right">
                                <fa-icon icon="check-circle"></fa-icon>
                            </span>
                        </a>
                    </div>

                    <button app-action-button
                            class="btn mt-2 w-100"
                            text="{{ 'withdraw.withdraw_button' | translate }}"
                            [disabled]="!withdrawForm.valid"
                            [onClick]="requestWithdrawal.bind(this)">
                    </button>
                </div>

                <div *ngIf="banks.length === 0">
                    <div class="empty">
                        <div class="empty__title">
                            {{ 'withdraw.no_bank.notice' | translate }}
                        </div>
                        <div class="empty__cta">
                            <button class="btn btn-primary w-100" [routerLink]="'/dash/payment_options/new' | coopPath">
                                <fa-icon icon="piggy-bank" class="mr-2"></fa-icon>
                                {{ 'withdraw.no_bank.add_bank_account' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #withdrawalExists>
            <div class="card-text">
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <div>
                            <fa-icon icon="chart-line" class="mr-3"></fa-icon>
                            {{ 'withdraw.request.amount' | translate }}
                        </div>
                        <div class="mt-2 h3">
                            {{ withdrawal.amount | currencyDefault }}
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div>
                            <fa-icon icon="solar-panel" class="mr-3"></fa-icon>
                            {{ 'withdraw.request.destination' | translate }}
                        </div>
                        <div class="mt-2 h3">
                            {{ withdrawal.bank_account }}
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!withdrawal.approved_tx_hash; else withdrawalSigned">
                <div class="d-flex mt-5">
                    <button app-action-button
                            text="{{ 'withdraw.sign_button' | translate }}"
                            [onClick]="signWithdrawal(withdrawal.id).bind(this)">
                    </button>
                    <button app-action-button
                            class="btn btn-primary btn-danger ml-3"
                            text="{{ 'withdraw.cancel_button' | translate }}"
                            [onClick]="deleteWithdrawal(withdrawal.id).bind(this)">
                    </button>
                </div>
            </ng-container>

            <ng-template #withdrawalSigned>
                <div class="alert alert-info px-3 mt-3">
                    {{ 'withdraw.pending_notice' | translate }}
                </div>

                <button app-action-button
                        class="btn btn-primary btn-danger"
                        text="{{ 'withdraw.cancel_button' | translate }}"
                        [onClick]="deleteWithdrawal(withdrawal.id).bind(this)">
                </button>
            </ng-template>
        </ng-template>
    </ng-container>
</div>
<ng-template #spinner>
    <app-spinner type="overlay"></app-spinner>
</ng-template>
<ng-template #smallSpinner>
    <app-spinner type="inline"></app-spinner>
</ng-template>

