<div class="container root-content-container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-uppercase">Proposal name</h4>
        </div>
        <div class="col-md-12 mt-3 text-description mb-3">
            <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

        <div class="voting-holder col-md-4 text-success text-uppercase text-center">
            <i class="fas fa-thumbs-up mr-2"></i>
            <span>Positive votes</span>
            <h4 class="mt-2">3120</h4>
        </div>

        <div class="voting-holder col-md-4 text-danger text-uppercase text-center">
            <i class="fas fa-thumbs-down mr-2"></i>
            <span>Negative votes</span>
            <h5 class="mt-2">2200</h5>
        </div>

        <div class="voting-holder col-md-4 text-info text-uppercase text-right text-center">
            <i class="fas fa-flag mr-2"></i>
            <span>Total</span>
            <h5 class="mt-2">5320</h5>
        </div>

        <div class="col-md-12 mt-3 mb-2">
            <span class="text-uppercase">Current status</span>
            <span class="text-uppercase float-right">58% positive</span>
            <div class="progress mt-2">
                <div class="progress-bar w-75"></div>
                <div class="progress-bar w-25 bg-danger"></div>
            </div>
        </div>

        <div class="col-md-12 mt-4">
            <h5 class="text-uppercase">Voting</h5>
            <p class="text-uppercase">
                You have 75 votes, representing <i>0.20%</i> of the total vote
            </p>
        </div>

        <div class="col-md-6 mt-2">
            <button class="btn btn-success w-100 btn-action-a text-uppercase">
                <i class="fas fa-thumbs-up mr-2"></i>
                Support proposal
            </button>
        </div>
        <div class="col-md-6 mt-2">
            <button class="btn btn-danger w-100 btn-action-a text-uppercase">
                <i class="fas fa-thumbs-down mr-2"></i>
                Decline proposal
            </button>
        </div>
        <div class="col-md-12">
            <h5 class="text-uppercase  mt-5">DISCUSSION</h5>
            <disqus [identifier]="identifier"></disqus>
        </div>
    </div>
</div>
