<div class="container root-content-container">
  <div class="row">
    <h5 class="col-md-12 text-uppercase gray-text"><b>Hello John Doe</b> </h5>
    <div class="col-md-12 mt-3 mb-5">
      <app-wallet-chart></app-wallet-chart>
    </div>

    <div class="col-md-3">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-money-check-alt mr-2"></i>
        <span>Balance</span>
      </div>
      <span>USD 123</span>
    </div>

    <div class="col-md-3">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-bolt mr-2"></i>
        <span>Spent</span>
      </div>
      <span>12,7 kWh</span>
    </div>

    <div class="col-md-3">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-tachometer-alt mr-2"></i>
        <span>Produced</span>
      </div>
      <span>0,0 kWh</span>
    </div>

    <div class="col-md-3">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-chart-line mr-2"></i>
        <span>Investments</span>
      </div>
      <span>USD 12,337 (+4%)</span>
    </div>

    <div class="col-md-12 mt-5">
      <h5 class=" text-uppercase gray-text">News</h5>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          Hello
        </div>
      </div>  
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          Hello
        </div>
      </div>  
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          Hello
        </div>
      </div>  
    </div>

  </div>
</div>
