<div class="container root-content-container">
    <div class="row">
        <div class="input-group name-proposal-holder">
            <input class="form-control" placeholder="Enter proposal name" type="text">
        </div>
    </div>
    <div class="input-group mt-3 description-proposal-holder">
        <textarea class="form-control" placeholder="Enter proposal description" type="text"></textarea>
    </div>
    <button class="btn btn-primary mt-2 btn-action-a px-4">
        <i class="mr-2" data-feather="paperclip"></i>
        <span class="text-uppercase">Attach documents</span>
    </button>
    <h5 class="text-uppercase mt-5">Contract</h5>
    <ul class="nav nav-fill nav-tabs mt-3">
        <li class="nav-item">
            <a (click)="tabToggle(0)" class="nav-link active" id="template-nav">From Template</a>
        </li>
        <li class="nav-item">
            <a (click)="tabToggle(1)" class="nav-link" id="custom-nav">Upload Custom</a>
        </li>
    </ul>
    <!-- TEMPLATE TAB -->
    <div class="contract-holder p-3">
        <div id="template-holder">
            <p class="text-uppercase">Choose proposal template</p>
            <ul class="list-group">
                <li class="list-group-item active">New Employee</li>
                <li class="list-group-item">Right of hire</li>
                <li class="list-group-item">Additional money raise</li>
                <li class="list-group-item">Restructure equity</li>
            </ul>
        </div>
        <div id="custom-holder">
            <p class="text-uppercase">Upload Solidity or Sophia code</p>
            <button class="btn btn-primary">UPLOAD</button>
        </div>
    </div>

    <button class="btn btn-primary float-right mt-4 btn-action-a px-4" id="next-button"
            routerLink="/finish_new_proposal">
        <span class="text-uppercase align-middle">NEXT</span>
    </button>

</div>



