<div class="alert-box">
    <div class="modal-header">
        <h4 class="modal-title">Confirm revenue share amount</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="confirmForm">
            <div class="row">
                <h5 class="explainer-mini text-uppercase gray-text col-md-12">
                    <b>Amount</b>
                </h5>

                <div class="col-md-12">
                    <input class="form-control mt-3 p-4 w-100"
                           formControlName="amount"
                           id="revenue-confirm-amount"
                           placeholder="Revenue share amount"
                           type="text">
                </div>

                <div class="col-md-4">
                    <button (click)="onConfirm()"
                            [disabled]="!confirmForm.valid"
                            class="btn btn-primary w-100 float-right mt-3 py-3 px-1"
                            type="submit">
                        Confirm
                    </button>
                </div>

                <div class="col-md-4">
                    <button (click)="onCancel()"
                            class="btn btn-primary w-100 float-right mt-3 py-3 px-1"
                            type="button">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
