<div>
    <h2 class="app-page-subtitle">
        {{ 'payment_options.new_bank_account.title' | translate }}
    </h2>

    <form [formGroup]="newBankAccountForm">
        <div class="row">
            <div class="col-12 col-lg-8 mt-2">
                <label for="iban" class="app-page-label">
                    {{ 'payment_options.new_bank_account.iban_input.title' | translate }}
                </label>
                <input class="input-reg w-100" id="iban"
                       formControlName="iban"
                       name="IBAN"
                       placeholder="{{ 'payment_options.new_bank_account.iban_input.placeholder' | translate }}"
                       type="text">
            </div>
            <div class="col-12 col-lg-4 mt-2">
                <label for="bic" class="app-page-label">
                    {{ 'payment_options.new_bank_account.swift_input.title' | translate }}
                </label>
                <input class="input-reg w-100" id="bic"
                       formControlName="swift"
                       name="SWIFT/BIC"
                       placeholder="{{ 'payment_options.new_bank_account.swift_input.placeholder' | translate }}"
                       type="text">
                <small>
                    <span>
                        {{ 'payment_options.new_bank_account.swift_input.helper_notice' | translate | splitPart:0 }}
                    </span>
                    <span>
                        <a href="https://www.iban.com/search-bic" target="_blank"
                           rel="noopener noreferrer">
                            {{ 'payment_options.new_bank_account.swift_input.helper_notice' | translate | splitPart:1 }}
                        </a>
                    </span>
                    <span>
                        {{ 'payment_options.new_bank_account.swift_input.helper_notice' | translate | splitPart:2 }}
                    </span>
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4 mt-2">
                <label for="bank_name" class="app-page-label">
                    {{ 'payment_options.new_bank_account.bank_name_input.title' | translate }}
                </label>
                <input class="input-reg w-100" id="bank_name"
                       formControlName="bank_name"
                       placeholder="{{ 'payment_options.new_bank_account.bank_name_input.placeholder' | translate }}"
                       type="text">
            </div>

            <div class="col-12 col-lg-8 mt-2">
                <label for="bank_address" class="app-page-label">
                    {{ 'payment_options.new_bank_account.bank_address_input.title' | translate }}
                </label>
                <input class="input-reg w-100" id="bank_address"
                       formControlName="bank_address"
                       placeholder="{{ 'payment_options.new_bank_account.bank_address_input.placeholder' | translate }}"
                       type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-2">
                <label for="beneficiary_name" class="app-page-label">
                    {{ 'payment_options.new_bank_account.beneficiary_name_input.title' | translate }}
                </label>
                <input class="input-reg w-100" id="beneficiary_name"
                       formControlName="beneficiary_name"
                       placeholder="{{ 'payment_options.new_bank_account.beneficiary_name_input.placeholder' | translate }}"
                       type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mt-2">
                <button app-action-button
                        text="{{ 'payment_options.new_bank_account.submit' | translate }}"
                        faIcon="plus-circle"
                        [disabled]="!newBankAccountForm.dirty || !newBankAccountForm.valid"
                        [onClick]="onSubmit.bind(this)">
                </button>
            </div>
        </div>
    </form>
</div>

