<span>
    {{ 'general.captcha_notice' | translate | splitPart:0 }}
</span>
<span>
    <a href="https://policies.google.com/privacy">
        {{ 'general.captcha_notice' | translate | splitPart:1 }}
    </a>
</span>
<span>
    {{ 'general.captcha_notice' | translate | splitPart:2 }}
</span>
<span>
    <a href="https://policies.google.com/terms">
        {{ 'general.captcha_notice' | translate | splitPart:3 }}
    </a>
</span>
<span>
    {{ 'general.captcha_notice' | translate | splitPart:4 }}
</span>
