<div class="container pl-5 pr-5 pt-5">
	<div class="row">
		<div class="col-md-8 mb-5">
			<span class="h5 text-uppercase font-weight-bold">Payment methods</span>
		</div>
		<div class="col-md-4 mb-5">
			<button class="btn btn-primary w-100 prim-btn">
				<i class="align-middle mr-2" data-feather="plus"></i>
				<span class="align-middle">ADD NEW</span>
			</button>
		</div>
		<div *ngFor="let paymentOption of paymentOptions" class="col-md-12 mb-3">
			<div class="card">
				<div class="card-body">
					<span>
						<span class="h5">{{paymentOption.name}}</span>
					</span>
					<span class="active-icon-holder float-right">
						<span class="font-weight-bold mb-0 mr-3 align-middle">ACTIVE</span>
						<i *ngIf="paymentOption.active" data-feather="check"></i>
						<i *ngIf="!paymentOption.active" data-feather="x"></i>
					</span>
					<div>
						<div class="mt-4">
							<p class="explainer-mini mb-0 mt-3">
								IBAN
							</p>
							<p class="mt-0">
								3663 7652 3547 6134 8823
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>