<div class="container">
    <h1 class="app-page-title">BANK ACCOUNTS</h1>

    <ng-container *ngIf="(bankAccounts$ | async) as bankAccounts else loading">
        <div *ngFor="let bankAccount of bankAccounts" class="mb-3">
            <div class="card">
                <div class="card-body d-flex flex-column gray-text">
                    <div class="d-flex flex-row justify-content-between text-left flex-wrap">
                        <div class="mt-1">
                            <div class="explainer-mini text-uppercase mb-2">IBAN</div>
                            <span><b>{{ bankAccount.iban }}</b></span>
                        </div>

                        <div class="mt-1" *ngIf="bankAccount.alias">
                            <div class="explainer-mini text-uppercase mb-2">Alias</div>
                            <b>{{ bankAccount.alias }}</b>
                        </div>

                        <div class="mt-1">
                            <div class="explainer-mini text-uppercase mb-2">Swift/BIC</div>
                            <b>{{ bankAccount.bank_code }}</b>
                        </div>

                        <div class="mt-1">
                            <div class="explainer-mini text-uppercase mb-2">Actions</div>
                            <span (click)="deleteBankAccountClicked(bankAccount.id)"
                                  class="float-right align-middle cursor-pointer">
								<i class="fas fa-trash-alt"></i>
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="bankAccounts.length === 0" class="mt-3">
            <div class="text-center">
                No payment options available. Please add a new payment option.
            </div>
        </div>
        <div class="mb-5 mt-5">
            <button class="btn btn-primary w-100 py-3 float-right" (click)="toNewBankAccount()">
                <i class="mr-2 fas fa-plus-circle"></i>
                <span>Add new</span>
            </button>
        </div>
    </ng-container>
</div>

<ng-template #loading>
    <app-spinner type="overlay"></app-spinner>
</ng-template>
