<div id="sidebar" appClickOutside (clickOutsideSidebar)="closeSidebar()">
    <div class="mt-2 mb-4">
        <img id="logo-image" alt="Logo" src="{{ appConfigService.config.config.logo_url }}">
    </div>

    <ng-container *ngIf="{
        user: user$ | async,
        wallet: wallet$ | async
    } as states">
        <ul class="list-unstyled components" id="main-menu">
            <p class="menu-header ml-4 mb-3 mt-3 ">MENU</p>
            <li routerLink="offers" routerLinkActive="side-active">
                <i class="menu-icon fas fa-align-left"></i>
                <span>Offers</span>
            </li>
            <div [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="my_portfolio" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <i class="menu-icon fas fa-user"></i>
                    <span>My Portfolio</span>
                </li>
            </div>
            <div [tooltip]="!isUserVerified(states.user) ? ToolTipNotVerified : null">
                <li routerLink="wallet" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user)">
                    <i class="menu-icon fas fa-wallet"></i>
                    <span>Wallet</span>
                </li>
            </div>
            <div [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="manage_groups" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <i class="menu-icon fas fa-layer-group"></i>
                    <span>Investment groups</span>
                </li>
            </div>
            <div [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="exchange" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <i class="menu-icon fas fa-store"></i>
                    <span>Project market</span>
                </li>
            </div>
        </ul>

        <ul class="list-unstyled components text-white" id="main-menu">
            <p class="menu-header ml-4 mb-3 mt-3 ">SETTINGS</p>
            <li routerLink="settings/user" routerLinkActive="side-active">
                <i class="menu-icon fas fa-user-cog"></i>
                <span>User Profile</span>
            </li>
            <li routerLink="payment_options" routerLinkActive="side-active">
                <i class="menu-icon fas fa-credit-card"></i>
                <span>Payments</span>
            </li>
        </ul>

        <div [hidden]="!(states.user?.role === userRole.ADMIN)">
            <p class="menu-header ml-4 mb-3 mt-3 ">ADMIN</p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="manage_withdrawals" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-arrow-circle-up "></i>
                    <span>Withdrawals</span>
                </li>
                <li routerLink="manage_deposits" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-arrow-circle-down "></i>
                    <span>Deposits</span>
                </li>
                <li routerLink="activation/users" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-flag-checkered"></i>
                    <span>Activations</span>
                </li>
                <li routerLink="admin/platform_bank_account" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-university"></i>
                    <span>Bank account</span>
                </li>
                <li routerLink="ownership" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-handshake"></i>
                    <span>Platform roles</span>
                </li>
            </ul>
        </div>

        <div [hidden]="!(states.user?.role === userRole.TOKEN_ISSUER)">
            <p class="menu-header ml-4 mb-3 mt-3 ">
                TOKEN ISSUER
            </p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="manage_withdrawals" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-arrow-circle-up "></i>
                    <span>Withdrawals</span>
                </li>
                <li routerLink="manage_deposits" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-arrow-circle-down "></i>
                    <span>Deposits</span>
                </li>
                <li routerLink="admin/platform_bank_account" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-university"></i>
                    <span>Bank account</span>
                </li>
                <li routerLink="ownership" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-handshake"></i>
                    <span>Platform roles</span>
                </li>
            </ul>
        </div>

        <div [hidden]="!(states.user?.role === userRole.PLATFORM_MANAGER)">
            <p class="menu-header ml-4 mb-3 mt-3 ">
                PLATFORM MANAGER
            </p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="activation/users" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-flag-checkered"></i>
                    <span>Activations</span>
                </li>
                <li routerLink="ownership" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-handshake"></i>
                    <span>Platform roles</span>
                </li>
            </ul>
        </div>

        <div class="dropdown-divider" id="divider-menu"></div>

        <ul class="list-unstyled components" id="main-menu">
            <span class="full-name">{{ states.user?.first_name | titlecase }} {{ states.user?.last_name | titlecase }}</span>
            <li routerLinkActive="side-active" class="mt-2">
                <a href="mailto://info@ampnet.io" style="all: unset">
                    <i class="menu-icon fas fa-envelope-open"></i>
                    <span>Contact Us</span>
                </a>
            </li>
            <li (click)="onLogout()" routerLinkActive="side-active">
                <i class="menu-icon fas fa-sign-out-alt"></i>
                <span>Log Out</span>
            </li>
        </ul>

        <ul class="list-unstyled components app-version" id="main-menu">
            <li>{{ appVersion }}</li>
        </ul>

        <ng-template #ToolTipNotVerified>
            <div *ngIf="!isUserVerified(states.user)">
                <p>Profile not verified. Go to User Profile screen to finish onboarding process.</p>
            </div>
            <div *ngIf="isUserVerified(states.user) && !isWalletInitialized(states.wallet)">
                <p>In order to manage funds, you need to have your wallet initialized.</p>
            </div>
            <div *ngIf="isUserVerified(states.user) && isWalletInitialized(states.wallet) && !isWalletLazyReady(states.wallet)">
                <p>Please wait for the administrator to verified your wallet.</p>
            </div>
        </ng-template>
    </ng-container>
</div>
