<div id="sidebar" appClickOutside (clickOutsideSidebar)="closeSidebar()">
    <div class="mt-2 mb-4">
        <img id="logo-image" alt="Logo" src="{{ appConfigService.config.logo }}">
    </div>

    <ng-container *ngIf="{
        user: user$ | async,
        wallet: wallet$ | async
    } as states">
        <ul class="list-unstyled components" id="main-menu">
            <p class="menu-header ml-4 mb-3 mt-3">
                {{ 'navigation.menu.title' | translate }}
            </p>
            <li routerLink="offers" routerLinkActive="side-active">
                <fa-icon class="menu-icon" icon="align-left"></fa-icon>
                <span>{{ 'navigation.menu.offers' | translate }}</span>
            </li>
            <div [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="my_portfolio" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <fa-icon class="menu-icon" icon="user"></fa-icon>
                    <span>{{ 'navigation.menu.my_portfolio' | translate }}</span>
                </li>
            </div>
            <div [tooltip]="!isUserVerified(states.user) ? ToolTipNotVerified : null">
                <li routerLink="wallet" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user)">
                    <fa-icon class="menu-icon" icon="wallet"></fa-icon>
                    <span>{{ 'navigation.menu.wallet' | translate }}</span>
                </li>
            </div>
            <div [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="projects" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <fa-icon class="menu-icon" icon="layer-group"></fa-icon>
                    <span>{{ 'navigation.menu.project_management' | translate }}</span>

                    <!-- Used to stay active on groups -->
                    <span routerLink="groups" style="display: none">Groups</span>
                </li>
            </div>
            <!-- TODO: Remove hidden when project market is implemented -->
            <div hidden
                 [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="exchange" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <fa-icon class="menu-icon" icon="store"></fa-icon>
                    <span>Project market</span>
                </li>
            </div>
        </ul>

        <ul class="list-unstyled components text-white" id="main-menu">
            <p class="menu-header ml-4 mb-3 mt-3">
                {{ 'navigation.settings.title' | translate }}
            </p>
            <li routerLink="settings/user" routerLinkActive="side-active">
                <fa-icon class="menu-icon" icon="user-cog"></fa-icon>
                <span>{{ 'navigation.settings.user_profile' | translate }}</span>
            </li>
            <li routerLink="settings/payment_options" routerLinkActive="side-active">
                <fa-icon class="menu-icon" icon="credit-card"></fa-icon>
                <span>{{ 'navigation.settings.payments' | translate }}</span>
            </li>
        </ul>

        <div [hidden]="!(states.user?.role === userRole.ADMIN)">
            <p class="menu-header ml-4 mb-3 mt-3">
                {{ 'navigation.admin.title' | translate }}
            </p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="admin/manage_withdrawals" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="arrow-circle-up"></fa-icon>
                    <span>{{ 'navigation.admin.withdrawals' | translate }}</span>
                </li>
                <li routerLink="admin/manage_deposits" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="arrow-circle-down"></fa-icon>
                    <span>{{ 'navigation.admin.deposits' | translate }}</span>
                </li>
                <li routerLink="admin/activation/users" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="flag-checkered"></fa-icon>
                    <span>{{ 'navigation.admin.activations' | translate }}</span>
                </li>
                <li routerLink="admin/platform_bank_account" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="university"></fa-icon>
                    <span>{{ 'navigation.admin.bank_account' | translate }}</span>
                </li>
                <li routerLink="admin/ownership" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="handshake"></fa-icon>
                    <span>{{ 'navigation.admin.platform_roles' | translate }}</span>
                </li>
                <li routerLink="admin/platform" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="cogs"></fa-icon>
                    <span>{{ 'navigation.admin.platform_config' | translate }}</span>
                </li>
            </ul>
        </div>

        <div [hidden]="!(states.user?.role === userRole.TOKEN_ISSUER)">
            <p class="menu-header ml-4 mb-3 mt-3">
                {{ 'navigation.admin.token_issuer.title' | translate }}
            </p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="admin/manage_withdrawals" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="arrow-circle-up"></fa-icon>
                    <span>{{ 'navigation.admin.withdrawals' | translate }}</span>
                </li>
                <li routerLink="admin/manage_deposits" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="arrow-circle-down"></fa-icon>
                    <span>{{ 'navigation.admin.deposits' | translate }}</span>
                </li>
                <li routerLink="admin/platform_bank_account" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="university"></fa-icon>
                    <span>{{ 'navigation.admin.bank_account' | translate }}</span>
                </li>
                <li routerLink="admin/ownership" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="handshake"></fa-icon>
                    <span>{{ 'navigation.admin.platform_roles' | translate }}</span>
                </li>
            </ul>
        </div>

        <div [hidden]="!(states.user?.role === userRole.PLATFORM_MANAGER)">
            <p class="menu-header ml-4 mb-3 mt-3">
                {{ 'navigation.admin.platform_manager.title' | translate }}
            </p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="admin/activation/users" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="flag-checkered"></fa-icon>
                    <span>{{ 'navigation.admin.activations' | translate }}</span>
                </li>
                <li routerLink="admin/ownership" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="handshake"></fa-icon>
                    <span>{{ 'navigation.admin.platform_roles' | translate }}</span>
                </li>
                <li routerLink="admin/platform" routerLinkActive="side-active">
                    <fa-icon class="menu-icon" icon="cogs"></fa-icon>
                    <span>{{ 'navigation.admin.platform_config' | translate }}</span>
                </li>
            </ul>
        </div>

        <div class="dropdown-divider" id="divider-menu"></div>

        <ul class="list-unstyled components" id="main-menu">
            <span class="full-name" *ngIf="states.user?.first_name || states.user?.last_name">
                {{ states.user?.first_name | titlecase }} {{ states.user?.last_name | titlecase }}
            </span>
            <a href="{{ appConfigService.config.config.contact_url }}"
               target="_blank" rel="noopener noreferrer"
               *ngIf="appConfigService.config.config.contact_url" style="all: unset">
                <li routerLinkActive="side-active" class="mt-2">
                    <fa-icon class="menu-icon" icon="envelope-open"></fa-icon>
                    <span>{{ 'navigation.info.contact_us' | translate }}</span>
                </li>
            </a>

            <li (click)="onLogout()" routerLinkActive="side-active">
                <fa-icon class="menu-icon" icon="sign-out-alt"></fa-icon>
                <span>{{ 'navigation.info.logout' | translate }}</span>
            </li>
        </ul>

        <!-- TODO: Uncomment when texts are ready -->
        <!--        <div class="d-flex flex-column px-4 py-1">-->
        <!--            <a [routerLink]="'/static/tos' | coopPath">Terms of Service</a>-->
        <!--            <a [routerLink]="'/static/privacy' | coopPath">Privacy Policy</a>-->
        <!--            <a [routerLink]="'/static/cookies' | coopPath">Cookies Policy</a>-->
        <!--        </div>-->

        <div class="app-version">
            {{ appVersion }} <span *ngIf="commitHash">({{ commitHash }})</span>
        </div>

        <ng-template #ToolTipNotVerified>
            <div *ngIf="!isUserVerified(states.user)">
                <p>{{ 'navigation.tooltip.not_verified' | translate }}</p>
            </div>
            <div *ngIf="isUserVerified(states.user) && !isWalletInitialized(states.wallet)">
                <p>{{ 'navigation.tooltip.wallet_not_initialized' | translate }}</p>
            </div>
            <div *ngIf="isUserVerified(states.user) && isWalletInitialized(states.wallet) && !isWalletLazyReady(states.wallet)">
                <p>{{ 'navigation.tooltip.verification_pending' | translate }}</p>
            </div>
        </ng-template>
    </ng-container>
</div>
