#sidebar {
	background-color: #444;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

a:hover {
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
}

a {
	color: #fff;
	font-weight: lighter!important;
}

#main-logo {
	width: 40px;
	height: 40px;
}

#main-menu li {
	font-size: 14px;
	padding-left: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: all 0.1s;
	color: #ccc;
}

#logo-image {
	height: 2rem;
	padding-left: 1.5rem;
	margin-top: 0.5rem;
}

#main-menu li:hover {
	background: #48A97B;
	color: #fff!important;
	cursor: pointer;
}

.active {
	color: #fff!important;
	background: #2bb791;
}

#main-menu li:focus {
	outline: none;
}

.menu-icon {
	height: 100%;
	margin-right: 16px;
}

#sidebar-logo {
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
}

#divider-menu {
	border-color: #555;
}

.menu-header {
	font-size: 13px;
	color: #ccc;
}