<div id="sidebar" appClickOutside (clickOutsideSidebar)="closeSidebar()">
    <div class="mt-2 mb-4">
        <img id="logo-image" alt="Logo" src="{{ appConfigService.config.config.logo_url }}">
    </div>

    <ng-container *ngIf="{
        user: user$ | async,
        wallet: wallet$ | async
    } as states">
        <ul class="list-unstyled components" id="main-menu">
            <p class="menu-header ml-4 mb-3 mt-3 ">
                {{ 'navigation.menu.title' | translate }}
            </p>
            <li routerLink="offers" routerLinkActive="side-active">
                <i class="menu-icon fas fa-align-left"></i>
                <span>{{ 'navigation.menu.offers' | translate }}</span>
            </li>
            <div [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="my_portfolio" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <i class="menu-icon fas fa-user"></i>
                    <span>{{ 'navigation.menu.my_portfolio' | translate }}</span>
                </li>
            </div>
            <div [tooltip]="!isUserVerified(states.user) ? ToolTipNotVerified : null">
                <li routerLink="wallet" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user)">
                    <i class="menu-icon fas fa-wallet"></i>
                    <span>{{ 'navigation.menu.wallet' | translate }}</span>
                </li>
            </div>
            <div [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="manage_groups" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <i class="menu-icon fas fa-layer-group"></i>
                    <span>{{ 'navigation.menu.investment_groups' | translate }}</span>
                </li>
            </div>
            <!-- TODO: Remove hidden when project market is implemented -->
            <div hidden
                 [tooltip]="!isUserVerified(states.user) || !isWalletLazyReady(states.wallet) ? ToolTipNotVerified : null">
                <li routerLink="exchange" routerLinkActive="side-active"
                    [class.unverified-user-disabled]="!isUserVerified(states.user) || !isWalletEagerReady(states.wallet)">
                    <i class="menu-icon fas fa-store"></i>
                    <span>Project market</span>
                </li>
            </div>
        </ul>

        <ul class="list-unstyled components text-white" id="main-menu">
            <p class="menu-header ml-4 mb-3 mt-3 ">
                {{ 'navigation.settings.title' | translate }}
            </p>
            <li routerLink="settings/user" routerLinkActive="side-active">
                <i class="menu-icon fas fa-user-cog"></i>
                <span>{{ 'navigation.settings.user_profile' | translate }}</span>
            </li>
            <li routerLink="payment_options" routerLinkActive="side-active">
                <i class="menu-icon fas fa-credit-card"></i>
                <span>{{ 'navigation.settings.payments' | translate }}</span>
            </li>
        </ul>

        <div [hidden]="!(states.user?.role === userRole.ADMIN)">
            <p class="menu-header ml-4 mb-3 mt-3 ">
                {{ 'navigation.admin.title' | translate }}
            </p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="manage_withdrawals" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-arrow-circle-up "></i>
                    <span>{{ 'navigation.admin.withdrawals' | translate }}</span>
                </li>
                <li routerLink="manage_deposits" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-arrow-circle-down "></i>
                    <span>{{ 'navigation.admin.deposits' | translate }}</span>
                </li>
                <li routerLink="activation/users" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-flag-checkered"></i>
                    <span>{{ 'navigation.admin.activations' | translate }}</span>
                </li>
                <li routerLink="admin/platform_bank_account" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-university"></i>
                    <span>{{ 'navigation.admin.bank_account' | translate }}</span>
                </li>
                <li routerLink="ownership" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-handshake"></i>
                    <span>{{ 'navigation.admin.platform_roles' | translate }}</span>
                </li>
                <li routerLink="platform_config" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-cogs"></i>
                    <span>{{ 'navigation.admin.platform_config' | translate }}</span>
                </li>
            </ul>
        </div>

        <div [hidden]="!(states.user?.role === userRole.TOKEN_ISSUER)">
            <p class="menu-header ml-4 mb-3 mt-3 ">
                {{ 'navigation.admin.token_issuer.title' | translate }}
            </p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="manage_withdrawals" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-arrow-circle-up "></i>
                    <span>{{ 'navigation.admin.withdrawals' | translate }}</span>
                </li>
                <li routerLink="manage_deposits" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-arrow-circle-down "></i>
                    <span>{{ 'navigation.admin.deposits' | translate }}</span>
                </li>
                <li routerLink="admin/platform_bank_account" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-university"></i>
                    <span>{{ 'navigation.admin.bank_account' | translate }}</span>
                </li>
                <li routerLink="ownership" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-handshake"></i>
                    <span>{{ 'navigation.admin.platform_roles' | translate }}</span>
                </li>
            </ul>
        </div>

        <div [hidden]="!(states.user?.role === userRole.PLATFORM_MANAGER)">
            <p class="menu-header ml-4 mb-3 mt-3 ">
                {{ 'navigation.admin.platform_manager.title' | translate }}
            </p>
            <ul class="list-unstyled components" id="main-menu">
                <li routerLink="activation/users" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-flag-checkered"></i>
                    <span>{{ 'navigation.admin.activations' | translate }}</span>
                </li>
                <li routerLink="ownership" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-handshake"></i>
                    <span>{{ 'navigation.admin.platform_roles' | translate }}</span>
                </li>
                <li routerLink="platform_config" routerLinkActive="side-active">
                    <i class="menu-icon fas fa-cogs"></i>
                    <span>{{ 'navigation.admin.platform_config' | translate }}</span>
                </li>
            </ul>
        </div>

        <div class="dropdown-divider" id="divider-menu"></div>

        <ul class="list-unstyled components" id="main-menu">
            <span class="full-name">{{ states.user?.first_name | titlecase }} {{ states.user?.last_name | titlecase }}</span>
            <li routerLinkActive="side-active" class="mt-2">
                <a href="mailto://info@ampnet.io" style="all: unset">
                    <i class="menu-icon fas fa-envelope-open"></i>
                    <span>{{ 'navigation.info.contact_us' | translate }}</span>
                </a>
            </li>
            <li (click)="onLogout()" routerLinkActive="side-active">
                <i class="menu-icon fas fa-sign-out-alt"></i>
                <span>{{ 'navigation.info.logout' | translate }}</span>
            </li>
        </ul>

        <ul class="list-unstyled components app-version" id="main-menu">
            <li>{{ appVersion }}</li>
        </ul>

        <ng-template #ToolTipNotVerified>
            <div *ngIf="!isUserVerified(states.user)">
                <p>{{ 'navigation.tooltip.not_verified' | translate }}</p>
            </div>
            <div *ngIf="isUserVerified(states.user) && !isWalletInitialized(states.wallet)">
                <p>{{ 'navigation.tooltip.wallet_not_initialized' | translate }}</p>
            </div>
            <div *ngIf="isUserVerified(states.user) && isWalletInitialized(states.wallet) && !isWalletLazyReady(states.wallet)">
                <p>{{ 'navigation.tooltip.verification_pending' | translate }}</p>
            </div>
        </ng-template>
    </ng-container>
</div>
