#sidebar {
	background-color: #fefefe;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

a:hover {
	cursor: pointer;
	color: #7FA949;
	transition: all 0.3s;
	text-decoration: none;
}

a {
	color: #555;
}

#main-logo {
	width: 40px;
	height: 40px;
}

#main-menu li {
	font-size: 14px;
	font-weight: 500;
	padding-left: 20px;
	padding-top: 30px;
}

.active a {
	color: #7FA949;
	font-weight: bold;
}

.menu-icon {
	vertical-align: middle;
	padding-right: 20px;
	width: 60px;
	font-size: 24px;
}

#sidebar-logo {
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
}