<div class="root root-content-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class=" card-header">
                    <div class=" card-title explainer-mini">
                        Revenue share information
                    </div>
                </div>
                <div class="card-body">
                    <div class="float-left">
                        <div class="explainer-mini">
                            Project name
                        </div>
                        {{ projectName }}
                    </div>
                    <div class="float-right">
                        <div class="explainer-mini">
                            Amount invested
                        </div>
                        {{ amountInvested | currencyDefault}}
                    </div>
                </div>
            </div>
            <button class="btn btn-danger w-100 py-3 mt-3" data-target="#modal-confirm-revenue" data-toggle="modal">
                Verify and start revenue share
            </button>
        </div>
    </div>
</div>


<!-- Modal -->
<div #modalPopupWindow aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="modal-confirm-revenue"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm revenue share amount</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control px-4 py-4" id="revenue-confirm-amount" type="text">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary px-5 py-2" data-dismiss="modal" type="button">Cancel</button>
                <button (click)="confirmButtonClicked()" class="btn btn-primary px-5 py-2" type="button">
                    <i class="fas fa-check-circle mr-2"></i>
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>
