<div class="root root-content-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class=" card-header">
                    <div class=" card-title explainer-mini">
                        Revenue share information
                    </div>
                </div>
                <div class="card-body">
                    <div class="float-left">
                        <div class="explainer-mini">
                            Project name
                        </div>
                        {{ projectName }}
                    </div>
                    <div class="float-right">
                        <div class="explainer-mini">
                            Amount invested
                        </div>
                        {{ amountInvested }}
                    </div>
                </div>
            </div>
            <button class="btn btn-danger w-100 py-3 mt-3" (click)="showRevenueConfirmModal()" data-toggle="modal">
                Verify and start revenue share
            </button>
        </div>
    </div>
</div>
