.wallet-init-reminder {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #FE6250;
    color: #ffffff;
}

.wallet-init-reminder p {
    margin: 0;
    padding: 0.3rem 0;
}

.reminder-link {
    cursor: pointer;
    outline: none;
}
