<div class="row">

    <div class="col-md-12 mt-2 mb-3 explainer-mini">Manage Projects</div>


    <div *ngIf="(projects !== undefined) && (projects.length ===  0)" class="w-100">
        <div class="col-md-12">
            <div class="w-100 text-center mt-5 mb-5">
                <p>There are no projects associated with this organization.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-12 mb-3">
        <ul class="list-group">
            <li *ngFor="let project of projects"
                class="list-group-item explainer-mini">

                <span class="float-left hover-bg cursor-pointer"
                    routerLink="manage_project/{{ project.uuid }}">
                    {{ project.name }}
                </span>

                <span 
                    *ngIf="project.active" 
                    (click)="toggleProject(project.uuid)" 
                    class="float-right hover-fg cursor-pointer">
                    
                    <i class="fas fa-eye"></i>
                </span>
                <span 
                    *ngIf="!project.active" 
                    (click)="toggleProject(project.uuid)" 
                    class="float-right hover-fg cursor-pointer">
                    
                    <i class="fas fa-eye-slash"></i>
                </span>
            </li>
        </ul>
    </div>

</div>

