<div class="row">

	<div class="col-md-12 mt-2 mb-3 explainer-mini text-uppercase">Manage Projects</div>


	<div *ngIf="(manageProjectsModel != undefined) && (manageProjectsModel.length == 0)" class="w-100">
		<div class="col-md-12">
			<div class="w-100 text-center mt-5 mb-5">
				<p>There are no projects associated with this organization.</p>
			</div>
		</div>
	</div>

	<div class="col-lg-12 mb-3">
		<ul class="list-group">
			<li routerLink="manage_project/{{project.uuid}}" *ngFor="let project of manageProjectsModel" 
			class="list-group-item hover-bg cursor-pointer explainer-mini">
				{{project.name}}
			</li>
		</ul>
	</div>

</div>

