<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="explainer-mini mb-3">Deposit info</div>
        </div>
        <div *ngIf="(deposit$ | async) as deposit else spinner" class="col-md-12">
            <div class="card px-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div *ngIf="!!deposit.project">
                            <div class="explainer-mini">Project Name</div>
                            <div>{{ deposit.project.name }}</div>
                        </div>
                        <div>
                            <div class="explainer-mini">Name</div>
                            <div>{{ deposit.user.first_name }} {{ deposit.user.last_name }}</div>
                        </div>
                        <div>
                            <div class="explainer-mini">Date created</div>
                            <div>{{ deposit.deposit.created_at | date:'mediumDate' }}</div>
                        </div>
                        <div>
                            <div class="explainer-mini">Reference</div>
                            <div>{{ deposit.deposit.reference }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <form [formGroup]="confirmDepositForm" style="display: contents">
                <div class="explainer-mini mt-3 mb-2">
                    Deposit amount
                </div>
                <app-money-input-field
                        placeholder="Enter user investment amount"
                        [control]="confirmDepositForm.get('amount')">
                </app-money-input-field>

                <div class="explainer-mini mt-3 mb-2">
                    Document
                </div>
                <app-upload-area areaID='project-image' style="width: max-content"
                                 [restrictions]="{
                                    allowedFileTypes: ['image/*', 'application/pdf', 'application/zip', 'audio/*', 'video/*'],
                                    maxFileSize: 10 * 1024 * 1024,
                                    maxNumberOfFiles: 1
                                 }"
                                 [firstFileControl]="confirmDepositForm.get('document')">
                </app-upload-area>

                <button class="btn btn-primary w-100 py-3 mt-3"
                        [disabled]="!confirmDepositForm.valid"
                        (click)="showConfirmModal(confirmDepositForm, deposit.deposit.id)"
                        data-toggle="modal">
                    <i class="fas fa-check-circle mr-2"></i>
                    Confirm deposit
                </button>
            </form>
        </div>
        <ng-template #spinner>
            <app-spinner type="overlay" style="width: 100%"></app-spinner>
        </ng-template>
    </div>
</div>
