<div class="root root-content-container">
    <div class="row">
        <div class="col-md-12">
            <div class="explainer-mini mb-3">Deposit info</div>
        </div>
        <div *ngIf="depositModel !== undefined" class="col-md-12">
            <div class="card px-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="explainer-mini">Name</div>
                            <div>{{ depositModel.user.first_name }} {{ depositModel.user.last_name }}</div>
                        </div>
                        <div>
                            <div class="explainer-mini">Date created</div>
                            <div>{{ depositModel.deposit.created_at | date:'mediumDate' }}</div>
                        </div>
                        <div>
                            <div class="explainer-mini">Reference</div>
                            <div>{{ depositModel.deposit.reference }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="depositModel.deposit.approved" class="d-flex justify-content-center mt-5 text-center">

                <div>
                    <div class="mb-5 mt-3">
                        <div class="explainer-mini">
                            Mint amount
                        </div>
                        <div class="gray-text h1 mt-3">
                            {{ depositModel.deposit.amount | currencyDefault }}
                        </div>
                        <div class="alert alert-danger mt-2 ">
                            Verify the amount of currency minted for this deposit! This action cannot be reverted!
                        </div>
                    </div>
                    <div class="explainer-mini">Scan the code to issue tokens to user</div>
                    <canvas id="mint-deposit-code"></canvas>
                </div>

            </div>
            <div *ngIf="!depositModel.deposit.approved" class="explainer-mini mt-3 mb-2">
                Deposit amount
            </div>
            <input *ngIf="!depositModel.deposit.approved" class=" px-3 w-100 form-control py-4"
                   [(ngModel)]="depositAmount" id="deposit-amount" name="">
        </div>

        <div *ngIf="(depositModel !== undefined)" class="col-md-12 mt-3">
            <div id="payment-reciept-upload-target"></div>
            <button
                    class="btn btn-primary w-100 py-3 mt-3"
                    [disabled]="!depositAmount"
                    (click)="showConfirmModal()"
                    data-target="#modal-confirm-deposit"
                    data-toggle="modal">
                <i class="fas fa-check-circle mr-2"></i>
                Confirm deposit
            </button>
        </div>
    </div>
</div>
