@import 'app';

.sidebar-fixer {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -220px;
  transition: all 0.3s;
  z-index: 1006;
  transform: all 0.3s;
  width: 220px;
}

#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.footer {
  width: 100%;
}

@include media-breakpoint-up(lg) {
  .sidebar-fixer {
    left: 0px !important;
  }

  #main-container {
    margin-left: 220px;
    width: calc(100% - 220px);
  }
}
