<div class="container">
    <h1 class="app-page-title">
        {{ 'admin.activations.title' | translate }}
    </h1>

    <div class="row pt-4">
        <div class="col-md-4">
            <h5 class="app-page-header">
                {{ 'admin.activations.users.title' | translate }}
            </h5>
            <ng-container *ngIf="(users$ | async) as users; else spinner">
                <div *ngIf="users.length > 0" class="mt-3">
                    <div class="list-group">
                        <a [routerLink]="" *ngFor="let user of users"
                           (click)="activateUserWallet(user.wallet.uuid).subscribe()">
                            <div class="list-group-item list-group-item-action">
                                {{ user.user.first_name }} {{ user.user.last_name }} (<i>{{ user.user.email }}</i>)
                            </div>
                        </a>
                    </div>
                </div>
                <div *ngIf="users.length === 0" class="mt-3">
                    <div class="text-center mt-5">
                        {{ 'admin.activations.users.empty' | translate }}
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="col-md-4">
            <h5 class="app-page-header">
                {{ 'admin.activations.groups.title' | translate }}
            </h5>
            <ng-container *ngIf="(organizations$ | async) as orgs; else spinner">
                <div *ngIf="orgs.length > 0" class="mt-3">
                    <div class="list-group">
                        <a [routerLink]="" *ngFor="let org of orgs"
                           (click)="activateOrgWallet(org.wallet.uuid).subscribe()">
                            <div class="list-group-item list-group-item-action">
                                {{ org.organization.name }}
                            </div>
                        </a>
                    </div>
                </div>
                <div *ngIf="orgs.length === 0" class="mt-3">
                    <div class="text-center mt-5">
                        {{ 'admin.activations.groups.empty' | translate }}
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="col-md-4">
            <h5 class="app-page-header">
                {{ 'admin.activations.projects.title' | translate }}
            </h5>
            <ng-container *ngIf="(users$ | async) as users; else spinner">
                <div *ngIf="users.length > 0" class="mt-3">
                    <div class="list-group">
                        <a [routerLink]="" *ngFor="let user of users"
                           (click)="activateUserWallet(user.wallet.uuid).subscribe()">
                            <div class="list-group-item list-group-item-action">
                                {{ user.user.first_name }} {{ user.user.last_name }} (<i>{{ user.user.email }}</i>)
                            </div>
                        </a>
                    </div>
                </div>
                <div *ngIf="users.length === 0" class="mt-3">
                    <div class="text-center mt-5">
                        {{ 'admin.activations.projects.empty' | translate }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<ng-template #spinner>
    <app-spinner type="overlay" class="w-100"></app-spinner>
</ng-template>
