.public-header {
    z-index: 2;
}

.signup-button {
    border-radius: unset !important;
    font-size: 16px;
}

.navbar-brand img {
    max-width: 150px;
    max-height: 35px;
}

@media (min-width: 800px) {
    .signup-button {
        width: 150px;
        height: 48px;
    }
}
