<nav class="public-header navbar navbar-collapse navbar-dark bg-light pt-2">
	<div class="ml-4">
		<a class="navbar-brand" href="#">
			<img src="../../../assets/genervest-logo-dark.png"  height="13" alt="">
		</a>
	</div>
	<div *ngIf="!onlyLogo" id="auth-buttons">
		<span class="text-white">
			<button routerLink="/sign_up" class="btn btn-primary px-4 py-2 mr-4 ">Sign Up</button>
		</span>
		<span>
			<a class="mr-4 cursor-pointer " data-toggle="modal" data-target="#log-in-modal">Log In</a>
		</span>
	</div>
</nav>

