<nav class="public-header navbar navbar-light bg-transparent pt-4">
	<div class="ml-4">
		<a class="navbar-brand" href="#">
			<img src="../../../assets/logo-white.png" width="30" height="30" alt="">
			<span class="align-middle ml-3 text-white">AMPnet</span>
		</a>
	</div>
	<div>
		<span class="text-white">
			<i class="fas fa-sign-in-alt mr-3"></i>
			<a routerLink="sign_up" class="mr-4 text-white">Sign Up</a>
		</span>
		<span>
			<i data-feather="log-in"></i>
			<a href="" class="mr-4 text-white">Log In</a>
		</span>
	</div>
</nav>

