<h1 class="app-page-header">NEW INSTANCE</h1>

<div class="dropdown-divider"></div>

<form [formGroup]="createCoopForm" id="newCoopForm">
    <label for="name" class="app-page-label">Instance name</label>
    <input class="input-lg w-100" id="name" formControlName="name"
           placeholder="Instance Name" type="text">

    <label for="identifier" class="app-page-label mt-3">Identifier</label>
    <input class="input-lg w-100" id="identifier" formControlName="identifier"
           placeholder="instance-name" type="text">
    <small class="form-text text-muted mt-2">
        Your instance will be served on:
        {{ window.location.protocol}}//{{ window.location.host }}/{{ createCoopForm.get('identifier').value || 'instance-name' }}
    </small>

    <label for="webTitle" class="app-page-label mt-3">Web title</label>
    <input class="input-lg w-100" id="webTitle" formControlName="webTitle"
           placeholder="Instance" type="text">

    <label for="logo-image" class="app-page-label mt-3">Logo image</label>
    <app-upload-area areaID='logo-image' id="logo-image"
                     [restrictions]="{
                        allowedFileTypes: ['image/*'],
                        maxFileSize: 10 * 1024 * 1024,
                        maxNumberOfFiles: 1
                     }"
                     [firstFileControl]="createCoopForm.get('logo')">
    </app-upload-area>

    <button app-action-button
            text="Create"
            faIcon="fa-paper-plane"
            [onClick]="onFormSubmit.bind(this)"
            [disabled]="!createCoopForm.dirty || !createCoopForm.valid"
            class="btn btn-primary w-100 mt-3">
    </button>

    <div class="dropdown-divider"></div>

    <small class="form-text text-muted mt-2">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </small>
</form>
