@import "app";

.top-container {
    background-color: var(--primary-color);  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, var(--primary-color), darken(var(--primary-color), 15));  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, var(--primary-color), darken(var(--primary-color), 15)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container {
    padding-top: 40px;
}

.card {
    margin-left: 10px !important;
    margin-right: 10px !important;
    border-radius: unset !important;
}

@include media-breakpoint-up(lg) {
  .card {
    width: 50%;
    margin: auto !important;
  }
}
