<div class="container root-content-container">
  <h3>Create a new organization</h3>
  <input class="mt-3 p-3 w-100" type="text" placeholder="Organization name">
  <p class="mt-3">Organization type</p>
  <select class="p-3 w-100" style="height: 50px" placeholder="Organization type">
    <option value="1">LLC</option>
    <option value="1">Inc.</option>
    <option value="1">Coop</option>
  </select>
  <button class="btn btn-primary float-right mt-3 pt-3 pb-3 pl-5 pr-5 text-uppercase">Create</button>
</div>