<div class="container">
    <div class="row mt-3 mt-lg-0">
        <div class="col-md-12">
            <div class="mb-3">
                {{ 'admin.deposits.single_deposit.title' | translate }}
            </div>
        </div>
        <div *ngIf="(deposit$ | async) as deposit else spinner" class="col-md-12">
            <div class="card px-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div *ngIf="!!deposit.project">
                            <div>
                                {{ 'admin.deposits.single_deposit.info.project_name' | translate }}
                            </div>
                            <div>{{ deposit.project.name }}</div>
                        </div>
                        <div>
                            <div>
                                {{ 'admin.deposits.single_deposit.info.user_name' | translate }}
                            </div>
                            <div>{{ deposit.user.first_name }} {{ deposit.user.last_name }}</div>
                        </div>
                        <div>
                            <div>
                                {{ 'admin.deposits.single_deposit.info.created_at' | translate }}
                            </div>
                            <div>{{ deposit.deposit.created_at | date:'mediumDate' }}</div>
                        </div>
                        <div>
                            <div>
                                {{ 'admin.deposits.single_deposit.info.reference' | translate }}
                            </div>
                            <div>{{ deposit.deposit.reference }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <form [formGroup]="confirmDepositForm" style="display: contents">
                <div class="mt-3 mb-2">
                    {{ 'admin.deposits.single_deposit.amount_input.title' | translate }}
                </div>
                <app-money-input-field
                        placeholder="{{ 'admin.deposits.single_deposit.amount_input.placeholder' | translate }}"
                        [control]="confirmDepositForm.get('amount')" [allowDecimals]="true">
                </app-money-input-field>

                <div class="mt-3 mb-2">
                    {{ 'admin.deposits.single_deposit.document_input.title' | translate }}
                </div>
                <app-upload-area areaID='project-image' style="width: max-content"
                                 [restrictions]="{
                                    allowedFileTypes: ['image/*', 'application/pdf', 'application/zip', 'audio/*', 'video/*'],
                                    maxFileSize: 10 * 1024 * 1024,
                                    maxNumberOfFiles: 1
                                 }"
                                 [firstFileControl]="confirmDepositForm.get('document')">
                </app-upload-area>

                <button class="btn btn-primary w-100 py-3 mt-3"
                        [disabled]="!confirmDepositForm.valid"
                        (click)="showConfirmModal(confirmDepositForm, deposit.deposit.id)"
                        data-toggle="modal">
                    <fa-icon icon="check-circle" class="mr-2"></fa-icon>
                    <span>
                        {{ 'admin.deposits.single_deposit.submit' | translate }}
                    </span>
                </button>
            </form>
        </div>
        <ng-template #spinner>
            <app-spinner type="overlay" style="width: 100%"></app-spinner>
        </ng-template>
    </div>
</div>
