<h1 class="app-page-header">
    {{ 'auth.forgot_password.title' | translate }}
</h1>

<p class="w-75 mx-auto">
    {{ 'auth.forgot_password.instructions_notice' | translate }}
</p>

<div class="dropdown-divider"></div>

<form [formGroup]="forgotPasswordForm" id="emailForm">
    <label for="email" class="app-page-label">
        {{ 'auth.forgot_password.email_input.title' | translate }}
    </label>
    <input class="input-lg w-100"
           formControlName="email" id="email"
           placeholder="{{ 'auth.forgot_password.email_input.placeholder' | translate }}"
           type="text">

    <button app-action-button
            text="{{ 'auth.forgot_password.submit' | translate }}"
            [onClick]="onSubmitEmailForm.bind(this)"
            [disabled]="!forgotPasswordForm.dirty || !forgotPasswordForm.valid"
            class="btn btn-primary w-100 mt-3">
    </button>
</form>
