<div class="" style="width: 100vw; height: 100vh; ">
	<app-header></app-header>
	<div class="row" style="height: calc(100% - 58px)">
		<div class="col-md-6 feature-holder featured-image text-white cursor-pointer" >
			<div class="p-3 pl-4">
				<h1>Explore</h1>
				<div class="gtSuper font-weight-lighter w-50">
					Find out more about how investments help combat climate change
				</div>	
			</div>
		</div>
		<div class="col-md-6" style="background-color: black;">
			<div class="row">
				<div routerLink="/overview/discover" class="col-md-12" style="background-color: #1E4B3A; height: calc(50vh - 58px)">
					<div class="p-3 text-white cursor-pointer">
						<h1>Invest</h1>
						<div class="gtSuper font-weight-lighter w-50">
							Get started by creating an account and choosing your projects
						</div>	
					</div>
				</div>
				<div class="col-md-6" style="background-color: #DEA546; height: 25vh;">
					<div class="p-3 cursor-pointer">
						<div class="gtSuper font-weight-lighter">
							Featured
						</div>	
						<h2 class="pt-3">Solar projects</h2>
					</div>
				</div>
				<div class="col-md-6" style="background-color: #23C8C3; height: 25vh;">
					<div class="p-3 cursor-pointer">
						<div class="gtSuper font-weight-lighter">
							Featured
						</div>	
						<h2 class="pt-3">Wind projects</h2>
					</div>
				</div>
				<div class="col-md-6" style="background-color: white; height: 25vh;">
					<h2 class="p-3 pt-5">About us</h2>
				</div>
				<div class="col-md-6" style="background: url(../../assets/africa.jpg); height: 25vh;">a</div>
			</div>
		</div>
	</div>
	
</div>