.content-container {
	font-size: 50px;
	line-height: 1em;
	letter-spacing: -3px;
	margin-top: 250px;
	color: #47a577;
}
 
@media(max-width: 800px) {
	.content-container {
		font-size: 40px;
	}
}

.landing-content-root {
	background: url("../../assets/bg-hero-light.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: right;
	background-position-y: bottom;
	height: 100vh;
	display: flex;
	margin-top: -50px;
	flex-direction: column;
	justify-content: left;
}

@media(min-width: 800px) {
	.content-container {
		margin-left: 15%;
		width: 550px;
	}

	.content-container .btn {
	width: 230px;
}
}

@media(max-width: 800px) {
	.content-container {
		margin-left: 0px;
		text-align: center;
		width: 100%;
	}

	.find-out-more-btn {
		width: 100%!important;
		margin-left: 0px;
		margin-right: 0px;
	}

	.landing-content-root {
		background: url(../../assets/hero-back-mobile.png);
		width: 100vw;
		background-size: cover;
	}
}
