.root {
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	height: 100%;
	padding-bottom: 200px;
	background: url("../../../assets/waves.jpg");
	background-size: cover;
}

.onboarding-container {
    
	height: 100%;
}

.identyum-master-wrapper {
    font-family: 'Quicksand', sans-serif!important;
	font-weight: 400;
}

#identyum-target {
	margin-top: 12%;
	padding-bottom: 12%;
}

#card-holder {
	margin-top: 15%;
}