<div class="root onboarding-container">

  <div  id="ident-holder" class="d-flex justify-content-center align-content-center w-100 h-100">
      <div class="w-100" id="identyum-target"></div>
  </div>

  <!-- <div id="card-holder" class="d-flex flex-row justify-content-center align-content-center w-100">
    <div class="card">
      <div class="card-body">
        <div class="card-title explainer-mini">
          Signup
        </div>
        <div class="card-text">
          In the signup process, you will go through a series of steps to confirm your identitiy. <br> <br>
          This is done to comply with the European anti-money laundering regulations. <br>
  
        </div>
        
      </div>
      <div class="card-footer">
        <button (click)="startButtonClicked()" class="btn btn-primary float-right py-2 px-5">
          Start
        </button>
      </div>
    </div>
  </div> -->
  
</div>

