.root {
    width: 100%;
    height: 100vh;
}

.onboarding-container {
    background: url("../../../assets/bg-hero-light.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: right;
	background-position-y: bottom;
}

.identyum-master-wrapper {
    font-family: 'Quicksand', sans-serif!important;
	font-weight: 400;
}