<div class="root root-content-container">
  <div class="row">
    <div class="col-md-12">
      <div class="explainer-mini text-uppercase">Examine withdrawal</div>
    </div>
    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between withdrawal-examine-holder">
            <div>
              <div class="explainer-mini text-uppercase">Name</div>
              <div>Jozo Jozić</div>
            </div>
            <div>
              <div class="explainer-mini text-uppercase">IBAN</div>
              <div>HR2893482934</div>
            </div>
            <div>
              <div class="explainer-mini text-uppercase">SWIFT/BIC</div>
              <div>BC3456</div>
            </div>
            <div>
              <div class="explainer-mini text-uppercase">Amount</div>
              <div>$1,500</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-3">
      <div id="payment-reciept-upload-target"></div>
    </div>

    <div class="col-md-12 mt-3">
      <button class="btn btn-primary py-3 w-100">
        <i class="fas fa-check-circle mr-2"></i>
        Approve withdrawal and generate burning code
      </button>
    </div>

  </div>
</div>