<div class="root root-content-container">
    <div class="row">
        <div class="col-md-12">
            <div class="explainer-mini text-uppercase">Examine withdrawal</div>
        </div>
        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between withdrawal-examine-holder">
                        <div>
                            <div class="explainer-mini text-uppercase">Name</div>
                            <div>{{withdrawal.user.first_name}} {{withdrawal.user.last_name}}</div>
                        </div>
                        <div>
                            <div class="explainer-mini text-uppercase">IBAN</div>
                            <div>{{withdrawal.bank_account}}</div>
                        </div>
                        <div>
                            <div class="explainer-mini text-uppercase">SWIFT/BIC</div>
                            <div>BC3456</div>
                        </div>
                        <div>
                            <div class="explainer-mini text-uppercase">Amount</div>
                            <div>{{ withdrawal.amount | currencyDefault }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div id="payment-reciept-upload-target"></div>
        </div>


        <div class="col-md-12">
            <div class="alert alert-danger">
                Please perform the payout <b>after</b> finalizing the withdrawal!
            </div>
        </div>
        <div *ngIf="(withdrawal !== undefined) && (withdrawal.burned_tx_hash ===  null)"
             class="col-md-12 mt-1">
            <button (click)="approveAndGenerateCodeClicked()" class="btn btn-primary py-3 w-100">
                <i class="fas fa-check-circle mr-2"></i>
                Finalize withdrawal
            </button>
        </div>

        <div class="col-md-12 mt-5 text-center">
            <canvas id="burn-generate-canvas"></canvas>
        </div>

    </div>
</div>
