<div class="modal fade" id="map-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <div class="container root-content-container">
                <div class="map-container">
                  <div class="map-frame">
                      <div id="display-map">
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>
