.wallet-container {
    padding-top: 20px;
    background: #fff;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*.button-container .btn {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 15px;
	font-weight: bold;
	text-transform: capitalize!important;
	padding-top: 18px;
}*/

.button-container button {
    height: 60px;
}

.no-init-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 30%;
}

.no-init-msg {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.no-init-btn {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}

.pairing-code-holder input {
    font-size: 45px;
    width: 65px;
    text-align: center;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.15);
}

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #cacaca !important;
    color: rgba(0, 0, 0, 0.15);
    outline: none;
}

ngb-pagination ::ng-deep .page-link {
    background-color: #f6f6f6 !important;
    color: #262626 !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
}

.page-link:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}
