@import "app";

.container {
  padding: 0;
  overflow: hidden;
  color: $title-color;
}

.row {
  padding: 0 5px;
}

.alert {
  padding: 12px 10px 12px 18px;
  margin-bottom: 40px;
}

.init-left {
  background-color: $background-color;
  padding: 20px;
  &__title {
    font-size: $font-size-desktop-title;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  &__desc {
    font-size: $font-size-mobile-body;
    letter-spacing: 0.2px;
    line-height: 25px;
    color: $body-color;
  }
  &__btn {
    margin: 40px 0 20px 0;
  }
}

.init-right {
  display: flex;
  justify-content: center;
  border: 1px solid $background-color;
  padding-top: 30px;
  &__icon {
    margin-right: 20px;
  }
  &__desc {
    font-size: $font-size-desktop-body2;
    color: $body-color;
    line-height: 21px;
    letter-spacing: 0.2px;
    span {
      font-weight: bold;
    }
    u {
      font-size: $font-size-desktop-body2;
      color: $primary-color;
    }
  }
}

.wallet-balance {
  .balance {
    &__content {
      border: 1px solid $border-light-color;
      border-radius: 1px;
      margin-top: 20px;
    }
    &__title {
      display: none;
    }
    &__amount {
      font-size: $font-size-desktop-title;
      text-align: center;
      margin-bottom: 0;
      padding: 19px 0;
      letter-spacing: 1.5px;
    }
    &__buttons {
      margin-top: 20px;
      .col-6 {
        padding: 0;
        &:first-of-type {
          padding-right: 4px;
        }
      }
    }
  }
}

.normal-text {
  font-size: 14px!important;
}

.wallet-alerts {
  margin-top: 20px;
  .alert-success {
    .btn {
      display: none;
    }
  }
}

.transactions {
  padding: 0 20px;
  margin-top: 30px;
  &__single-element {
    margin: 5px 5px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    text-transform: uppercase;
    font-size: $font-size-mobile-title-small;
    letter-spacing: 2px;
    margin-bottom: 34px;
  }
  &__report {
    display: none;
  }
  &__grayed-out {
    color: $icons-color;
  }
  .left {
    &__desc {
      line-height: 20px;
      letter-spacing: 0.18px;
    }
    &__conjuctor {
      display: none;
    }
    &__info {
      color: $icons-color;
      font-size: $font-size-mobile-title-small;
      margin-top: 8px;
      span {
        font-size: $font-size-mobile-title-small;
      }
      .info {
        &__state-failed {
          color: $error-color;
          font-weight: bold;
          span {
            display: none;
          }
        }

        &__state-pending {
          @keyframes blink {
            0% { opacity: 100; }
            50% { opacity: 0; }
            100% { opacity: 100; }
          }
          @-webkit-keyframes blink {
            0% { opacity: 100; }
            50% { opacity: 0; }
            100% { opacity: 100; }
          }
          color: $warning-color;
          font-weight: bold;
          -webkit-animation: blink 2s linear infinite;
          -moz-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
        }
      }
      .state__invested {
        color: $icons-color;
        font-weight: normal;
      }
    }
  }
  &__right {
    min-width: fit-content;
    display: flex;
  }
  .right {
    &__icon {
      align-self: flex-end;
      svg {
        font-size: $font-size-desktop-body;
        color: $icons-color;
      }
    }
    &__amount {
      color: $body-color;
    }
  }
  .amount__plus {
    color: $success-color;
  }
  &__pagination {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
  }
}

@include media-breakpoint-up(lg) {
  .container {
    padding: 0 15px;
  }

  .init-left {
    padding: 40px 64px 80px 64px;
    &__desc {
      font-size: $font-size-desktop-body;
      line-height: 25px;
    }
    &__btn {
      margin-bottom: 0;
    }
  }

  .init-right {
    padding-top: 150px;
    &__desc {
      width: 354px;
    }
  }

  .wallet-balance {
    border: 1px solid $border-light-color;
    border-radius: 1px;
    margin-top: 20px;
    box-shadow: 0 6px 6px 0 lighten($title-color, 90%);
    padding: 0 34px;
    .balance {
      &__title {
        display: inline-block;
        margin-bottom: 0;
        text-transform: uppercase;
      }
      &__content {
        border: none;
        margin-top: 0;
      }
      &__amount {
        padding: 0;
        text-align: left;
      }
      &__buttons {
        margin-top: 0;
        padding: 34px 0;
        .btn {
          padding: 0 32px;
        }
        .col-6 {
          &:first-of-type {
            padding-right: 22px;
          }
          &:last-of-type {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .wallet-alerts {
    margin: 30px auto 0 auto;
    .alert-success {
      font-weight: bold;
      .btn {
        display: inline-block;
      }
    }
  }

  .transactions {
    padding: 0;
    margin-top: 55px;
 
    &__title {
      margin-bottom: 50px;
      padding-left: 15px;
    }
    &__report {
      display: initial;
    }
    .left {
      &__desc {
        font-size: $font-size-desktop-body;
        line-height: 25px;
        display: flex;
      }
      &__conjuctor {
        display: inline-block;
      }
      &__transaction-type {
        padding-right: 5px;
      }
      &__info {
        margin-top: 2px;
        .info {
          &__state-failed {
            span {
              display: inline-block;
            }
          }
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
    }
    .right {
      &__icon {
        align-self: center;
        margin-left: 14px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $background-color;
          border-radius: 1px;
          cursor: pointer;
        }
      }
    }
  }

  .bottom-report {
    display: none;
  }
}
