<div class="container">
    <h1 class="app-page-title">WALLET</h1>

    <!--    TODO: Remove this when finished with testing -->
    <!--    <button class="btn btn-primary" (click)="arkaneService.getAccountFlow().subscribe()">getAccount</button>-->
    <!--    <button class="btn btn-primary" (click)="arkaneService.isAuthenticated().subscribe()">isAuthenticated</button>-->
    <!--    <button class="btn btn-primary" (click)="arkaneService.getProfile().subscribe()">getProfile</button>-->
    <!--    <button class="btn btn-primary" (click)="arkaneService.getWallets().subscribe()">getWallets</button>-->
    <!--    <button class="btn btn-primary" (click)="arkaneService.getMatchedWallet().subscribe()">getMatchedWallet</button>-->
    <!--    <button class="btn btn-primary" (click)="arkaneService.logout().subscribe()">logout</button>-->

    <ng-container *ngIf="{ wallet: wallet$ | async } as states">
        <div *ngIf="states.wallet?.state === walletState.EMPTY" class="row">
            <div class="init-left col-12 col-lg-6">
                <div class="alert alert-small alert-warning flex__center">
                    <i class="fas fa-exclamation-triangle mr-2"></i>
                    <b>You must initialize your wallet to invest</b>
                </div>
                <div>
                    <h4 class="init-left__title">
                        Your private, secure wallet
                    </h4>
                    <p class="init-left__desc">
                        We're commited to making sure your funds are as safe as they can possibly be when
                        using our platform. <br> To do this, we prevent the management of your money by anyone
                        other than you.
                    </p>
                    <p class="init-left__desc">
                        This is why we use a third-party secure wallet to store
                        your money and approve investments into projects. To start
                        the process of initializing your wallet - click on the button below.
                    </p>
                </div>
                <div class="init-left__btn">
                    <app-action-button text="Initialize secure wallet" [onClick]="setUpArkane.bind(this)">
                    </app-action-button>
                </div>
            </div>
            <!-- TODO: This is ready to go, uncomment and hook up once we have support for other wallets -->
            <!-- <div class="init-right col-12 col-lg-6">
                <i class="fas fa-bolt"></i>
                <div class="right__info">
                    <span class="right__info__title">Advanced users</span>
                    <p class="right__info__desc">This platform is powered by blockchain technology. A "wallet" is
                        a keystorage service used for signing transactions. If you're an advanced user
                        and would like to sign transactions yourself, <u>click here</u>
                    </p>
                </div>
            </div> -->
        </div>

        <div *ngIf="!!states.wallet && states.wallet.state !== walletState.EMPTY else fetchWalletSpinner">

            <div class="col-12">
                <div class="wallet-balance flex__center row">
                    <div class="col-12 col-lg-6 col-xl-8">
                        <div class="balance__content">
                            <p class="balance__title">Balance</p>
                            <p class="balance__amount">
                                {{ states.wallet?.wallet?.balance | currencyCents }}
                            </p>
                        </div>
                    </div>

                    <div class="balance__buttons col-12 col-lg-6 col-xl-4 flex__center">
                        <div class="col-6">
                            <button class="btn w-100 flex__center" routerLink="deposit">
                                <i class="fas fa-arrow-circle-down mr-2"></i>
                                Deposit
                            </button>
                        </div>

                        <div class="col-6">
                            <button class="btn w-100 flex__center" routerLink="withdraw"
                                    [disabled]="states.wallet.state !== walletState.READY">
                                <i class="fas fa-arrow-circle-up mr-2"></i>
                                Withdraw
                            </button>
                        </div>
                    </div>
                </div>


                <div class="wallet-alerts col-12 col-lg-11">
                    <div *ngIf="states.wallet?.wallet?.activated_at === null"
                         class="alert alert-success w-100 flex__center-space">
                        <div>
                            <i class="fas fa-bolt"></i>
                            Your wallet is pending approval from admin. You can deposit funds while pending approval.
                        </div>
                        <button class="btn" routerLink="deposit">
                            Deposit funds
                        </button>
                    </div>
                    <div *ngIf="states.wallet?.wallet?.balance === 0"
                         class="alert alert-success w-100 flex__center-space">
                        <div>
                            <i class="fas fa-bolt"></i>
                            Your wallet is empty. Deposit funds to get started!
                        </div>
                        <button class="btn" routerLink="deposit">
                            Deposit funds
                        </button>
                    </div>
                </div>
            </div>

            <div class="transactions col-12" *ngIf="states.wallet.state === walletState.READY">
                <div class="d-flex justify-content-between">
                    <div class="transactions__title">Transaction History</div>
                    <div class="transactions__report" *ngIf="transactionHistory.length > 0">
                        <ng-template [ngTemplateOutlet]="downloadReportButton"></ng-template>
                    </div>
                </div>

                <ng-container *ngIf="(transactionHistory$ | async) else transactionHistorySpinner">
                    <div *ngIf="transactionHistory.length === 0" class="row justify-content-center">
                        <span class="transactions__empty"></span>Your transaction history is empty.
                    </div>
                    <div *ngIf="transactionHistory !== undefined && transactionHistory.length > 0"
                         class="wow fadeIn">
                        <div class="transactions__history">
                            <ng-container *ngFor="let transaction of transactionHistoryPage">
                                <ng-container *ngIf="shouldShowTransaction(transaction, transactionHistory)">
                                    <div class="transactions__single-element"
                                         [class.transactions__grayed-out]="transaction.state !== 'MINED' || transaction.type === 'APPROVE_INVESTMENT'">
                                        <div class="transactions__left">
                                            <div class="left__desc">
                                                <div class="left__transaction-type">
                                                    <ng-container *ngIf="transaction.type === transactionType.INVEST">
                                                        <b>Investment </b><span class="left__conjuctor">to</span>
                                                    </ng-container>
                                                    <ng-container *ngIf="transaction.type === transactionType.DEPOSIT">
                                                        <b>Deposit</b>
                                                    </ng-container>
                                                    <ng-container *ngIf="transaction.type === transactionType.WITHDRAW">
                                                        <b>Withdraw</b>
                                                    </ng-container>
                                                    <ng-container
                                                            *ngIf="transaction.type === transactionType.SHARE_PAYOUT">
                                                        <b>Dividend </b><span class="left__conjuctor">from</span>
                                                    </ng-container>
                                                    <ng-container
                                                            *ngIf="transaction.type === transactionType.CANCEL_INVESTMENT">
                                                        <b>Cancel investment </b><span
                                                            class="left__conjuctor">from</span>
                                                    </ng-container>
                                                    <ng-container
                                                            *ngIf="transaction.type === transactionType.APPROVE_INVESTMENT">
                                                        <b>Approve investment </b><span
                                                            class="left__conjuctor">to</span>
                                                    </ng-container>
                                                </div>
                                                {{ transaction.description }}
                                            </div>
                                            <div class="left__info">
                                                <span class="info__state-mined"
                                                      *ngIf="transaction.state === transactionState.MINED">
                                                    <span class="state__invested"
                                                          *ngIf="transaction.type === transactionType.INVEST">
                                                        {{ transaction.share | percent:'1.0-10'}} Invested —
                                                    </span>
                                                </span>
                                                <span class="info__state-pending"
                                                      *ngIf="transaction.state === 'PENDING'">
                                                    Pending
                                                </span>
                                                <span class="info__state-failed" *ngIf="transaction.state === 'FAILED'">
                                                    Failed
                                                </span>
                                                {{ transaction.date | date:'medium' }}
                                            </div>
                                        </div>
                                        <div class="transactions__right">
                                            <div class="right__amount">
                                                <span [class.amount__plus]="(transaction.type | txAmountSign) === '+'">
                                                    {{ transaction.type | txAmountSign }} {{ transaction.amount | currencyCents }}
                                                </span>
                                            </div>
                                            <div class="right__icon">
                                                <ng-container
                                                        *ngIf="transaction.state === transactionState.MINED else singleReportButtonDisabled">
                                                    <app-action-button
                                                            buttonClass="btn text-dark bg-transparent text-right p-0"
                                                            spinnerColor="black"
                                                            faIcon="fa-file-chart-line"
                                                            [onClick]="downloadSingleReport(transaction).bind(this)">
                                                    </app-action-button>
                                                </ng-container>
                                                <a href="{{ getExplorerLink(transaction.tx_hash) }}"
                                                   target="_blank" rel="noopener noreferrer" class="ml-2">
                                                    <i class="fas fa-search" style="color: black"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>

                        <div class="transactions__pagination">
                            <ngb-pagination [collectionSize]="transactionItems" [(page)]="tablePage"
                                            [pageSize]="tablePageSize"
                                            (pageChange)="refreshTransactionHistoryPage()">
                            </ngb-pagination>
                        </div>
                    </div>
                </ng-container>
                <ng-template #transactionHistorySpinner>
                    <div class="justify-content-center" style="width: 100%">
                        <app-spinner type="overlay"></app-spinner>
                    </div>
                </ng-template>
            </div>

            <div class="bottom-report col-12 pb-3" *ngIf="transactionHistory.length > 0">
                <ng-template [ngTemplateOutlet]="downloadReportButton"></ng-template>
            </div>
        </div>
        <ng-template #fetchWalletSpinner>
            <div *ngIf="states.wallet?.state === undefined" class="justify-content-center" style="width: 100%">
                <app-spinner type="overlay"></app-spinner>
            </div>
        </ng-template>
    </ng-container>
</div>

<ng-template #singleReportButtonDisabled>
    <app-action-button
            buttonClass="btn bg-transparent text-right p-0"
            disabled="disabled"
            faIcon="fa-file-chart-line">
    </app-action-button>
</ng-template>

<ng-template #downloadReportButton>
    <app-action-button
            text="Generate PDF Report"
            loadingText="Downloading PDF Report..."
            faIcon="fa-file-chart-line"
            buttonClass="btn normal-text w-100"
            [onClick]="downloadReport.bind(this)">
    </app-action-button>
</ng-template>
