<div class="container">
    <h1 class="app-page-title">
        {{ 'wallet.title' | translate }}
    </h1>

    <ng-container *ngIf="{ wallet: wallet$ | async } as states">
        <div *ngIf="states.wallet?.state === walletState.EMPTY" class="row">
            <div class="init-left col-12 col-lg-6">
                <div class="alert alert-warning flex__center">
                    <fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
                    <b>{{ 'wallet.description.notice' | translate }}</b>
                </div>
                <div>
                    <h4 class="init-left__title">{{ 'wallet.description.title' | translate }}</h4>
                    <p class="init-left__desc">
                        {{ 'wallet.description.details' | translate | splitPart:0 }}
                    </p>
                    <p class="init-left__desc">
                        {{ 'wallet.description.details' | translate | splitPart:1 }}
                    </p>
                </div>
                <div class="init-left__btn">
                    <form [formGroup]="acceptTermsForm">
                        <div [hidden]="!appConfig.config.config?.risk_warning_url">
                            <label class="app-page-label mt-3">
                                {{ 'wallet.risk_warning_confirmation_input.title' | translate }}
                            </label>
                            <div class="d-flex align-items-center">
                                <input class="form-control w-auto h-auto m-2" id="google-client-id"
                                       formControlName="risk_warning_confirmation"
                                       type="checkbox">
                                <label class="small mb-0" for="google-client-id">
                                    <span>
                                        {{ 'wallet.risk_warning_confirmation_input.notice' | translate | splitPart:0 }}
                                    </span>
                                    <span class="d-inline-flex">
                                        <a href="{{ appConfig.config.config?.risk_warning_url }}" target="_blank"
                                           rel="noopener noreferrer">
                                            {{ 'wallet.risk_warning_confirmation_input.notice' | translate | splitPart:1
                                                | interpolate:['coopName', appConfig.config.name] }}
                                        </a>
                                    </span>
                                    <span>
                                        {{ 'wallet.risk_warning_confirmation_input.notice' | translate | splitPart:2 }}
                                    </span>
                                </label>
                            </div>
                        </div>

                        <button app-action-button
                                class="btn btn-primary tw-w-full tw-mt-4"
                                text="{{ 'wallet.initialize_wallet' | translate }}"
                                [disabled]="!acceptTermsForm.valid"
                                [onClick]="setUpArkane.bind(this)">
                        </button>
                    </form>
                </div>
            </div>
            <!-- TODO: This is ready to go, uncomment and hook up once we have support for other wallets -->
            <!-- <div class="init-right col-12 col-lg-6">
                <div class="right__info">
                    <span class="right__info__title">Advanced users</span>
                    <p class="right__info__desc">This platform is powered by blockchain technology. A "wallet" is
                        a keystorage service used for signing transactions. If you're an advanced user
                        and would like to sign transactions yourself, <u>click here</u>
                    </p>
                </div>
            </div> -->
        </div>

        <div *ngIf="!!states.wallet && states.wallet.state !== walletState.EMPTY; else fetchWalletSpinner">
            <div class="wallet-balance flex__center row">
                <div class="col-12 col-lg-6 col-xl-8">
                    <div class="balance__content">
                        <p class="balance__title">
                            {{ 'wallet.balance' | translate }}
                        </p>
                        <p class="balance__amount" @enterTrigger>
                            {{ states.wallet?.wallet?.balance | currencyCents }}
                        </p>
                    </div>
                </div>

                <div class="balance__buttons col-12 col-lg-6 col-xl-4 flex__center">
                    <div class="col-6">
                        <button class="btn w-100 flex__center" routerLink="deposit">
                            <fa-icon icon="arrow-circle-down" class="mr-2"></fa-icon>
                            {{ 'wallet.deposit' | translate }}
                        </button>
                    </div>

                    <div class="col-6">
                        <button class="btn w-100 flex__center" routerLink="withdraw"
                                [disabled]="states.wallet.state !== walletState.READY">
                            <fa-icon icon="arrow-circle-up" class="mr-2"></fa-icon>
                            {{ 'wallet.withdraw' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="wallet-alerts col-12 col-lg-11">
                <div *ngIf="states.wallet?.wallet?.activated_at === null"
                     class="alert alert-success w-100 flex__center--space">
                    <div>
                        <fa-icon icon="bolt"></fa-icon>
                        {{ 'wallet.wallet_not_active_notice' | translate }}
                    </div>
                    <button class="btn" routerLink="deposit">
                        {{ 'wallet.deposit_funds' | translate }}
                    </button>
                </div>
                <div *ngIf="states.wallet?.wallet?.balance === 0"
                     class="alert alert-success w-100 flex__center--space">
                    <div>
                        <fa-icon icon="bolt"></fa-icon>
                        {{ 'wallet.wallet_empty_notice' | translate }}
                    </div>
                    <button class="btn" routerLink="deposit">
                        {{ 'wallet.deposit_funds' | translate }}
                    </button>
                </div>
            </div>

            <div class="transactions" *ngIf="states.wallet.state === walletState.READY">
                <div class="d-flex justify-content-between">
                    <div class="transactions__title">
                        {{ 'wallet.transactions.title' | translate }}
                    </div>
                    <div class="transactions__report" *ngIf="transactionHistory.length > 0">
                        <ng-template [ngTemplateOutlet]="downloadReportButton"></ng-template>
                    </div>
                </div>

                <ng-container *ngIf="(transactionHistory$ | async) else transactionHistorySpinner">
                    <div *ngIf="transactionHistory.length === 0" class="row justify-content-center">
                        <span class="transactions__empty">
                            {{ 'wallet.transactions.empty_notice' | translate }}
                        </span>
                    </div>
                    <div *ngIf="transactionHistory !== undefined && transactionHistory.length > 0" @enterTrigger>
                        <div class="transactions__history">
                            <ng-container *ngFor="let transaction of transactionHistoryPage">
                                <ng-container *ngIf="shouldShowTransaction(transaction, transactionHistory)">
                                    <div class="transactions__single-element"
                                         [class.transactions__grayed-out]=" transaction.state !== 'MINED' || transaction.type === 'APPROVE_INVESTMENT'">
                                        <div class="transactions__left">
                                            <div class="left__desc">
                                                <div class="left__transaction-type">
                                                    <ng-container *ngIf="transaction.type === transactionType.INVEST">
                                                        <span class="bold">
                                                            {{ 'wallet.transactions.type.investment' | translate | splitPart:0 }}
                                                        </span>
                                                        <span class="left__conjuctor">
                                                            {{ 'wallet.transactions.type.investment' | translate | splitPart:1 }}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="transaction.type === transactionType.DEPOSIT">
                                                        <span class="bold">
                                                            {{ 'wallet.transactions.type.deposit' | translate }}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="transaction.type === transactionType.WITHDRAW">
                                                        <span class="bold">
                                                            {{ 'wallet.transactions.type.withdraw' | translate }}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container
                                                            *ngIf="transaction.type === transactionType.SHARE_PAYOUT">
                                                        <span class="bold">
                                                            {{ 'wallet.transactions.type.share_payout' | translate | splitPart:0 }}
                                                        </span>
                                                        <span class="left__conjuctor">
                                                            {{ 'wallet.transactions.type.share_payout' | translate | splitPart:1 }}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container
                                                            *ngIf="transaction.type === transactionType.CANCEL_INVESTMENT">
                                                        <span class="bold">
                                                            {{ 'wallet.transactions.type.cancel_investment' | translate | splitPart:0 }}
                                                        </span>
                                                        <span class="left__conjuctor">
                                                            {{ 'wallet.transactions.type.cancel_investment' | translate | splitPart:1 }}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container
                                                            *ngIf="transaction.type === transactionType.APPROVE_INVESTMENT">
                                                        <span class="bold">
                                                            {{ 'wallet.transactions.type.approve_investment' | translate | splitPart:0 }}
                                                        </span>
                                                        <span class="left__conjuctor">
                                                            {{ 'wallet.transactions.type.approve_investment' | translate | splitPart:1 }}
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                {{ transaction.description }}
                                            </div>
                                            <div class="left__info">
                                                <span class="info__state-mined"
                                                      *ngIf="transaction.state === transactionState.MINED">
                                                    <span class="state__invested"
                                                          *ngIf="transaction.type === transactionType.INVEST">
                                                        {{ 'wallet.transactions.state.mined.invest' | translate
                                                            | interpolate:['percent', transaction.share | percent:'1.0-10'] }}
                                                        —
                                                    </span>
                                                </span>
                                                <span class="info__state-pending"
                                                      *ngIf="transaction.state === 'PENDING'">
                                                    {{ 'wallet.transactions.state.pending' | translate }}
                                                </span>
                                                <span class="info__state-failed" *ngIf="transaction.state === 'FAILED'">
                                                    {{ 'wallet.transactions.state.failed' | translate }}
                                                </span>
                                                {{ transaction.date | date:'medium' }}
                                            </div>
                                        </div>
                                        <div class="transactions__right">
                                            <div class="right__amount">
                                                <span [class.amount__plus]="(transaction.type | txAmountSign) === '+'">
                                                    {{ transaction.type | txAmountSign }} {{ transaction.amount | currencyCents }}
                                                </span>
                                            </div>
                                            <div class="right__icon">
                                                <ng-container
                                                        *ngIf="transaction.state === transactionState.MINED else singleReportButtonDisabled">
                                                    <button app-action-button
                                                            class="btn text-dark bg-transparent text-right p-0"
                                                            spinnerColor="black" faIcon="file-chart-line"
                                                            [onClick]="downloadSingleReport(transaction).bind(this)">
                                                    </button>
                                                </ng-container>
                                                <!-- TODO: Turned off because it was too slow to show transaction -->
                                                <a *ngIf="false" href="{{ getExplorerLink(transaction.tx_hash) }}"
                                                   target="_blank" rel="noopener noreferrer" class="ml-2">
                                                    <fa-icon icon="search" style="color: black"></fa-icon>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>

                        <div class="transactions__pagination">
                            <ngb-pagination [collectionSize]="transactionItems" [(page)]="tablePage"
                                            (pageChange)="refreshTransactionHistoryPage()"
                                            [pageSize]="tablePageSize">
                            </ngb-pagination>
                        </div>
                    </div>
                </ng-container>
                <ng-template #transactionHistorySpinner>
                    <div class="justify-content-center" style="width: 100%">
                        <app-spinner type="overlay"></app-spinner>
                    </div>
                </ng-template>
            </div>

            <div class="bottom-report" *ngIf="transactionHistory.length > 0">
                <ng-template [ngTemplateOutlet]="downloadReportButton"></ng-template>
            </div>
        </div>
        <ng-template #fetchWalletSpinner>
            <div *ngIf="states.wallet?.state === undefined" class="justify-content-center" style="width: 100%">
                <app-spinner type="overlay"></app-spinner>
            </div>
        </ng-template>
    </ng-container>
</div>

<ng-template #singleReportButtonDisabled>
    <button app-action-button
            class="btn bg-transparent text-right p-0"
            disabled="disabled"
            faIcon="file-chart-line">
    </button>
</ng-template>

<ng-template #downloadReportButton>
    <button app-action-button
            text="{{ 'wallet.transactions.pdf_report' | translate }}"
            loadingText="{{ 'wallet.transactions.pdf_report.downloading' | translate }}"
            faIcon="file-chart-line"
            class="btn normal-text w-100"
            [onClick]="downloadReport.bind(this)">
    </button>
</ng-template>
