<ng-container *ngIf="withdrawal$ | async as withdrawal">
    <div *ngIf="withdrawal === withdrawalState.EMPTY" class="container">
        <div appBackNavigation class="app-page-title-back">
            <i class="fas fa-long-arrow-alt-left mr-3"></i>
            {{ 'general.back.title' | translate }}
        </div>
        <div class="withdraw__form">
            <form [formGroup]="requestWithdrawForm">
                <h2 class="app-page-subtitle">
                    {{ 'projects.edit.manage_payments.withdraw.amount_input.title' | translate }}
                </h2>
                <app-money-input-field
                    placeholder="{{ 'projects.edit.manage_payments.withdraw.amount_input.placeholder' | translate }}"
                    [control]="requestWithdrawForm.get('amount')">
                </app-money-input-field>

                <h2 class="app-page-subtitle">
                    {{ 'projects.edit.manage_payments.withdraw.bank_input.title' | translate }}
                </h2>
                <input
                    class="input-lg w-100" id="iban-holder"
                    formControlName="iban"
                    placeholder="{{ 'projects.edit.manage_payments.withdraw.bank_input.placeholder' | translate }}"
                    type="text"/>

                <button
                    app-action-button
                    text="{{ 'projects.edit.manage_payments.withdraw.submit' | translate }}"
                    [disabled]="!requestWithdrawForm.valid"
                    [onClick]="requestWithdrawal.bind(this)">
                </button>
            </form>
        </div>
    </div>

    <div *ngIf="withdrawal !== withdrawalState.EMPTY" class="container">
        <div class="withdrawal__details">
            <div class="details__content">
                <p>{{ 'projects.edit.manage_payments.withdraw.review.notice' | translate | splitPart:0 }}</p>
                <p>{{ 'projects.edit.manage_payments.withdraw.review.notice' | translate | splitPart:1 }}</p>
                <p>{{ 'projects.edit.manage_payments.withdraw.review.notice' | translate | splitPart:2 }}</p>
            </div>

            <div class="details__review flex__center--space">
                <div class="review__left">
                    <h2 class="app-page-subtitle">
                        {{ 'projects.edit.manage_payments.withdraw.review.amount' | translate }}
                    </h2>
                    {{ withdrawal.amount | currencyDefault }}
                </div>
                <div class="review__right" (click)="deleteWithdrawal(withdrawal).subscribe()">
                    <i class="fas fa-trash"></i>
                </div>
            </div>

            <div class="details__cta">
                <button
                    app-action-button
                    text="{{ 'projects.edit.manage_payments.withdraw.review.submit' | translate }}"
                    [onClick]="burnWithdraw(withdrawal).bind(this)">
                </button>
            </div>
        </div>
    </div>
</ng-container>
