@import "app";

.app-page-subtitle {
  padding-top: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.payments {
  &-wallet {
    border: 1px solid $border-light-color;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 6px 6px 0 lighten($title-color, 85%);
    border-radius: 2px;
    position: relative;
    .col-6:first-of-type {
      padding-right: 0;
    }
    .col-6:last-of-type {
      padding-left: 3px;
    }
  }
  &-payout {
    background-color: $background-color;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-light-color;
  }
}

.wallet {
  &__title {
    padding-bottom: 10px;
  }
  &__balance {
    font-size: $font-size-desktop-title;
    color: $title-color;
    letter-spacing: 1.5px;
    margin-bottom: 24px;
    p {
      margin-bottom: 0;
    }
  }
}

.payout {
  &__title {
    padding-bottom: 18px;
  }
  &__desc {
    font-size: $font-size-mobile-title-small;
    margin: 8px 0 16px 0;
    color: $body-color;
    letter-spacing: 0.3px;
  }
}

@include media-breakpoint-up(lg) {
  .payments {
    &-wallet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 23px 34px;
      .col-6:first-of-type {
        padding-right: 15px;
      }
      .col-6:last-of-type {
        padding-left: 15px;
      }
    }
    &-payout {
      border: 1px solid $border-light-color;
    }
  }

  .wallet {
    &__balance {
      margin-bottom: 0;
    }
  }

  .payout {
    &__inner {
      margin: 0 auto;
    }
  }
}
