<div class="root-content-container">

    <div class="explainer-mini text-uppercase mb-3">Groups pending approval</div>

    <ul *ngIf="orgsAwaitingApproval !== undefined" class="list-group">
        <li *ngFor="let org of orgsAwaitingApproval; let i = index;" class="list-group-item py-3">
            <span class="float-left">{{org.name}}</span>
            <span (click)="approveOrgClicked(org.id)" class="float-right cursor-pointer approve-btn">
        <i class="fas fa-check mr-3 approve-icon"></i>
        <span class="explainer-mini text-uppercase">Approve</span>
      </span>
        </li>
    </ul>
    <div *ngIf="(orgsAwaitingApproval !== undefined) && (orgsAwaitingApproval.length ===  0)"
         class="text-center gray-text h6 mt-5">
        No groups pending approval
    </div>
</div>
