<ng-container *ngIf="(projects$ | async) as projects else spinner">
    <div *ngIf="projects.length === 0" class="col-md-12">
        <div class="w-100 text-center mt-5 mb-5">
            <p>There are no projects associated with this organization.</p>
        </div>
    </div>

    <ul class="list-group">
        <li *ngFor="let project of projects"
            class="list__item">
            <div class="item__top">
                <div class="top__left">
                    <img src="{{ project.main_image}}" onerror="this.onerror=null; this.src='../../../../assets/noimage.png'" alt="Project image">
                </div>
                <div class="top__right">
                    <div class="item__title"
                         routerLink="manage_project/{{ project.uuid }}">
                        {{ project.name }}
                    </div>
                    <div class="item__funding">
                        <b>Funding </b>{{ project.start_date | date:'longDate' }}
                        - {{ project.end_date | date:'longDate' }}
                    </div>
                </div>
            </div>
            <div class="item__bottom">
                <div class="item__progress-bar">
                    <!-- TODO: set specific hash when available from API -->
                    <ng-container
                            *ngIf="(projectWallet('th_2VzP81QKnZDsnKVGP7ZzTqFPJ2Y1BiRTxhApVRURwyXGu9PtA3') | async) as wallet else walletLoading">
                        <div style="visibility:hidden" class="fadeIn wow">
                            <div>
                                <div class="progress__raised">
                                    <div>
                                        <span>{{ wallet.totalFundsRaised | currencyDefault }}</span> raised of
                                        {{ wallet.investmentCap | currencyDefault }} goal
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="progress">
                                    <div [style.width.%]="(wallet.totalFundsRaised / wallet.investmentCap) * 100"
                                         class="progress__bar"
                                         role="progressbar"></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="item__toggle">
                    <app-action-button text="{{ project.active ? 'Unpublish' : 'Publish' }}"
                                       faIcon="{{ project.active ? 'fa-eye-slash' : 'fa-eye' }}"
                                       [onClick]="toggleProject(project.uuid, projects).bind(this)"
                                       buttonClass="d-contents item__icon flex__center mr-2">
                    </app-action-button>
                </div>
            </div>
        </li>
    </ul>
</ng-container>

<ng-template #spinner>
    <app-spinner type="overlay"></app-spinner>
</ng-template>

<ng-template #walletLoading>
    <span>
        <app-spinner type="inline"></app-spinner>
    </span>
</ng-template>
