<ng-container *ngIf="(projectsWallets$ | async) as projectsWallets else spinner">
    <div *ngIf="projectsWallets.length === 0" class="col-md-12">
        <div class="w-100 text-center mt-5 mb-5">
            <p>There are no projects associated with this organization.</p>
        </div>
    </div>

    <ul class="list-group">
        <li *ngFor="let x of projectsWallets" class="list__item"
            app-single-project-item [projectWallet]="x">
        </li>
    </ul>
</ng-container>

<ng-template #spinner>
    <app-spinner type="overlay"></app-spinner>
</ng-template>
