<div class="container root-content-container">
  <div class="row">
    <div class="col-md-12">
      <p class="h5 font-weight-bold text-uppercase">Transaction overview</p>
    </div>
    <div class="mt-3 col-md-3">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-id-card mr-2"></i>
        <span>Transaction hash</span>
      </div>
      <a class="d-block" href="http://etherscan.io">0x332F45C...37D</a>
    </div>
    <div class="mt-3 col-md-3">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-calendar mr-2"></i>
        <span>DATE</span>
      </div>
      <a class="d-block">23/12/2018</a>
    </div>
    <div class="mt-3 col-md-3">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-clock mr-2"></i>
        <span>TIME</span>
      </div>
      <a class="d-block">17:32</a>
    </div>
    <div class="mt-3 col-md-3">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-calendar mr-2"></i>
        <span>DATE</span>
      </div>
      <a class="d-block">23/12/2018</a>
    </div>

    <h3 class="col-md-12 mt-5 text-success">
      <i class="fas fa-arrow-down mr-4"></i>
      <span>Deposit</span>
    </h3>
  </div>
</div>