<div class="container root-content-container d-flex justify-content-center">
  <div class="tx-content-container card">
    <div class="card-header text-uppercase font-weight-bold">
      Transaction details
    </div>
    <div class="card-body">
      <div class="explainer-mini text-uppercase">
        <i class="fas fa-hashtag mr-2"></i>
        <span>TX hash</span>
      </div>
      <h6>0x1A38B9324FC13D3A3B3038AD</h6>

      <div class="explainer-mini text-uppercase mt-3">
        <i class="fas fa-arrow-up mr-2"></i>
        <span>From</span>
      </div>
      <h6>John Doe</h6>

      <div class="explainer-mini text-uppercase mt-3">
        <i class="fas fa-arrow-down mr-2"></i>
        <span>To</span>
      </div>
      <h6>Jane Doe</h6>

      <div class="explainer-mini text-uppercase mt-3">
        <i class="fas fa-money-check-alt mr-2"></i>
        <span>Amount</span>
      </div>
      <h6>USD 732</h6>

      <div class="explainer-mini text-uppercase mt-3">
        <i class="fas fa-clock mr-2"></i>
        <span>Time</span>
      </div>
      <h6>12/3/2018 14:32</h6>
    </div>

    <button class="btn btn-primary btn-action-a text-uppercase mx-2 mb-2 mt-3 w-100">
      <i class="fas fa-print mr-2"></i>
      <span>Print</span>
    </button>
  </div>
</div>