<div class="container">
    <h1 class="app-page-title">
        {{ 'admin.withdrawals.single_withdrawal.title' | translate }}
    </h1>

    <div class="row">
        <ng-container *ngIf="(withdrawal$ | async) as withdrawal else spinner">
            <div class="col-md-12 mt-5 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between withdrawal-examine-holder">
                            <div *ngIf="!!withdrawal.project">
                                <div class="text-uppercase">
                                    {{ 'admin.withdrawals.single_withdrawal.info.project_name' | translate }}
                                </div>
                                <div>{{ withdrawal.project.name }}</div>
                            </div>
                            <div>
                                <div class="text-uppercase">
                                    {{ 'admin.withdrawals.single_withdrawal.info.user_name' | translate }}
                                </div>
                                <div>{{ withdrawal.user.first_name }} {{ withdrawal.user.last_name }}</div>
                            </div>
                            <div>
                                <div class="text-uppercase">
                                    {{ 'admin.withdrawals.single_withdrawal.info.iban' | translate }}
                                </div>
                                <div>{{ withdrawal.withdraw.bank_account }}</div>
                            </div>
                            <div>
                                <div class="text-uppercase">
                                    {{ 'admin.withdrawals.single_withdrawal.info.amount' | translate }}
                                </div>
                                <div>{{ withdrawal.withdraw.amount | currencyDefault }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="alert alert-danger">
                    <span>
                        {{ 'admin.withdrawals.single_withdrawal.payout_notice' | translate | splitPart:0 }}
                    </span>
                    <span>
                        <b>{{ 'admin.withdrawals.single_withdrawal.payout_notice' | translate | splitPart:1 }}</b>
                    </span>
                    <span>
                        {{ 'admin.withdrawals.single_withdrawal.payout_notice' | translate | splitPart:2 }}
                    </span>
                </div>
            </div>

            <div class="col-md-12 mt-1">
                <button app-action-button
                        text="{{ 'admin.withdrawals.single_withdrawal.submit' | translate }}"
                        loadingText="{{ 'admin.withdrawals.single_withdrawal.submit.loading' | translate }}"
                        [onClick]="approveAndGenerateCodeClicked.bind(this)">
                </button>
            </div>
        </ng-container>

        <ng-template #spinner>
            <app-spinner type="overlay" style="width: 100%"></app-spinner>
        </ng-template>
    </div>
</div>
