<ng-container *ngIf="{
    user: user$ | async,
    wallet: wallet$ | async
} as states">
    <div *ngIf="!isUserVerified(states.user)">
        <div class="container">
            <div class="wallet-init-reminder">
                <p>
                    <span>
                        {{ 'user_state_reminder.not_verified' | translate | splitPart:0 }}
                    </span>
                    <span class="reminder-link d-inline-block" [routerLink]="'/dash/settings/user/identity' | coopPath">
                        {{ 'user_state_reminder.not_verified' | translate | splitPart:1 }}
                    </span>
                    <span>
                        {{ 'user_state_reminder.not_verified' | translate | splitPart:2 }}
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="isUserVerified(states.user) && !isWalletInitialized(states.wallet)">
        <div class="container">
            <div class="wallet-init-reminder">
                <p>
                    <span *ngIf="states.user?.role !== userRole.ADMIN">
                        {{ 'user_state_reminder.initialize_wallet' | translate | splitPart:0 }}
                    </span>
                    <span>
                        {{ 'user_state_reminder.initialize_wallet' | translate | splitPart:1 }}
                    </span>
                    <span class="reminder-link d-inline-block" [routerLink]="'/dash/wallet' | coopPath">
                        {{ 'user_state_reminder.initialize_wallet' | translate | splitPart:2 }}
                    </span>
                    <span class="d-inline-block">
                        {{ 'user_state_reminder.initialize_wallet' | translate | splitPart:3 }}
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="isWaitingWalletReady(states.user, states.wallet)">
        <div class="container">
            <div class="wallet-init-reminder container">
                <p>
                    {{ 'user_state_reminder.activation_pending' | translate }}
                    <ng-container *ngIf="states.user?.role === userRole.ADMIN; else notAdmin">
                        <span>
                            {{ 'user_state_reminder.activation_pending.admin_notice' | translate }}
                        </span>
                        <app-spinner type="inline" color="white"></app-spinner>
                    </ng-container>
                    <ng-template #notAdmin>
                        {{ 'user_state_reminder.activation_pending.user_notice' | translate }}
                    </ng-template>
                </p>
            </div>
        </div>
    </div>
</ng-container>
