<ng-container *ngIf="{
    userVerified: userVerified$ | async,
    walletInitialized: walletInitialized$ | async
} as states">
    <div *ngIf="states.userVerified === false" class="container">
        <div class="wallet-init-reminder">
            <p>
                Profile not verified.
                Please go <span class="reminder-link" routerLink="general_settings">here</span> to verify
                your profile and finish onboarding procedure.
            </p>
        </div>
    </div>

    <div *ngIf="states.userVerified === true && states.walletInitialized === false" class="container">
        <div class="wallet-init-reminder">
            <p>
                Thank you for verifying your profile.
                In order to manage funds, you need to have your wallet initialized.
                Please initialize your wallet <span class="reminder-link" routerLink="wallet">here</span>.
            </p>
        </div>
    </div>
</ng-container>
