#invest-input-group input {
	border: 0;
	font-size: 35px;
	text-align: center;
}

#invest-input-group .input-group-prepend {
	border: none;
}

#invest-button {
	padding: 14px;
}

.w-33 {
	width: 33%;
}

.main-text {
	color: #444;
}