.row {
    color: #111111;
}

.page-title, 
.invest-text, 
.min-investment,
.invest-text-right a {
    font-size: 12px;
}

.project-title {
    font-size: 44px;
}

.min-investment,
.invest-text-right a {
    color: #444444;
}

.invest-text input {
    border-radius: unset !important;
    box-shadow: unset !important;
    border: 1px solid #D8D8D8 !important;
}

.invest-text-right h1 {
    font-size: 21px;
    font-weight: 500;
}

.invest-text-right a {
    text-decoration: underline;
}

.invest-button button {
    border-radius: unset !important;
}

.invest-text input,
.invest-button button {
    height: 64px;
}

.invest-text p,
.invest-text-right,
.page-title {
    font-weight: 500;
}

.page-title,
.invest-text p,
.invest-text-right p {
    letter-spacing: 2px;
}

.invest-text-right {
    text-align: right;
}

.invest-text-right p {
    margin-top: -16px;
    margin-bottom: 33px;
}

@media (max-width: 800px) {
    .invest-text-right {
        text-align: left;
    }
    
    .invest-text-right p {
        margin-top: 0px;
    }

    .project-title {
        font-size: 36px;
    }
}

@media (max-width: 1399px) {
    .page-title {
        margin-top: 15px;
    }
}

.alert {
    border-radius: unset !important;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    background-color: #F5C6B5;
    color: #111111;
}