@import "app";

.app-basic-title {
  margin: 30px 0 24px 0;
}

.col-lg-6,
.col-lg-4,
.col-lg-2 {
  padding: 0;
}

p {
  font-size: $font-size-desktop-small;
}

.dropdown-divider {
  margin-bottom: 20px;
}

.invest {
  &__range-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__input-label p {
    text-transform: uppercase;
    color: $title-color;
    display: none;
  }

  &__text-right {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    p {
      margin-bottom: 0;
    }
  }
}

.funds__bottom {
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  h2 {
    font-size: 18px;
    text-align: end;
    padding-left: 18px;
    padding-right: 18px;
  }

  p {
    padding-left: 18px;
  }

  a {
    padding-left: 18px;
  }
}

.right {
  &__available {
    text-transform: uppercase;
  }

  &__amount {
    font-size: 18px;
  }

  &__link {
    color: $body-color;
    font-size: $font-size-desktop-small;
    text-decoration: underline;
  }

  &__available,
  &__amount {
    color: $title-color;
  }
}

.error-messages {
  margin: 30px auto
}

.alert-danger {
  span,
  .btn-danger {
    display: none;
  }

  .btn-mobile {
    display: block;
  }
}

.estimated {

  &__table {
    display: flex;
    flex-direction: column;
  }

  &-calculator {
    .row {
      padding-left: 0;
      padding-right: 0;
    }

    .col {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__content {
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E5E5E5;
  }

  &__return-label p {
    padding-bottom: 0;
    padding-left: 4px;
    padding-top: 32px;
  }

  &__total-label h2 {
    font-size: $font-size-mobile-title2;
    padding-top: 29px;
    padding-left: 8px;
  }

  &__invested-label p {
    font-size: $font-size-desktop-body;
    color: $icons-color;
    padding-top: 0;
    padding-left: 8px;
  }

  &__return-header {
    background: $background-color;
    font-size: $font-size-desktop-small;
    margin-top: 3px;
  }

  &__header-label p {
    text-transform: uppercase;
    color: $title-color;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 8px;
  }

  &__amount-label p {
    text-transform: uppercase;
    color: $title-color;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-size: $font-size-desktop-body;
  }
}

@include media-breakpoint-up(lg) {
  p {
    margin-bottom: 0;
  }

  .col-lg-4 {
    padding: 0 24px;
  }

  .app-basic-title {
    margin: 14px 0 24px 0;
  }

  .dropdown-divider {
    margin-bottom: 48px;
  }

  .btn-primary {
    margin: 17px 0 8px 0;
  }

  .invest__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .invest {
    &__range-labels {
      margin-top: 0;
    }

    &__text-right {
      text-align: right;
      display: block;
      margin-top: 0;
    }
  }
  .right {
    &__amount {
      padding: 32px 0;
      font-size: 21px;
      line-height: 25px;
    }
  }
  .alert-danger {
    span,
    .btn-danger {
      display: block;
    }

    .btn-mobile {
      display: none;
    }
  }

  .estimated {
    &-calculator {
      .row {
        padding-left: 10px;
        padding-right: 10px;
      }

      .col-lg {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__content {
      align-items: center;
      justify-content: space-between;
      border: 1px solid #E5E5E5;
      margin-bottom: 32px;
      padding-left: 4px;
      padding-right: 4px;
    }

    &__return-label p {
      padding-bottom: 17px;
      padding-left: 14px;
      padding-top: 128px;
    }

    &__total-label h2 {
      font-size: $font-size-mobile-title;
      padding-top: 40px;
      padding-left: 8px;
    }

    &__invested-label p {
      font-size: $font-size-desktop-body;
      color: $icons-color;
      padding-top: 8px;
      padding-left: 8px;
    }

    &__return-header {
      background: $background-color;
      font-size: $font-size-desktop-small;
      margin-top: 40px;
    }

    &__header-label p {
      text-transform: uppercase;
      color: $title-color;
      padding-top: 13px;
      padding-left: 24px;
      padding-bottom: 13px;
    }

    &__amount-label p {
      text-transform: uppercase;
      color: $title-color;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: $font-size-desktop-body;
      border-right: 1px solid #e5e5e5;
      padding-left: 24px;
    }
  }
  .funds__bottom {
    display: none;
  }
}
