
* {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}
   
   h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
   }

body {
	background-color: #fcfcfc;
	font-size: 16px!important;
}

.card {
	/* border: none!important;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
	border-radius: 5px; */
}

.btn-primary {
	background: #69be94!important;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	border: none!important;
}

.color-app-default {
	color: #69be94
}

.modal-content {
	border-radius: 2px!important;
}

.btn {
	border-radius: 2px!important;
}


.btn-primary:hover {
	background: #47a577!important;
	box-shadow: 0 10px 20px rgba(105, 190, 148, 0.4);
}

.list-group-item {
	border: 1px solid #00000011!important;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
	transition: all 0.3s;
}

.card-app {
	margin-bottom: 20px;
	border: none!important;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;
}

.card-app:hover {
	cursor: pointer;
	box-shadow: -4px 10px 20px rgba(0,0,0,0.1);
	transform: scale(1.03);
}

.explainer-mini {
	font-weight: bold;
	font-size: 14px;
	color: #777;
}

.prim-btn {
	height: 60px;
}

.progress-bar {
	background-color: #494!important;
}


@media(max-width: 800px) {
	.root-content-container {
		padding-left: 1rem!important;
		padding-right: 1rem!important;
		padding-top: 1rem!important;
		padding-bottom: 1rem!important;
	}
}

@media(min-width: 800px) {
	.root-content-container {
		padding-left: 2rem!important;
		padding-bottom: 2rem!important;
		padding-right: 2rem!important;
		padding-top: 2rem!important;
	}
}

.root-content-container {
	background-size: rgb(244,247,250);
}

.font-weight-bold {
	font-weight: 400!important;
}

.cursor-pointer {
	cursor: pointer!important;
}

.gray-text {
	color: #555;
}

.btn-action-a {
	min-height: 60px;
}

.btn-color-facebook {
	background: #3B5998!important;
}

.active {
	background: #47a577!important;
	color: #fff!important;
}

.active-second {
	background: #69be94!important;
	color: #fff!important;
}

.btn-color-google {
	background: #d62d20!important;
}

/* Spinner */
.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
/*End spinner*/

.full-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #00000055;
}

.spinner-pos {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% + 75px);
}



@media (min-width: 768px) {
	.row.equal {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
	}
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

.hover-fg {
	color: #69be94!important;
}

.form-control {
	border: none!important;
    box-shadow: 0px 0px 6px 0px #00000025!important;
}