* {
	font-family: 'Work Sans', sans-serif;
}

body {
	background-color: #fcfcfc;
	font-size: 16px!important;
}

.card {
	border: none!important;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
	border-radius: 5px;
}

.btn-primary {
	background: #2bb791!important;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	border: none!important;
}

.modal-content {
	border-radius: 2px!important;
}

.btn {
	border-radius: 2px!important;
}


.btn-primary:hover {
	background: #48A97B!important;
}

.list-group-item {
	border: 1px solid #00000011!important;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
	transition: all 0.3s;
}

.card-app {
	margin-bottom: 20px;
	border: none!important;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;
}

.card-app:hover {
	cursor: pointer;
	box-shadow: -4px 10px 20px rgba(0,0,0,0.1);
	transform: scale(1.03);
}

.explainer-mini {
	font-weight: bold;
	font-size: 14px;
	color: #777;
}

.prim-btn {
	height: 60px;
}

.progress-bar {
	background-color: #2bb791!important;
}


@media(max-width: 800px) {
	.root-content-container {
		padding-left: 1rem!important;
		padding-right: 1rem!important;
		padding-top: 1rem!important;
		padding-bottom: 1rem!important;
	}
}

@media(min-width: 800px) {
	.root-content-container {
		padding-left: 2rem!important;
		padding-bottom: 2rem!important;
		padding-right: 2rem!important;
		padding-top: 2rem!important;
	}
}

.root-content-container {
	background-size: rgb(244,247,250);
}

.font-weight-bold {
	font-weight: 400!important;
}

.cursor-pointer {
	cursor: pointer!important;
}

.gray-text {
	color: #555;
}

.btn-action-a {
	min-height: 60px;
}

.btn-color-facebook {
	background: #3B5998!important;
}

.btn-color-google {
	background: #d62d20!important;
}

