<div class="d-flex justify-content-around">
    <div *ngIf="!loading">
        <fa-icon [icon]="faIcon" *ngIf="!loading && faIcon"
                 [class.mr-2]="text || textShort"></fa-icon>
        <span class="d-none d-xl-inline-block">{{ text }}</span>
        <span class="d-inline-block d-xl-none">{{ textShort }}</span>
    </div>

    <div *ngIf="loading" class="loading-text">
        <app-spinner type="inline" color="{{ spinnerColor }}"></app-spinner>
        <span>{{ loadingText }}</span>
    </div>
</div>
