@import "app";

button {
  width: 100%;

  .loading-text {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      padding-left: 0.5rem
    }
  }
}

.item__icon {
  span {
    font-size: $font-size-mobile-title-small;
  }
  svg {
    font-size: $font-size-mobile-title-small;
  }
}

@include media-breakpoint-up(lg) {
  .item__icon {
    span {
      font-size: $font-size-desktop-body2;
    }
    svg {
      font-size: $font-size-desktop-body2;
    }
  }
}

.btn-mobile {
  height: 48px;
}

@include media-breakpoint-up(lg) {
  .btn-mobile {
    height: 64px;
  }
}
