@import "app";

button {
  width: 100%;

  .loading-text {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      padding-left: 0.5rem
    }
  }
}

.btn-mobile {
  height: 48px;
}

@include media-breakpoint-up(lg) {
  .btn-mobile {
    height: 64px;
  }
}
