<div class="container">
  <div class="row">
    <div class="input-group mb-3 col-md-4">
      <input type="number" class="form-control" placeholder="Swift/BIC" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 col-md-8">
      <input type="number" class="form-control" placeholder="IBAN" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="col-md-12 text-left mt-4">
      <h5 class="text-uppercase font-weight-bold">CONFIRM YOUR ACCOUNT</h5>
      <div class="mb-3">
        Please send a transaction to the following account with the provided code placed in  the 
        "description" field.
      </div>
      <div><b>SWIFT</b>: BNK1233</div>
      <div><b>IBAN</b>: 1234 5586 3499 4876 3321</div>
      <div><b>CODE</b>: M27B2C3X</div>
    </div>
    <div class="col-md-12">
      <button class="w-25 text-uppercase btn btn-primary btn-action-a float-right">ADD</button>
    </div>
    
  </div>
</div>