.title-holder {
    height: 60px;
}

.card-img-overlay {
    background-color: #55000075;
}

.project-holder {
	margin-bottom: 20px;
	border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;

}

.project-holder:hover {
	cursor: pointer;
	box-shadow: -4px 10px 20px rgba(0,0,0,0.1);
	transform: scale(1.03);
}