<div *ngIf="{
    organization: organization$ | async,
    orgWallet: orgWallet$ | async,
    orgMembers: orgMembers$ | async
} as states" class="container">
    <ng-container *ngIf="!!states.organization else spinner">
        <div class="app-page-header">
            <div class="app-page-title-back" (click)="backToGroupsScreen()">
                <i class="fas fa-long-arrow-alt-left mr-3"></i>
                Investment group details
            </div>
            <button [disabled]="!isWalletVerified(states.orgWallet)"
                    class="btn"
                    routerLink="create_project">
                <i class="fas fa-plus mr-lg-3"></i>
                <span class="btn__text">Create project</span>
            </button>
        </div>

        <ng-container *ngIf="!!states.orgWallet else spinner">
            <div class="content">
                <div class="organization-info">
                    <div class="organization__img">
                        <img src="{{ states.organization.header_image }}" alt="">
                    </div>
                    <div class="organization__desc">
                        <div class="desc__title"> {{ states.organization.name }} </div>
                        <div class="desc__project-count"><b>{{ states.organization.project_count }} </b>
                            {{ states.organization.project_count === 1 ? "Project" : "Projects" }}
                        </div>
                        <div class="desc__info"> {{ states.organization.description }} </div>
                    </div>
                </div>

                <div *ngIf="!isWalletVerified(states.orgWallet)">
                    <div class="alert alert-warning flex__center col-lg-10">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                        This group is pending approval from admin. During this time, you can't create new projects.
                    </div>
                </div>

                <div class="tabs">
                    <tabset>
                        <tab heading="Projects">
                            <div class="manage__projects">
                                <app-manage-projects [groupID]="states.organization.uuid"></app-manage-projects>
                            </div>
                        </tab>
                        <tab heading="Members">
                            <div class="manage__members">
                                <div class="invite-members">
                                    <div class="invite__form">
                                        <form [formGroup]="inviteForm" style="display: contents">
                                            <div class="form__input col-11 col-lg-5">
                                                <input class="input-reg w-100" name=""
                                                       placeholder="Add members"
                                                       formControlName="emails"
                                                       type="text" value="">
                                            </div>
                                            <div class="form__cta col-lg-2">
                                                <button app-action-button
                                                        text="Add members" loadingText="Inviting..."
                                                        faIcon="fas fa-plus"
                                                        [onClick]="inviteClicked(states.organization.uuid).bind(this)"
                                                        [disabled]="!inviteForm.valid" class="btn btn-success">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <p class="invite__desc col-lg-7">Separated emails by comma e.g <b>joe@mail.com,
                                        jane@mail.com</b></p>
                                </div>

                                <div class="users__list">
                                    <ng-container *ngIf="!!states.orgMembers else spinner">
                                        <ul class="list-group">
                                            <li *ngFor="let member of states.orgMembers"
                                                class="list__item flex__center-space">
                                                <div class="item__left">
                                                    <div class="item__name">{{ member.first_name | titlecase }} {{ member.last_name | titlecase }}</div>
                                                    <div class="item__email">{{ member.email }}</div>
                                                    <span class="d-inline-block d-lg-none item__joined">
                                                        Joined {{ member.member_since | date:'mediumDate' }}
                                                    </span>
                                                </div>
                                                <div class="item__right">
                                                    <div class="item__joined">
                                                        <span class="d-none d-lg-inline-block">
                                                            Joined {{member.member_since | date: "longDate"}}
                                                        </span>
                                                    </div>

                                                    <span class="item__icon"
                                                          (click)="deleteMember(states.organization.uuid, member.uuid)">
                                                        <i class="fas fa-trash-alt cursor-pointer"></i>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div *ngIf="states.orgMembers.length === 0"
                                             class="w-100 pt-3 pb-3 text-center explainer-mini">
                                            You are the only member of {{ states.organization.name }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #spinner>
        <app-spinner type="overlay"></app-spinner>
    </ng-template>
</div>
