<div class="container root-content-container">

  <div *ngIf="organization != 'undefined'">
    <div class="row">
      <div class="col-md-12">
          <h3 class="float-left">{{organization.name}}</h3>
          <span class="float-right">
            <button disabled class="btn btn-primary disabled btn-action-a px-5">
              <i class="fas fa-plus mr-3"></i>
              Create project
            </button>
          </span>
      </div>
    </div>
  </div>

  <div *ngIf="orgWallet == undefined" class="row">
    <div class="row pt-5">
      <div class="col-md-12 text-center mt-5 d-flex justify-content-center">
        <div class="pairing-text">
          For security reasons, you must authorize the group with your wallet. This is done automatically by scanning
          the QR code with your
          <b>AMPnet Wallet</b> application.
        </div>
      </div>
      <div class="col-md-12 mt-5 d-flex justify-content-center">
        <canvas class="" id="pairing-code"></canvas>
      </div>
    </div>
  </div>

  <div *ngIf="orgWallet != undefined">
    <div class="row mt-5 pt-5">
      <div class="col-md-12">
        <div class="alert alert-warning">
          This group is pending approval from admin. During this time, you can't create new projects.
        </div>
      </div>
      <div class="col-md-12">
        
      </div>
      <div class="col-md-12 mt-3">
        <hr>
      </div>
    </div>
  </div>


</div>