<div *ngIf="{
    project: project$ | async,
    wallet: projectWallet$ | async,
    updateForm: updateForm$ | async
} as states">
    <div class="container" id="core-root-manager">
        <ng-container *ngIf="!!states.project && !!states.wallet else spinner">
            <div *ngIf="states.wallet !== walletState.EMPTY">
                <div class="app-page-header flex__center">
                    <div class="app-page-title-back" (click)="backToOrganizationDetailsScreen()">
                        <i class="fas fa-long-arrow-alt-left mr-3"></i>
                        {{ states.project.organization?.name }}
                    </div>
                    <button class="btn btn-center"
                            [routerLink]="['/dash', 'offers', states.project.uuid] | coopPath">
                        <i class="fas fa-caret-right mr-lg-3"></i>
                        <span class="btn__text">Preview</span>
                    </button>
                </div>
                <div class="edit-project">
                    <ng-container *ngIf="states.project.main_image">
                        <div class="project__img">
                            <img src="{{states.project.main_image}}" alt="Project image">
                        </div>
                    </ng-container>

                    <div *ngIf="!isWalletVerified(states.wallet)">
                        <div class="alert alert-warning flex__center">
                            <i class="fas fa-exclamation-triangle mr-3"></i>
                            <b>This project is pending approval from admin. During this time, the project cannot be
                                publicly shown.</b>
                        </div>
                    </div>

                    <div class="edit-header">
                        <div class="edit__title">
                            <h4>{{ states.project.name }}</h4>
                        </div>
                        <div class="edit__state">
                            {{ states.project.active ? "Public" : "Hidden" }}
                        </div>
                    </div>
                    <div class="tabs">
                        <tabset>
                            <tab heading="Details" (selectTab)="detailsShown=true">
                                <ng-container *ngIf="states.updateForm as updateForm">
                                    <div class="edit-info">
                                        <form [formGroup]="updateForm" style="width: 100%">
                                            <div class="row">
                                                <div class="edit-left col-lg-7">
                                                    <div class="left__name">
                                                        <label for="project-name">Project name</label>
                                                        <input aria-describedby="basic-addon1"
                                                               aria-label="Username" class="input-reg w-100"
                                                               id="project-name"
                                                               formControlName="name"
                                                               type="text">
                                                    </div>
                                                    <div class="left__desc">
                                                        <label for="project-description">Description</label>
                                                        <div class="input-group">
                                                            <textarea class="input-reg w-100" cols="30"
                                                                      id="project-description"
                                                                      formControlName="description"
                                                                      rows="10">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="left__roi">
                                                        <div class="roi__label">Expected ROI % (From - To)</div>
                                                        <form class="roi__inputs" formGroupName="roi">
                                                            <input class="input-reg w-50"
                                                                   formControlName="from"
                                                                   type="number">
                                                            <input class="input-reg w-50"
                                                                   formControlName="to"
                                                                   type="number">
                                                        </form>
                                                    </div>
                                                    <div class="left__dates">
                                                        <div class="dates__label flex__center-space">
                                                            Dates (From - To)
                                                            <i class="fas fa-lock"></i>
                                                        </div>
                                                        <div>
                                                            <input class="input-reg w-50" disabled
                                                                   [value]="states.project.start_date | date:'mediumDate'"
                                                                   type="text">
                                                            <input class="input-reg w-50" disabled
                                                                   [value]="states.project.end_date | date:'mediumDate'"
                                                                   type="text">
                                                        </div>
                                                    </div>
                                                    <div class="left__investments">
                                                        <div class="investments__label flex__center-space">
                                                            Investment per member € (From - To)
                                                            <i class="fas fa-lock"></i>
                                                        </div>

                                                        <div>
                                                            <input class="input-reg w-50" disabled
                                                                   [value]="states.project.min_per_user | currencyDefault"
                                                                   type="text">

                                                            <input class="input-reg w-50" disabled
                                                                   [value]="states.project.max_per_user | currencyDefault"
                                                                   type="text">
                                                        </div>
                                                    </div>
                                                    <div class="left__expected-funding">
                                                        <div class="funding__label flex__center-space">
                                                            Expected funding €
                                                            <i class="fas fa-lock"></i>
                                                        </div>
                                                        <input class="input-reg w-100" disabled
                                                               [value]="states.project.expected_funding | currencyDefault"
                                                               type="text">
                                                    </div>
                                                </div>

                                                <div class="edit-right col-lg-5">
                                                    <div class="right__upload-img">
                                                        <div class="upload__label">Project image</div>
                                                        <div class="d-flex">
                                                            <div class="row">
                                                                <div class="col-12 uppy-img">
                                                                    <app-upload-area areaID='project-image'
                                                                                     style="width: max-content;"
                                                                                     [restrictions]="{
                                                                                        allowedFileTypes: ['image/*'],
                                                                                        maxFileSize: 10 * 1024 * 1024,
                                                                                        maxNumberOfFiles: 1
                                                                                     }"
                                                                                     [firstFileControl]="updateForm.get('newImage')">
                                                                    </app-upload-area>
                                                                </div>
                                                                <div class="col-12 uppy-img__content">
                                                                    <ng-container
                                                                            *ngIf="updateForm.get('newImage').value || states.project.main_image else noProjectImageSet">
                                                                        <img [src]="(updateForm.get('newImage').value | safe:'fileUrl') || states.project.main_image"
                                                                             style="width: 100%;">
                                                                    </ng-container>
                                                                    <ng-template #noProjectImageSet>
                                                                        <div class="text-center">
                                                                            Project has no image set
                                                                        </div>
                                                                    </ng-template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="right__location">
                                                        <div class="location__label">Location</div>
                                                        <div class="map-holder">
                                                            <app-location-map [editable]="true"
                                                                              [latControl]="updateForm.get('location.lat')"
                                                                              [lngControl]="updateForm.get('location.long')">
                                                            </app-location-map>
                                                        </div>
                                                    </div>

                                                    <div class="right__upload-docs">
                                                        <div class="upload__label">Project files</div>
                                                        <div class="d-flex">
                                                            <div class="row">
                                                                <div class="col-12 uppy-docs">
                                                                    <app-upload-area areaID='project-image'
                                                                                     style="width: max-content"
                                                                                     [restrictions]="{
                                                                                        allowedFileTypes: ['image/*', 'application/pdf', 'application/zip', 'audio/*', 'video/*'],
                                                                                        maxFileSize: 10 * 1024 * 1024,
                                                                                        maxNumberOfFiles: 20
                                                                                     }"
                                                                                     [filesControl]="updateForm.get('newDocuments')">
                                                                    </app-upload-area>
                                                                </div>
                                                                <div class="col-12 uppy-docs__content">
                                                                    <ng-container
                                                                            *ngIf="states.project.documents?.length > 0 else noDocuments">
                                                                        <div *ngFor="let file of states.project.documents; let i = index">
                                                                            <div class="uppy-docs__content">
                                                                                <div class="flex__center-space">
                                                                                    <div class="docs__name"
                                                                                         style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                                                                                        {{ file.name }}
                                                                                    </div>
                                                                                    <div class="docs__icons">
                                                                                        <span (click)="deleteFile(states.project, file.id).subscribe()"
                                                                                              class="mr-3 cursor-pointer gray-text">
                                                                                        <i class="fas fa-trash"></i>
                                                                                        </span>
                                                                                        <a class="cursor-pointer gray-text"
                                                                                           href="{{ file.link }}">
                                                                                            <i class="fas fa-file-download"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                    <ng-template #noDocuments>
                                                                        <div class="text-center uppy-docs__content">
                                                                            No files added
                                                                        </div>
                                                                    </ng-template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-container>
                            </tab>

                            <tab heading="News" (selectTab)="detailsShown=false">
                                <div class="edit-news">
                                    <p class="news__title">Project news</p>
                                    <div class="news__form">
                                        <form [formGroup]="newsForm">
                                            <div class="col-lg-8 row">
                                                <div class="col-11 form__input">
                                                    <input class="input-reg w-100" id="newsLink"
                                                           placeholder="Enter link (e.g. https://portal.com/news)"
                                                           formControlName="newsLink"
                                                           type="text">
                                                </div>
                                                <div class="col-1 form__btn">
                                                    <app-action-button
                                                            faIcon="fa-plus ml-n2 ml-lg-0"
                                                            [disabled]="!newsForm.dirty || !newsForm.valid"
                                                            [onClick]="addNewsLink(states.project, newsForm).bind(this)"
                                                            buttonClass="w-100 btn">
                                                    </app-action-button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="news__list col-lg-8">
                                        <ul class="list-group">
                                            <li *ngFor="let item of states.project.news"
                                                class="list__item flex__center-space">
                                                <a href="{{ item }}" target="_blank"
                                                   style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                                                    {{ item }}
                                                </a>
                                                <div (click)="deleteNewsClicked(states.project, item).subscribe()"
                                                     class="cursor-pointer">
                                                    <i class="fas fa-trash-alt"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="Manage Payments" (selectTab)="detailsShown=false">
                                <div class="edit-payments">
                                    <app-manage-payments [showProjectTitle]="false"></app-manage-payments>
                                </div>
                            </tab>
                        </tabset>
                    </div>

                </div>
            </div>
        </ng-container>
    </div>

    <div class="cta" *ngIf="detailsShown">
        <ng-container *ngIf="states.updateForm as updateForm">
            <div class="container">
                <div class="cta__inner row col-lg-4">
                    <div class="col-5 col-lg-6">
                        <app-action-button text="{{ states.project.active ? 'Hide project' : 'Show project' }}"
                                           textShort="{{ states.project.active ? 'Hide' : 'Show' }}"
                                           faIcon="{{ states.project.active ? 'fa-eye-slash' : 'fa-eye' }}"
                                           loadingText="Updating..."
                                           [disabled]="!isWalletVerified(states.wallet)"
                                           [onClick]="toggleProjectStatusClicked(states.project).bind(this)"
                                           buttonClass="btn btn-info">
                        </app-action-button>
                    </div>
                    <div class="col-7 col-lg-6">
                        <app-action-button text="Update all"
                                           loadingText="Updating..."
                                           [disabled]="!(updateForm.dirty && updateForm.valid)"
                                           [onClick]="updateProject(states.project, updateForm).bind(this)"
                                           buttonClass="btn"
                                           faIcon="far fa-check mr-3">
                        </app-action-button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <ng-template #spinner>
        <app-spinner type="overlay"></app-spinner>
    </ng-template>
</div>
