<div *ngIf="{
    project: project$ | async,
    wallet: projectWallet$ | async,
    updateForm: updateForm$ | async
} as states">
    <div class="container" id="core-root-manager">
        <ng-container *ngIf="!!states.project && !!states.wallet else spinner">
            <div *ngIf="states.wallet !== walletState.EMPTY">
                <div class="app-page-header">
                    <a [routerLink]="" appBackNavigation class="nostyle w-100">
                        <div class="app-page-title-back">
                            <fa-icon icon="long-arrow-alt-left" class="mr-3"></fa-icon>
                            {{ 'general.back.title' | translate }}
                        </div>
                    </a>

                    <button class="btn btn-center"
                            [routerLink]="['/dash', 'offers', states.project.uuid] | coopPath">
                        <fa-icon icon="caret-right" class="mr-lg-3"></fa-icon>
                        <span class="btn__text">
                            {{ 'projects.edit.preview' | translate }}
                        </span>
                    </button>
                </div>
                <div class="edit-project">
                    <ng-container *ngIf="states.project.main_image">
                        <div class="project__img app__full-width">
                            <img src="{{states.project.main_image}}" alt="Project image">
                        </div>
                    </ng-container>

                    <div *ngIf="!isWalletVerified(states.wallet)">
                        <div class="alert alert-warning flex__center">
                            <fa-icon icon="exclamation-triangle" class="mr-3"></fa-icon>
                            <b>
                                {{ 'projects.edit.wallet_not_verified_notice' | translate }}
                            </b>
                        </div>
                    </div>

                    <div class="edit-header app__full-width--padding">
                        <div class="edit__title">
                            <h4>{{ states.project.name }}</h4>
                        </div>
                        <div class="edit__state">
                            {{ (states.project.active ?
                                'projects.edit.active.public' : 'projects.edit.active.hidden') | translate }}
                        </div>
                    </div>
                    <div class="tabs">
                        <tabset>
                            <tab heading="{{ 'projects.edit.details.title' | translate }}"
                                 (selectTab)="detailsShown=true">
                                <ng-container *ngIf="states.updateForm as updateForm">
                                    <div class="edit-info">
                                        <form [formGroup]="updateForm" style="width: 100%">
                                            <div class="row">
                                                <div class="edit-left col-lg-7">
                                                    <div class="left__name">
                                                        <label for="project-name">
                                                            {{ 'projects.edit.details.name_input.title' | translate }}
                                                        </label>
                                                        <input class="input-reg w-100"
                                                               id="project-name"
                                                               formControlName="name"
                                                               type="text">
                                                    </div>
                                                    <div class="left__desc">
                                                        <label for="project-short-description">
                                                            {{ 'projects.edit.details.short_description_input.title' | translate }}
                                                        </label>
                                                        <div class="input-group">
                                                            <textarea class="input-reg w-100" cols="30"
                                                                      id="project-short-description"
                                                                      formControlName="short_description"
                                                                      rows="10">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="left__desc">
                                                        <label for="project-description">
                                                            {{ 'projects.edit.details.description_input.title' | translate }}
                                                        </label>
                                                        <div class="input-group">
                                                            <quill-editor id="project-description"
                                                                          formControlName="description"
                                                                          style="max-width: 100%"
                                                                          [styles]="{ height: '50vh' }">
                                                            </quill-editor>
                                                        </div>
                                                    </div>
                                                    <div class="left__roi">
                                                        <div class="roi__label">
                                                            {{ 'projects.edit.details.roi_input.title' | translate }}
                                                        </div>
                                                        <form class="roi__inputs" formGroupName="roi">
                                                            <input class="input-reg w-50"
                                                                   formControlName="from"
                                                                   type="number">
                                                            <input class="input-reg w-50"
                                                                   formControlName="to"
                                                                   type="number">
                                                        </form>
                                                    </div>
                                                    <div class="left__dates">
                                                        <div class="dates__label flex__center--space">
                                                            {{ 'projects.edit.details.date_range_input.title' | translate }}
                                                            <fa-icon icon="lock"></fa-icon>
                                                        </div>
                                                        <div>
                                                            <input class="input-reg w-50" disabled
                                                                   [value]="states.project.start_date | date:'mediumDate'"
                                                                   type="text">
                                                            <input class="input-reg w-50" disabled
                                                                   [value]="states.project.end_date | date:'mediumDate'"
                                                                   type="text">
                                                        </div>
                                                    </div>
                                                    <div class="left__investments">
                                                        <div class="investments__label flex__center--space">
                                                            {{ 'projects.edit.details.investment_range_input.title' | translate }}
                                                            <fa-icon icon="lock"></fa-icon>
                                                        </div>

                                                        <div>
                                                            <input class="input-reg w-50" disabled
                                                                   [value]="states.project.min_per_user | currencyDefault"
                                                                   type="text">

                                                            <input class="input-reg w-50" disabled
                                                                   [value]="states.project.max_per_user | currencyDefault"
                                                                   type="text">
                                                        </div>
                                                    </div>
                                                    <div class="left__expected-funding">
                                                        <div class="funding__label flex__center--space">
                                                            {{ 'projects.edit.details.expected_funding_input.title' | translate }}
                                                            <fa-icon icon="lock"></fa-icon>
                                                        </div>
                                                        <input class="input-reg w-100" disabled
                                                               [value]="states.project.expected_funding | currencyDefault"
                                                               type="text">
                                                    </div>
                                                </div>

                                                <div class="edit-right col-lg-5">
                                                    <div class="right__upload-img">
                                                        <div class="upload__label">
                                                            {{ 'projects.edit.details.project_image_input.title' | translate }}
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="row">
                                                                <div class="col-12 uppy-img">
                                                                    <app-upload-area areaID='project-image'
                                                                                     style="width: max-content;"
                                                                                     [restrictions]="{
                                                                                        allowedFileTypes: ['image/*'],
                                                                                        maxFileSize: 10 * 1024 * 1024,
                                                                                        maxNumberOfFiles: 1
                                                                                     }"
                                                                                     [firstFileControl]="updateForm.get('newImage')">
                                                                    </app-upload-area>
                                                                </div>
                                                                <div class="col-12 uppy-img__content">
                                                                    <ng-container
                                                                            *ngIf="updateForm.get('newImage').value || states.project.main_image else noProjectImageSet">
                                                                        <img [src]="(updateForm.get('newImage').value | safe:'fileUrl') || states.project.main_image"
                                                                             style="width: 100%;">
                                                                    </ng-container>
                                                                    <ng-template #noProjectImageSet>
                                                                        <div class="text-center">
                                                                            {{ 'projects.edit.details.project_image_input.no_image_notice' | translate }}
                                                                        </div>
                                                                    </ng-template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="right__location">
                                                        <div class="location__label">
                                                            {{ 'projects.edit.details.location_input.title' | translate }}
                                                        </div>
                                                        <div class="map-holder app__full-width">
                                                            <app-location-map [editable]="true"
                                                                              [latControl]="updateForm.get('location.lat')"
                                                                              [lngControl]="updateForm.get('location.long')">
                                                            </app-location-map>
                                                        </div>
                                                    </div>

                                                    <div class="right__upload-docs">
                                                        <div class="upload__label">
                                                            {{ 'projects.edit.details.project_files_input.title' | translate }}
                                                        </div>
                                                        <app-upload-area areaID='project-image'
                                                                         style="width: max-content"
                                                                         [restrictions]="{
                                                                                        allowedFileTypes: ['image/*', 'application/pdf', 'application/zip', 'audio/*', 'video/*'],
                                                                                        maxFileSize: 10 * 1024 * 1024,
                                                                                        maxNumberOfFiles: 20
                                                                                     }"
                                                                         [filesControl]="updateForm.get('newDocuments')">
                                                        </app-upload-area>
                                                        <ng-container
                                                                *ngIf="states.project.generic_documents?.length > 0 else noDocuments">
                                                            <div *ngFor="let file of states.project.generic_documents; let i = index">
                                                                <div class="uppy-docs__content mt-2">
                                                                    <div class="flex__center--space">
                                                                        <div class="docs__name"
                                                                             style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                                                                            {{ file.name }}
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <a [routerLink]=""
                                                                               (click)="deleteFile(states.project, file.id).subscribe()">
                                                                                <span class="mr-3 gray-text">
                                                                                    <fa-icon icon="trash"></fa-icon>
                                                                                </span>
                                                                            </a>
                                                                            <a class="cursor-pointer gray-text"
                                                                               href="{{ file.link }}">
                                                                                <fa-icon icon="file-download"
                                                                                         class="mr-2"></fa-icon>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                        <ng-template #noDocuments>
                                                            <div class="text-center uppy-docs__content">
                                                                {{ 'projects.edit.details.project_files_input.no_files_notice' | translate }}
                                                            </div>
                                                        </ng-template>
                                                    </div>

                                                    <div class="right__upload-docs mt-3">
                                                        <div class="upload__label">
                                                            {{ 'projects.edit.details.terms_file_input.title' | translate }}
                                                        </div>
                                                        <app-upload-area *ngIf="!states.project.terms_document"
                                                                         areaID='project-terms'
                                                                         style="width: max-content"
                                                                         [restrictions]="{
                                                                            allowedFileTypes: ['image/*', 'application/pdf', 'application/zip', 'audio/*', 'video/*'],
                                                                            maxFileSize: 10 * 1024 * 1024,
                                                                            maxNumberOfFiles: 1
                                                                         }"
                                                                         [firstFileControl]="updateForm.get('newTerms')">
                                                        </app-upload-area>
                                                        <div class="mt-2">
                                                            <ng-container
                                                                    *ngIf="states.project.terms_document; else noTermsFile">
                                                                <div class="uppy-docs__content mt-2">
                                                                    <div class="flex__center--space">
                                                                        <div class="docs__name"
                                                                             style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                                                                            {{ states.project.terms_document.name }}
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <a [routerLink]=""
                                                                               (click)="deleteFile(states.project, states.project.terms_document.id).subscribe()">
                                                                                <span class="mr-3 gray-text">
                                                                                    <fa-icon icon="trash"></fa-icon>
                                                                                </span>
                                                                            </a>
                                                                            <a class="cursor-pointer gray-text"
                                                                               href="{{ states.project.terms_document.link }}">
                                                                                <fa-icon icon="file-download"
                                                                                         class="mr-2"></fa-icon>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                            <ng-template #noTermsFile>
                                                                {{ 'projects.edit.details.terms_file_input.no_file' | translate }}
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-container>
                            </tab>

                            <tab heading="{{ 'projects.edit.news.title' | translate }}"
                                 (selectTab)="detailsShown=false">
                                <div class="edit-news">
                                    <p class="news__title">
                                        {{ 'projects.edit.news.news_input.title' | translate }}
                                    </p>
                                    <div class="news__form col-lg-8">
                                        <form [formGroup]="newsForm">
                                            <div class="row">
                                                <div class="col-lg-11 form__input">
                                                    <input class="input-reg w-100" id="newsLink"
                                                           placeholder="{{ 'projects.edit.news.news_input.placeholder' | translate }}"
                                                           formControlName="newsLink"
                                                           type="text">
                                                </div>
                                                <div class="col-lg-1 form__btn">
                                                    <button app-action-button
                                                            faIcon="plus"
                                                            [disabled]="!newsForm.dirty || !newsForm.valid"
                                                            [onClick]="addNewsLink(states.project, newsForm).bind(this)"
                                                            class="w-100 btn ml-lg-0">
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="news__list col-lg-8">
                                        <ul class="list-group">
                                            <li *ngFor="let item of states.project.news"
                                                class="list__item flex__center--space">
                                                <a href="{{ item }}"
                                                   target="_blank" rel="noopener noreferrer"
                                                   style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                                                    {{ item }}
                                                </a>
                                                <a [routerLink]=""
                                                   (click)="deleteNewsClicked(states.project, item).subscribe()">
                                                    <fa-icon icon="trash-alt"></fa-icon>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="{{ 'projects.edit.manage_payments.title' | translate }}"
                                 *ngIf="(isProjectOwner$ | async) && isWalletVerified(states.wallet)"
                                 (selectTab)="detailsShown=false">
                                <div class="edit-payments">
                                    <app-manage-payments></app-manage-payments>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="cta" *ngIf="detailsShown">
        <ng-container *ngIf="states.updateForm as updateForm">
            <div class="container">
                <div class="cta__inner row col-lg-5">
                    <div class="col-5 col-lg-6">
                        <button app-action-button
                                text="{{ (states.project.active ? 'projects.edit.hide' : 'projects.edit.show') | translate }}"
                                textShort="{{ (states.project.active ? 'projects.edit.hide.short' : 'projects.edit.show.short') | translate }}"
                                faIcon="{{ states.project.active ? 'eye-slash' : 'eye' }}"
                                [disabled]="!isWalletVerified(states.wallet)"
                                [onClick]="toggleProjectStatusClicked(states.project).bind(this)"
                                class="btn btn-info">
                        </button>
                    </div>
                    <div class="col-7 col-lg-6">
                        <button app-action-button
                                text="{{ 'projects.edit.update' | translate }}"
                                loadingText="{{ 'projects.edit.update.loading' | translate }}"
                                [disabled]="!(updateForm.dirty && updateForm.valid)"
                                [onClick]="updateProject(states.project, updateForm).bind(this)"
                                class="btn w-100 p-0 mr-3"
                                faIcon="check">
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <ng-template #spinner>
        <div class="w-100">
            <app-spinner type="overlay"></app-spinner>
        </div>
    </ng-template>
</div>
