@import "app";

.proj-image {
    max-height: 300px;
    object-fit: cover;
}

@media (min-width: 800px) {
    .pairing-text {
        width: 50%;
    }
}

@include media-breakpoint-up(lg) {
  .edit-project {
    .project {
      &__img {
        display: none;
      }
    }
  }
}
