<div class="container">
    <h1 class="app-page-title">
        {{ 'admin.bank_account.title' | translate }}
    </h1>
    <div class="row my-3">
        <ng-container *ngIf="(banks$ | async) as banks; else spinner">
            <div *ngFor="let paymentOption of banks" class="col-md-12 mb-3">
                <div class="card">
                    <div class="tw-flex tw-justify-between tw-p-4">
                        <div>
                            <div>
                                <span class="tw-uppercase tw-font-bold">{{ 'admin.bank_account.item.iban' | translate }}</span>
                                <span class="tw-ml-4">{{ paymentOption.iban }}</span>
                            </div>
                            <div>
                                <span class="tw-uppercase tw-font-bold">{{ 'admin.bank_account.item.swift' | translate }}</span>
                                <span class="tw-ml-4">{{ paymentOption.bank_code }}</span>
                            </div>
                            <div>
                                <span class="tw-uppercase tw-font-bold">{{ 'admin.bank_account.item.bank_name' | translate }}</span>
                                <span class="tw-ml-4">{{ paymentOption.bank_name }}</span>
                            </div>
                            <div>
                                <span class="tw-uppercase tw-font-bold">{{ 'admin.bank_account.item.bank_address' | translate }}</span>
                                <span class="tw-ml-4">{{ paymentOption.bank_address }}</span>
                            </div>
                            <div>
                                <span class="tw-uppercase tw-font-bold">{{ 'admin.bank_account.item.beneficiary_name' | translate }}</span>
                                <span class="tw-ml-4">{{ paymentOption.beneficiary_name }}</span>
                            </div>
                        </div>
                        <div class="tw-flex-grow-0">
                            <div class="text-uppercase mb-2">
                                {{ 'admin.bank_account.item.actions' | translate }}
                            </div>
                            <a [routerLink]="" (click)="deleteBankAccountClicked(paymentOption.id)">
                                    <span class="float-right align-middle">
                                        <fa-icon icon="trash-alt"></fa-icon>
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="banks !== undefined && banks.length === 0" class="col-md-12">
                <div class="text-center">
                    {{ 'admin.bank_account.empty' | translate }}
                </div>
                <div class="col-md-12 mb-5 mt-5">
                    <button class="btn btn-primary w-100 py-3 float-right" routerLink="new">
                        <fa-icon icon="plus-circle" class="mr-2"></fa-icon>
                        <span>
                            {{ 'admin.bank_account.add_new' | translate }}
                        </span>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #spinner>
    <div class="justify-content-center" style="width: 100%">
        <app-spinner type="overlay"></app-spinner>
    </div>
</ng-template>
