<div *ngIf="isOverview">
    <app-header></app-header>
</div>

<div class="container" [class.overview-modifier]="isOverview">
    <h1 class="app-page-title">OFFERS</h1>
    <ng-container *ngIf="(projectsWallets$ | async) as projectsWallets else loadingProjects">
        <div id="component-container" *ngIf="projectsWallets.length > 0">
            <div *ngFor="let projectWallet of projectsWallets"
                 style="visibility:hidden"
                 class="fadeIn wow single-item">
                <div class="app__full-width">
                    <app-single-offer-item [projectWallet]=projectWallet></app-single-offer-item>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3"
             *ngIf="projectsWallets.length === 0">
            <p>No projects currently available for crowdfunding.</p>
        </div>
    </ng-container>
    <ng-template #loadingProjects>
        <app-spinner type="overlay"></app-spinner>
    </ng-template>
</div>
