h3 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.promoted-offer-holder {
    height: 200px;
}

.overview-modifier {
    margin-top: 100px;
}

h1.offers-title {
    margin-bottom: 3rem;
    font-size: 36px;
    position: relative;
    max-width: 250px;
    text-align: center;
}

h1.offers-title:before {
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background-color: #111111;
    position: absolute;
    left: 0;
    top: 50%;
}

@media (max-width: 800px) {
    h1.offers-title {
        font-size: 12px;
        max-width: 80px;
        margin: 0 0 1rem 0;
    }
    
    h1.offers-title:before {
        height: 1px;
        width: 10px;
    }
}



.overview-bg {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    /* background: url("../../assets/waves.jpg"); */
    background-size: cover;
}

.col-md-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
