<div *ngIf="type === 'inline'" style="display: flex">
    <div class="spinner-border spinner-border-sm"
         [style.color]="color"
         role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="type === 'overlay'" class="row justify-content-center"
     style="align-content: center; height: 50vh;">
    <div class="spinner-border"
         style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
